<div class="block-header">
    <span class="block-name">{[print(xabber.getString("searching__chat_properties__header"))]}</span>
</div>
<div class="chat-properties-wrap selectable-text">
    <div class="info-wrap jid-info-wrap">
        <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="xmpp"></svg>
        <div class="info jabber-id">
            <div class="value one-line">{{jid}}</div>
            <div class="label">{[print(xabber.getString("group_settings__properties__label_jid"))]}</div>
        </div>
    </div>
    <div class="info-wrap name-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-account-box-outline"></i>
        <div class="info name">
            <div class="value one-line">{{name}}</div>
            <div class="label">{[print(xabber.getString("groupchat_name"))]}</div>
        </div>
    </div>
    <div class="info-wrap description-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-file-document-box"></i>
        <div class="info description">
            <div class="value one-line">{{description}}</div>
            <div class="label">{[print(xabber.getString("groupchat_description"))]}</div>
        </div>
    </div>
    <div class="info-wrap anonymous-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-comment-question-outline"></i>
        <div class="info anonymous">
            <div class="value one-line">{{privacy}}</div>
            <div class="label">{[print(xabber.getString("groupchat_privacy_type_incognito"))]}</div>
        </div>
    </div>
    <div class="info-wrap model-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-lock-open-outline"></i>
        <div class="info model">
            <div class="value one-line">{{membership}}</div>
            <div class="label">{[print(xabber.getString("groupchat_membership"))]}</div>
        </div>
    </div>
</div>
<button class="btn-join-chat btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">{[print(xabber.getString("groupchat_join"))]}</button>
