<div class="block-header">
    <span class="block-name">Chat properties</span>
</div>
<div class="chat-properties-wrap selectable-text">
    <div class="info-wrap jid-info-wrap">
        <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="xmpp"></svg>
        <div class="info jabber-id">
            <div class="value one-line">{{jid}}</div>
            <div class="label">Jabber ID</div>
        </div>
    </div>
    <div class="info-wrap name-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-account-box-outline"></i>
        <div class="info name">
            <div class="value one-line">{{name}}</div>
            <div class="label">Name</div>
        </div>
    </div>
    <div class="info-wrap description-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-file-document-box"></i>
        <div class="info description">
            <div class="value one-line">{{description}}</div>
            <div class="label">Description</div>
        </div>
    </div>
    <div class="info-wrap anonymous-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-comment-question-outline"></i>
        <div class="info anonymous">
            <div class="value one-line">{{anonymous}}</div>
            <div class="label">Anonymous</div>
        </div>
    </div>
    <div class="info-wrap model-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-lock-open-outline"></i>
        <div class="info model">
            <div class="value one-line">{{membership}}</div>
            <div class="label">Membership</div>
        </div>
    </div>
</div>
<button class="btn-join-chat btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">Join</button>
