<div class="notification-subscription-item" data-account-jid="{{account}}" data-jid="{{jid}}">
    <div class="avatar-wrap">
        <div class="circle-avatar"></div>
    </div>
    <div class="subcription-main-wrap">
        <div class="subscription-item-name">{{name}}</div>
        <div class="subscription-item-jid">{{jid}}</div>
        <div class="subscription-item-buttons-wrap">
            <div class="btn-flat btn-add btn-main-filled">{[print(xabber.getString("add"))]}</div>
            <div class="btn-flat btn-decline btn-main">{[print(xabber.getString("decline"))]}</div>
            <div class="btn-flat btn-block btn-main text-color-red-500">{[print(xabber.getString("block"))]}</div>
        </div>
    </div>
</div>
