<div class="notification-subscription-item" data-account-jid="{{account}}" data-jid="{{jid}}">
    <div class="avatar-wrap">
        <div class="circle-avatar"></div>
        <div class="notification-icon ground-color-500">+</div>
    </div>
    <div class="subcription-main-wrap">
        <div class="subscription-item-name">{{name}}</div>
        <div class="subscription-item-jid">{{jid}}</div>
        {[if (text) {]}
        <div class="subscription-item-text">{{text}}</div>
        <div class="subscription-item-text-backup hidden">{{text}}</div>
        {[}]}
        <div class="subscription-item-buttons-wrap">
            <div class="subscription-button btn-add text-color-500">{[print(xabber.getString("contact_add"))]}</div>
            <div class="subscription-button btn-decline">{[print(xabber.getString("decline"))]}</div>
            <div class="subscription-button btn-block text-color-red-500">{[print(xabber.getString("block"))]}</div>
        </div>
    </div>
</div>
