<div class="notification-subscriptions-wrap notifications-subscriptions">
    <div class="notification-subscriptions-header">
        {[print(xabber.getString("notifications_window__subscriptions_header"))]}
    </div>
    <div class="notification-subscriptions-content-wrap">
    </div>
    <div class="notification-subscriptions-button-wrap">

        <div class="notification-subscriptions-button filter-item-wrap" data-filter="subscription">
            {[print(xabber.getString("show_all"))]}
        </div>
    </div>
</div>