<div class="notifications-content-filters no-select">
    <div class="notifications-filter-main-header">{[print(xabber.getString("notifications_window__header"))]}</div>
    <div class="notifications-type-filter">
        <div class="notifications-filter-header">{[print(xabber.getString("notifications_window__filters_header"))]}</div>
        <div class="notifications-type-filter-content">
            <div class="filter-item-wrap selected-filter" data-filter="all">
                <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="bell"></svg>
                <div class="name one-line">{[print(xabber.getString("notifications_window__type_filter_all"))]}</div>
            </div>
            <div class="filter-item-wrap" data-filter="security">
                <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="security"></svg>
                <div class="name one-line">{[print(xabber.getString("notifications_window__type_filter_security"))]}</div>
            </div>
        </div>
    </div>
    <div class="notifications-account-filter">
        <div class="notifications-filter-header">{[print(xabber.getString("notifications_window__account_filter_header"))]}</div>
        <div class="notifications-account-filter-content">
        </div>
    </div>
</div>
<div class="notifications-right-wrap">
    <div class="notifications-utility">

    </div>
    <div class="notifications-content">

    </div>
</div>
