<div class="notification-outgoing-subscription-item" data-account-jid="{{account}}" data-jid="{{jid}}">
    <div class="avatar-wrap">
        <div class="account-indicator-background-exclude">
            <div class="account-indicator ground-color-700"></div>
            <div class="circle-avatar subscribe-avatar"></div>
        </div>
        <div class="circle-avatar subscribe-avatar"></div>
        <div class="notification-icon subscribe-icon ground-color-500"></div>
    </div>
    <div class="subcription-main-wrap">
        <div class="subscription-item-name">{{name}}</div>
        <div class="subscription-item-jid">{{jid}}</div>
    </div>
    <i class="btn-cancel-outgoing mdi mdi-24px mdi-close dropdown-button"></i>
</div>
