<div class="modal-content-wrap">
    <div class="modal-header">
        <span>Add new group chat</span>
    </div>
    <div class="modal-content">
        <div class="row account-field">
            <div class="field-header">Account</div>
            <div class="multiple-acc">
                <div class="account-dropdown-wrap">
                    <div class="dropdown-button" data-activates="select-account-for-add-contact">
                        <div class="account-item-wrap">
                        </div>
                        <div class="caret">
                            <i class="mdi mdi-20px mdi-menu-down"></i>
                        </div>
                    </div>
                    <div id="select-account-for-add-contact" class="dropdown-content noselect">
                    </div>
                </div>
            </div>
            <div class="single-acc">
                <div class="dropdown-button">
                    <div class="account-item-wrap">
                    </div>
                </div>
            </div>
        </div>
        <div class="row name-field">
            <div class="input-field input-group-chat-name">
                <input id="new_chat_name" type="text" name="chat_name" required>
                <label for="new_chat_name">Group chat name</label>
            </div>
            <div class="input-field input-group-chat-jid">
                <input id="new_chat_jid" type="text" name="chat_jid">
                <label for="new_chat_jid">Group Jid</label>
                <div class="field-jid"></div>
            </div>
            <div class="input-field input-group-chat-anonymous">
                <input id="new_chat_anonymous" class="filled-in" type="checkbox" name="chat_anonymous">
                <label for="new_chat_anonymous">Anonymous</label>
            </div>
            <div class="input-field input-group-chat-searchable">
                <input id="new_chat_searchable" class="filled-in" type="checkbox" name="chat_searchable">
                <label for="new_chat_searchable">Searchable</label>
            </div>
            <div class="input-field input-group-chat-description">
                <input id="new_chat_description" type="text" name="chat_description">
                <label for="new_chat_description">Description</label>
            </div>
            <div class="input-field input-group-chat-model">
                <!--<input id="new_chat_model" type="text" name="chat_model">-->
                <select size="1" id="new_chat_model" name="chat_model">
                    <option value="open" selected>Open</option>
                    <option value="member-only">Member-only</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="errors"></span>
        <button class="btn-flat btn-main btn-add">Add</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button>
    </div>
</div>