<div class="left-column noselect">
    <div class="main-info-wrap xabber-info-wrap">
        <div class="picture-wrap">
            <img class="logo" src="{{CLIENT_LOGO}}"/>
        </div>
        <div class="name">{{CLIENT_NAME}}</div>
        <div class="version"></div>
    </div>
</div>
</div>

<div class="right-column noselect">
    <div class="settings-panel-head">
        <span>{[print(xabber.getString("category_about"))]}</span>
    </div>

    <div class="panel-content-wrap">
        <div class="panel-content">
            <div class="settings-block-wrap about">
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__preamble_1", [constants.SHORT_CLIENT_NAME, constants.SHORT_CLIENT_NAME]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__preamble_2", [`<a href="${CLIENT_URL}" target="_blank">${CLIENT_URL}</a>`]))]}</div>
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_1__header"))]}</span>
                </div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_1__text"))]}</div>

                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_2__header"))]}</span>
                </div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_2__text", [constants.SHORT_CLIENT_NAME]))]}</div>

                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_3__header"))]}</span>
                </div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_3__text_1", [constants.CLIENT_NAME, `<a href="${DEVELOPER_URL}" target="_blank">${xabber.getString("client_developer_company_name")}</a>`, constants.SHORT_CLIENT_NAME]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_3__text_2", [constants.SHORT_CLIENT_NAME]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_3__text_3"))]}</div>
                <div class="block-content flex-content">
                    <img class="logo" src="images/redsolution-logo.png"/>
                    <a href="https://twitter.com/Xabber_XMPP" target="_blank"><div class="btn-social twitter-color">
                        <i class="mdi mdi-28px mdi-twitter"></i>
                    </div></a>
                    <a href="${CLIENT_GITHUB_URL}" target="_blank"><img class="btn-social github-logo" src="images/ic_github.png"/></a>
                </div>

                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_4__header"))]}</span>
                </div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_4__text_1", [constants.SHORT_CLIENT_NAME]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_4__text_2", [`<a href="${PROJECT_CROWDIN_URL}" target="_blank">${xabber.getString("web_client__screen_about__block_4__text_2__link__text", [constants.SHORT_CLIENT_NAME])}</a>`]))]}</div>

                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_5__header"))]}</span>
                </div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_5__text_1", [constants.CLIENT_NAME, `<a href="${CLIENT_GITHUB_URL}" target="_blank">${xabber.getString("web_client__screen_about__block_5__text_1__link__text")}</a>`]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_5__text_2"))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_5__text_3", [constants.SHORT_CLIENT_NAME, xabber.getString("client_developer_company_name"), `<a href="${DEVELOPER_URL}" target="_blank">${xabber.getString("client_developer_company_full_name")}</a>`]))]}</div>
                <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_5__text_4", [constants.CLIENT_NAME, `<a href="${CLIENT_LICENSE_GITHUB_URL}" target="_blank">${xabber.getString("web_client__screen_about__block_5__text_4__link__text")}</a>`]))]}</div>
            </div>
        </div>
    </div>
</div>