    <div class="left-column noselect">
        <div class="main-info-wrap xabber-info-wrap">
            <div class="picture-wrap">
                <img class="logo" src="images/xabber-logo-96.png"/>
            </div>
            <div class="name">{{constants.CLIENT_NAME}}</div>
            <div class="version"></div>
        </div>
    </div>

    <div class="right-column noselect">
        <div class="settings-panel-head">
            <span>{[print(xabber.getString("category_about"))]}</span>
        </div>

        <div class="panel-content-wrap">
            <div class="panel-content">
                <div class="settings-block-wrap about">
                    <div class="block-content">{[print(xabber.getString("web_client__screen_about__preamble_1", [constants.SHORT_CLIENT_NAME, constants.SHORT_CLIENT_NAME]))]}</div>
                    <div class="block-content">{[print(xabber.getString("web_client__screen_about__preamble_2", [`<a href="https://www.xabber.com" target="_blank">https://www.xabber.com</a>`]))]}</div>
                    <div class="block-header">
                        <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_1__header"))]}</span>
                    </div>
                    <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_1__text"))]}</div>

                    <div class="block-header">
                        <span class="block-name">{[print(xabber.getString("web_client__screen_about__block_2__header"))]}</span>
                    </div>
                    <div class="block-content">{[print(xabber.getString("web_client__screen_about__block_2__text", [constants.SHORT_CLIENT_NAME]))]}</div>

                    <div class="block-header">
                        <span class="block-name">Developers</span>
                    </div>
                    <div class="block-content">
                        Xabber for Web was originally developed by <a href="http://redsolution.com" target="_blank">Redsolution</a> — an international software and services company currently based in Estonia. Since then, a number of individuals joined Xabber as developers, testers and translators.
                    </div>
                    <div class="block-content">
                        Our goal is to create a stable, reliable, interoperable and user friendly ecosystem for instant messaging that does not rely on proprietary services and data silos. We welcome anyone who believes in open standards and free information interchange to take part in moving Xabber forward.
                    </div>
                    <div class="block-content">
                        Follow us on Twitter and Github.
                    </div>
                    <div class="block-content flex-content">
                        <img class="logo" src="images/redsolution-logo.png"/>
                        <a href="https://twitter.com/Xabber_XMPP" target="_blank"><div class="btn-social twitter-color">
                            <i class="mdi mdi-28px mdi-twitter"></i>
                        </div></a>
                        <a href="https://github.com/redsolution/xabber-web" target="_blank"><img class="btn-social github-logo" src="images/ic_github.png"/></a>
                    </div>


                    <div class="block-header">
                        <span class="block-name">Translators</span>
                    </div>
                    <div class="block-content">
                        Xabber is available in multiple languages thanks to many fine people from all over the world. We have created a special page on our website to acknowledge their efforts.
                    </div>
                    <div class="block-content">
                        You may join their ranks and help us improve translation quality by contributing your translations to <a href="https://crowdin.com/project/xabber" target="_blank">Xabber project</a>
                    </div>

                    <div class="block-header">
                        <span class="block-name">License</span>
                    </div>
                    <div class="block-content">
                        Xabber for Web source code is licensed under GNU AGPL v.3 license and is available on <a href="https://github.com/redsolution/xabber-web" target="_blank">GitHub</a>
                    </div>
                    <div class="block-content">
                        Graphical images are licensed under Creative Commons Attribution Share-Alike (CC BY-SA) license.
                    </div>
                    <div class="block-content">
                        Xabber & Redsolution logo are property of <a href="https://redsolution.com" target="_blank">Redsolution, OÜ</a>
                    </div>
                    <div class="block-content">
                        View Xabber for Web <a href="https://github.com/redsolution/xabber-web/blob/master/LICENSE" target="_blank">license file</a> for more information.
                    </div>
                </div>
            </div>
        </div>
    </div>
