    <div class="left-column noselect">
        <div class="main-info-wrap xabber-info-wrap">
            <div class="picture-wrap">
                <img class="logo" src="images/xabber-logo-96.png"/>
            </div>
            <div class="name">Xabber.Web</div>
            <div class="version"></div>
        </div>
    </div>

    <div class="right-column noselect">
        <div class="settings-panel-head">
            <span>About</span>
        </div>

        <div class="panel-content-wrap">
            <div class="panel-content">
                <div class="settings-block-wrap about">
                    <div class="block-content">
                        Xabber for Web is an open-source XMPP messenger built to work in any modern browser on any operating system. Like Xabber for Android, It is built around open standards, interoperability, design and user experience. Both versions are built to provide a continuous chat experience between platforms.
                    </div>
                    <div class="block-content">
                        You will find more information on our official website <a href="https://www.xabber.com" target="_blank">https://www.xabber.com</a>
                    </div>
                    <div class="block-header">
                        <span class="block-name">XMPP protocol</span>
                    </div>
                    <div class="block-content">
                        Extensible Messaging and Presence Protocol (XMPP) is a communications protocol for message-oriented middleware based on XML (Extensible Markup Language). It enables the near-real-time exchange of structured yet extensible data between any two or more network entities. The protocol was originally named Jabber, and was developed by the Jabber open-source community in 1999 for near real-time instant messaging (IM),presence information, and contact list maintenance.
                    </div>

                    <div class="block-header">
                        <span class="block-name">XMPP Extension Protocols</span>
                    </div>
                    <div class="block-content">
                        XMPP is highly extensible, via extensions known as XEPs (XMPP Extension Protocol). Xabber supports a number of popular XEPs that are essential to providing great chat experience for our users.
                    </div>

                    <div class="block-header">
                        <span class="block-name">Developers</span>
                    </div>
                    <div class="block-content">
                        Xabber for Android was originally developed by <a href="http://redsolution.com" target="_blank">Redsolution, Inc.</a> — an international software and services company based in Russia and United States. Xabber was licensed under GNU GPL v.3 license early in 2013. Since then, a number of individuals joined Xabber as developers, testers and translators.
                    </div>
                    <div class="block-content">
                        Xabber for Web was released in August 2017 under GNU AGPL v.3 license.
                    </div>
                    <div class="block-content">
                        Our goal is to create a stable, reliable and user friendly ecosystem for instant messaging that does not rely on proprietary services. We welcome anyone who believes in open standards and free information interchange to take part in moving Xabber forward.
                    </div>
                    <div class="block-content">
                        Follow us on <a href="https://twitter.com/Xabber_XMPP" target="_blank">Twitter</a> and <a href="https://github.com/redsolution/xabber-web" target="_blank">Github</a>.
                    </div>

                    <div class="block-header">
                        <span class="block-name">License</span>
                    </div>
                    <div class="block-content">
                        Xabber for Web source code is licensed under GNU AGPL v.3 license and is available on GitHub.
                    </div>
                    <div class="block-content">
                        Graphical images are licensed under Creative Commons Attribution Share-Alike (CC BY-SA) license.
                    </div>
                    <div class="block-content">
                        Xabber & Redsolution logo are property of Redsolution, Inc.
                    </div>
                    <div class="block-content">
                        View Xabber for Web <a href="https://github.com/redsolution/xabber-web/blob/master/LICENSE" target="_blank">license file</a> for more information.
                    </div>
                </div>
            </div>
        </div>
    </div>
