<div class="code-modal-wrap">
    <div class="modal-header">
        {[print(xabber.getString("show_code__modal_header"))]}
        <svg class="mdi btn-cancel mdi-24px mdi-svg-template" data-svgname="close"></svg>
    </div>
    <div class="modal-content">
        <div class="code-contact-text 1b-step session-step">{[print(xabber.getString("show_code__contact_device_text"))]}</div>
        <div class="code-contact-text 1a-step session-step">{[print(xabber.getString("show_code__contact_device_text"))]}</div>
        <div class="session-awaiting-response-text 0a-step session-step">
            {[print(xabber.getString("session_modal__awaiting_response_text"))]}
        </div>
        <div class="session-incoming-request-text 0b-step session-step">
            {[print(xabber.getString("session_modal__incoming_request_text"))]}
        </div>
        <div class="code-device-info-wrap">
            <div class="circle-avatar"></div>
            <div class="code-device-name"></div>
            <div class="code-device-jid text-color-500"></div>
        </div>
        <div class="code-contact-text-tip ">
            <ol class="1b-step session-step" type="1">
                <li class="part-one 1b-step session-step"></li>
                <li class="part-two 1b-step session-step">{[print(xabber.getString("show_code__contact_device_tip_text_part_two"))]}</li>
            </ol>
            <ol class="1a-step session-step" type="1">
                <li class="part-one 1a-step session-step"></li>
                <li class="part-two 1a-step session-step">{[print(xabber.getString("show_code__enter_code_contact_device_tip_text_part_two"))]}</li>
            </ol>
        </div>
        <div class="enter-code-buttons-wrap 1a-step session-step">
            <input id="code_enter" type="text" class="code-enter 1a-step session-step input-glow" name="code_enter">
        </div>
        <div class="code-text 1b-step session-step"></div>
        <div class="active-session-buttons-wrap no-select">
            <div class="btn-cancel-session 1b-step session-step btn-flat btn-main btn-dark ">{[print(xabber.getString("show_code__cancel_session"))]}</div>
            <button class="btn-enter-code 1a-step session-step btn-flat btn-main-filled ground-color-500">{[print(xabber.getString("show_code__complete_verification"))]}</button>
            <div class="btn-cancel-session 1a-step session-step btn-flat btn-main btn-dark">{[print(xabber.getString("show_code__cancel_session"))]}</div>
            <div class="btn-accept-session btn-flat btn-main-filled 0b-step session-step ground-color-500">{[print(xabber.getString("accept"))]}</div>
            <div class="btn-reject-session btn-flat btn-main 0b-step session-step">{[print(xabber.getString("reject"))]}</div>
            <div class="btn-cancel-session 0a-step session-step btn-flat btn-main btn-dark ">{[print(xabber.getString("show_code__cancel_session"))]}</div>
            <div class="btn-close 0a-step session-step btn-flat btn-main btn-dark ">{[print(xabber.getString("close"))]}</div>
        </div>
    </div>
</div>