<div class="modal-header">{[print(xabber.getString("settings__section_appearance__header_toolbar_icons_color"))]}</div>
<div class="material-color-picker-wrap">
    <div class="material-color-picker">
        {[materialColors.forEach(function (color) {]}
        <div data-color-name="{{color.color}}" class="color-palette-wrapper">
            {[var default_color = color.variations.find(v => v.weight == 500);]}
            <div data-weight="500" data-hex="{{default_color.hex}}" style="background-color: {{default_color.hex}}" class="color-palette-item">
            </div>
            {[color.variations.forEach(function (variation) {]}
            <div data-weight="{{variation.weight}}" data-hex="{{variation.hex}}" style="background-color: {{variation.hex}}" class="color-palette-item">
            </div>
            {[})]}
        </div>
        {[})]}
    </div>
</div>
<div class="modal-footer">
    <div class="hidden selected-color-wrap">
        <div class="selected-color-item"></div>
        <div class="selected-color-info">
            <div class="selected-color-name"></div>
            <div class="selected-color-hex"></div>
            <input class="selected-color-hex-input hidden"/>
        </div>
        <button class="btn-flat btn-main btn-dark btn-set">{[print(xabber.getString("set"))]}</button>
    </div>
</div>