<ul class="color-values noselect">
    <li class="color-value" data-value="red">
        <div class="color-name text-color-red-700">red</div>
        <div class="color-pattern ground-color-red-700"></div>
    </li>
    <li class="color-value" data-value="pink">
        <div class="color-name text-color-pink-700">pink</div>
        <div class="color-pattern ground-color-pink-700"></div>
    </li>
    <li class="color-value" data-value="purple">
        <div class="color-name text-color-purple-700">purple</div>
        <div class="color-pattern ground-color-purple-700"></div>
    </li>
    <li class="color-value" data-value="deep-purple">
        <div class="color-name text-color-deep-purple-700">deep purple</div>
        <div class="color-pattern ground-color-deep-purple-700"></div>
    </li>
    <li class="color-value" data-value="indigo">
        <div class="color-name text-color-indigo-700">indigo</div>
        <div class="color-pattern ground-color-indigo-700"></div>
    </li>
    <li class="color-value" data-value="blue">
        <div class="color-name text-color-blue-700">blue</div>
        <div class="color-pattern ground-color-blue-700"></div>
    </li>
    <li class="color-value" data-value="light-blue">
        <div class="color-name text-color-light-blue-700">light blue</div>
        <div class="color-pattern ground-color-light-blue-700"></div>
    </li>
    <li class="color-value" data-value="cyan">
        <div class="color-name text-color-cyan-700">cyan</div>
        <div class="color-pattern ground-color-cyan-700"></div>
    </li>
    <li class="color-value" data-value="teal">
        <div class="color-name text-color-teal-700">teal</div>
        <div class="color-pattern ground-color-teal-700"></div>
    </li>
    <li class="color-value" data-value="green">
        <div class="color-name text-color-green-700">green</div>
        <div class="color-pattern ground-color-green-700"></div>
    </li>
    <li class="color-value" data-value="light-green">
        <div class="color-name text-color-light-green-700">light green</div>
        <div class="color-pattern ground-color-light-green-700"></div>
    </li>
    <li class="color-value" data-value="lime">
        <div class="color-name text-color-lime-700">lime</div>
        <div class="color-pattern ground-color-lime-700"></div>
    </li>
    <li class="color-value" data-value="amber">
        <div class="color-name text-color-amber-700">amber</div>
        <div class="color-pattern ground-color-amber-700"></div>
    </li>
    <li class="color-value" data-value="orange">
        <div class="color-name text-color-orange-700">orange</div>
        <div class="color-pattern ground-color-orange-700"></div>
    </li>
    <li class="color-value" data-value="deep-orange">
        <div class="color-name text-color-deep-orange-700">deep orange</div>
        <div class="color-pattern ground-color-deep-orange-700"></div>
    </li>
    <li class="color-value" data-value="brown">
        <div class="color-name text-color-brown-700">brown</div>
        <div class="color-pattern ground-color-brown-700"></div>
    </li>
    <li class="color-value" data-value="blue-grey">
        <div class="color-name text-color-blue-grey-700">blue grey</div>
        <div class="color-pattern ground-color-blue-grey-700"></div>
    </li>
</ul>