<div class="modal dialog-modal">
    <div class="modal-header">
        <div class="panel-header black-text">{{header}}</div>
    </div>
    <div class="modal-content">
        <div class="dialog-text">{{text}}</div>
        <div class="dialog-options-wrap">
        {[ for (var idx in dialog_options) { var option = dialog_options[idx]; ]}
            <div class="dialog-option" data-name="{{option.name}}">
                <input type="checkbox" class="filled-in" id="dialog_option_{{option.name}}" {[ if (option.checked) { ]}checked="checked"{[ } ]}/>
                <label for="dialog_option_{{option.name}}">{{option.text}}</label>
            </div>
        {[ } ]}
        </div>
        <div class="container-for-img hidden"><img class="img-from-clipboard"></div>
    </div>
    <div class="modal-footer">
        {[ if (ok_button) { ]}
        <button class="ok-button btn-flat btn-main" data-option=true>{{ok_button.text}}</button>
        {[ } ]}
        {[ if (cancel_button) { ]}
        <button class="cancel-button btn-flat btn-main btn-dark btn-cancel" data-option=false>{{cancel_button.text}}</button>
        {[ } ]}
        {[ for (var idx in optional_buttons) { var button = optional_buttons[idx]; ]}
        <button class="optional-button btn-flat btn-main btn-dark" data-option="{{button.value}}">{{button.name}}</button>
        {[ } ]}
    </div>
</div>
