
    <div class="modal-header">{[print(xabber.getString("duration_modal__header_text"))]}</div>

    <div class="modal-content">
        <div class="duration-inputs-wrap">
            <div class="time-input-controls">
            </div>
            <div class="duration-inputs-container">
                <div class="duration-input-container">
                    <i class="btn-add-day mdi mdi-24px mdi-chevron-up btn-change-duration"></i>
                    <input type="text" min="0" class="duration-input input-glow" name="days_duration" placeholder='0' maxlength="3">
                    <div class="duration-input-label no-select">{[print(xabber.getString("days"))]}</div>
                    <i class="btn-minus-day mdi mdi-24px mdi-chevron-down btn-change-duration btn-minus-duration"></i>
                </div>
                <div class="duration-input-container">
                    <i class="btn-add-hour mdi mdi-24px mdi-chevron-up btn-change-duration"></i>
                    <input type="text" min="0" max="24" class="duration-input input-glow" name="hours_duration" placeholder='0' maxlength="2">
                    <div class="duration-input-label no-select">{[print(xabber.getString("hours"))]}</div>
                    <i class="btn-minus-hour mdi mdi-24px mdi-chevron-down btn-change-duration btn-minus-duration"></i>
                </div>
                <div class="duration-input-container">
                    <i class="btn-add-minute mdi mdi-24px mdi-chevron-up btn-change-duration"></i>
                    <input type="text" min="0" max="60" class="duration-input input-glow" name="minutes_duration" placeholder='0' maxlength="2">
                    <div class="duration-input-label no-select">{[print(xabber.getString("minutes"))]}</div>
                    <i class="btn-minus-minute mdi mdi-24px mdi-chevron-down btn-change-duration btn-minus-duration"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-set">{[print(xabber.getString("set"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    </div>