<div class="row">
    <div class="device-wrap">
        {[if (label) {]}<div title="{{label}}" class="label">{{label}}</div>{[}]}
        <div title="{{id}}" class="device-id">{{id}}</div>
    </div>
    <div title="{{fingerprint}}" class="fingerprint">{{fingerprint}}</div>
    <div data-trust="{{trust}}" class="buttons">
        <div class="dropdown-button" data-activates="select-status-{{id}}">
            <div class="trust-item-wrap btn-main btn-flat">
                <div data-value="{{trust}}">{{trust}}</div>
            </div>
        </div>
        <div id="select-status-{{id}}" class="dropdown-content noselect">
            <div data-value="ignore" class="btn-main text-color-grey-500 btn-ignore btn-flat">Ignore</div>
            <div data-value="trust" class="btn-main btn-flat btn-trust text-color-green-500">Trust</div>
        </div>
    </div>
</div>