<div title="{[print(xabber.getString('omemo__dialog_fingerprints__textfield_device_id_tooltip', [id, (label ? label : 'none')]))]}" class="device-wrap device-fingerprints-part">
    <div class="fingerprint-label">
        <div class="label">{[print(xabber.getString("omemo__dialog_fingerprints__label"))]}:</div>
        <div class="value">{{label}}</div>
    </div>
</div>
<div title="{[print(xabber.getString('omemo__dialog_fingerprints__textfield_device_id_tooltip', [id, (label ? label : 'none')]))]}" class="device-wrap device-fingerprints-part">
    <div class="device-id">
        <div class="label">{[print(xabber.getString("omemo__dialog_fingerprints__label_device_id"))]}:</div>
        <div class="value">{{id}}</div>
    </div>
</div>
<div class="fingerprint-wrap">
    <div title="Device fingerprint" class="fingerprint device-fingerprints-part">
        <div class="label">{[print(xabber.getString("omemo__dialog_fingerprints__fingerprint_label"))]}:</div>
        <div class="value">{{fingerprint}}</div>
    </div>
    {[if (error) {]}
    <div class="fingerprint-error">{{error}}</div>
    {[}]}
    {[if (old_fingerprint){]}<div title="Old device fingerprint" class="old-fingerprint">{{old_fingerprint}}</div>{[}]}
</div>
<div data-trust="{{trust}}" class="buttons device-fingerprints-part">
    {[if (trust !== null && !error) {]}
    <div class="dropdown-button" data-activates="select-status-{{id}}">
        <div class="trust-item-wrap btn-main btn-flat">
            <div data-value="{{trust}}">{[print(xabber.getString(`omemo__dialog_fingerprints__button_${trust}`))]}</div>
        </div>
    </div>
    <div id="select-status-{{id}}" class="dropdown-content noselect fingerprint-dropdown">
        <div data-value="ignore" class="btn-main text-color-grey-500 btn-ignore btn-flat">{[print(xabber.getString("omemo__dialog_fingerprints__button_ignore"))]}</div>
        <div data-value="trust" class="btn-main btn-flat btn-trust text-color-green-500">{[print(xabber.getString("omemo__dialog_fingerprints__button_trust"))]}</div>
        {[if (delete_button){]}
        <div class="btn-main btn-flat btn-delete-fingerprint text-color-red-500">{[print(xabber.getString("omemo__dialog_fingerprints__button_delete"))]}</div>
        {[}]}
    </div>
    {[}]}
</div>