<div class="fingerprints-list-wrap">
    <div class="modal-header fingerprints-header">
        <div class="header"></div>
        <div class="buttons-wrap">
            <!--<button class="btn-verify btn-flat btn-main text-color-500 hover-ground-color-grey-300">{[print(xabber.getString("trust_session__start_verification"))]}</button>-->
            <button class="btn-revoke-trust btn-flat btn-main text-color-500 hover-ground-color-grey-300 hidden">{[print(xabber.getString("trust_session__revoke_all"))]}</button>
        </div>
    </div>
    <div class="fingerprints-content-wrap">
        <div class="fingerprints-unverified-warning hidden">
            <svg class="device-encryption-icon mdi mdi-40px mdi-svg-template" data-svgname="alert"></svg>
            <div class="device-encryption-warning-name one-line">{[print(xabber.getString("fingerprints__encryption_warning_header"))]}</div>
            <div class="device-encryption-warning-label">
                {[print(xabber.getString("fingerprints__encryption_warning_text"))]}
            </div>
            <div class="btn-verify btn-flat btn-main-filled">
                {[print(xabber.getString("trust_session__start_verification"))]}
            </div>
        </div>
        <div class="fingerprints-active-trust-session">
        </div>
        <div class="fingerprints-list-content">
        </div>
        <!--<div class="fingerprints-bottom">-->
            <!--<div class="fingerprints-description-wrap">-->
                <!--<div class="fingerprints-description">{[print(xabber.getString("omemo__dialog_fingerprints__text_description"))]}</div>-->
                <!--<div class="link-about-encryption"><a href="{[print(xabber.getString('omemo__dialog_fingerprints__link_learn_more'))]}" target="_blank">{[print(xabber.getString("omemo__dialog_fingerprints__text_learn_more"))]}</a></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div class="fingerprint-details-wrap fingerprints-devices-wrap hidden">
    <div class="modal-header fingerprints-header">
        <i class="btn-back mdi mdi-24px mdi-arrow-left"></i>
    </div>
    <div class="fingerprints-content">
        <div class="contact-device-content">

        </div>
        <div class="contact-own-device-content">

        </div>
    </div>
    <div class="fingerprints-bottom">
        <div class="fingerprints-help-text">
            {[print(xabber.getString("omemo__dialog_fingerprints__bottom_help_text"))]}
        </div>
    </div>
</div>