<div class="fingerprint-content">
    {[if (svg_icon){]}
        <div class="fingerprint-device-icon">
            <svg class="mdi mdi-72px mdi-svg-template" data-svgname="{{svg_icon}}"></svg>
        </div>
    {[}]}
    <div title="{[print(xabber.getString('omemo__dialog_fingerprints__textfield_device_id_tooltip', [id, (label ? label : 'none')]))]}" class="device-wrap device-fingerprints-part">
        <div class="fingerprint-label">
            <div class="value">{{label}}</div>
        </div>
    </div>
    <div title="{[print(xabber.getString('omemo__dialog_fingerprints__textfield_device_id_tooltip', [id, (label ? label : 'none')]))]}" class="device-wrap device-fingerprints-part">
        <div class="device-id">
            <div class="value">{{id}}</div>
        </div>
    </div>
    <div class="fingerprint-wrap">
        <div title="Device fingerprint" class="fingerprint device-fingerprints-part">
            <div class="label">
                {[if (!edit_setting) {]}
                    {[print(xabber.getString("omemo__dialog_fingerprints__other_fingerprint_label"))]}
                {[} else if (edit_setting === 'contact') {]}
                    {[print(xabber.getString("omemo__dialog_fingerprints__contact_fingerprint_label"))]}
                {[} else {]}
                <span class="text-color-700">{[print(xabber.getString("omemo__dialog_fingerprints__text_this_device"))]}</span> {[print(xabber.getString("omemo__dialog_fingerprints__fingerprint_label"))]}
                {[}]}</div>
            <div class="value">{{fingerprint}}</div>
        </div>
        {[if (error) {]}
        <div class="fingerprint-error">{{error}}</div>
        {[}]}
        {[if (old_fingerprint){]}<div title="Old device fingerprint" class="old-fingerprint">{{old_fingerprint}}</div>{[}]}
    </div>
</div>
<div data-trust="{{trust}}" class="buttons">
    {[if (trust !== null && !error) {]}
    <div class="dropdown-button" data-activates="select-status-{{id}}">
        <div class="trust-item-wrap btn-main btn-flat">
            <div data-value="{{trust}}">{[print(xabber.getString(`omemo__dialog_fingerprints__button_verify_device`))]}</div>
        </div>
    </div>
    <div id="select-status-{{id}}" class="dropdown-content bootstrap-dropdown noselect fingerprint-dropdown">
        <!--<div data-value="ignore" class="property-variant btn-ignore">{[print(xabber.getString("omemo__dialog_fingerprints__button_ignore"))]}</div>-->
        {[if (!edit_setting) {]}
        <div data-value="trust" class="property-variant btn-start-trust-session">{[print(xabber.getString("trust_session__start_verification"))]}</div>
        {[}]}
        <div data-value="trust" class="property-variant btn-trust">{[print(xabber.getString("omemo__dialog_fingerprints__button_trust"))]}</div>
    </div>
    {[}]}
</div>