<div class="modal-header fingerprints-header">
    <div class="contact-devices active">Contact fingerprints</div>
    <div class="own-devices">Own fingerprints</div>
</div>
<div class="fingerprints-content">
    <!--<div class="own-fingerprint-wrap">
        <div class="own-fingerprint">
            <div class="label">Own fingerprint:</div>
            <div class="fingerprint"></div>
        </div>
    </div>-->
    <table>
        <thead><tr>
            <th>device id</th>
            <th>trust</th>
            <th>fingerprint</th>
        </tr>
        </thead>
        <tbody class="contact-fingerprints">
        </tbody>
        <tbody class="own-fingerprints hidden">
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <buttons-wrap>
        <button class="btn-flat btn-main btn-trust">Trust/Revoke</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button>
    </buttons-wrap>
</div>