<div class="modal-header fingerprints-header">
    <div class="contact-devices active">Contact fingerprints</div>
    <div class="own-devices">Own fingerprints</div>
</div>
<div class="fingerprints-content">
    <table>
        <thead><tr>
            <th>device id</th>
            <th>label</th>
            <th>fingerprint</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody class="contact-fingerprints">
        </tbody>
        <tbody class="own-fingerprints hidden">
        </tbody>
    </table>
</div>