<div class="row btn-fingerprint-details"
     data-device-id="{{id}}"
     data-name="{[if (label) {]}{{label}}{[} else {]}{{id}}{[}]}"
     data-fingerprint="{{fingerprint}}"
     data-trust="{{trust}}"
     {[if (old_fingerprint){]}data-old-fingerprint="{{old_fingerprint}}{[}]}"
     {[if (error){]}data-error="{{error}}{[}]}"
>
    <div title="{[print(xabber.getString('omemo__dialog_fingerprints__textfield_device_id_tooltip', [id, (label ? label : 'none')]))]}" class="device-wrap">
        <div class="one-line label">
            {[if (label) {]}{{label}}{[} else {]}{{id}}{[}]}
        </div>
        <div class="device-info-wrap">
            <span class="device-id">{{id}}</span>{[if (trust_type) {]} • <span class="trusted-type">{{trust_type}}</span>{[}]}
        </div>
    </div>
    <div class="device-encryption one-line" data-trust="{{trust}}">
        <svg class="mdi mdi-24px mdi-svg-template device-encryption-lock" data-svgname="lock"></svg>
        <svg class="mdi mdi-24px mdi-svg-template device-encryption-lock" data-svgname="alert"></svg>
        <svg class="mdi mdi-24px mdi-svg-template device-encryption-lock" data-svgname="alert-circle"></svg>
    </div>
</div>