<div class="modal-header fingerprints-header">
    {[print(xabber.getString("omemo__dialog_fingerprints__device_verification_label"))]}
</div>
<div class="fingerprints-content">
    <div class="other-device-content">

    </div>
    <div class="this-device-content">

    </div>
</div>
<div class="fingerprints-bottom">
    <div class="fingerprints-help-text">
        {[print(xabber.getString("omemo__dialog_fingerprints__bottom_help_text"))]}
    </div>
    <div class="btn-main btn-start-trust-session">
        send trust start
    </div>
</div>