<div class="modal-header">
    <div class="panel-header">xabber voice call</div>
    <div class="calling-status"></div>
</div>
<div class="modal-content">
    <div class="contact-info">
        <div class="circle-avatar"/>
        <div class="name one-line"/>
    </div>
    <video autoplay class="webrtc-remote-video hidden"></video>
    <audio autoplay class="webrtc-remote-audio"></audio>
    <div class="buttons-wrap">
        <i class="btn-video mdi mdi-24px mdi-video"></i>
        <i class="btn-volume mdi mdi-24px mdi-volume-high"></i>
        <i class="btn-microphone mdi mdi-24px mdi-microphone"></i>
    </div>
</div>
<div class="modal-footer">
    <i class="btn-accept hidden ground-color-green-700 mdi mdi-24px mdi-phone"></i>
    <i class="btn-cancel ground-color-red-700 mdi mdi-24px mdi-phone-hangup"></i>
    <div class="contact-info"><div class="jid one-line"></div></div>
</div>
