<i class="mdi mdi-phone btn-collapse"></i>
<div class="call-header">
    Xabber voice call
    <div class="calling-status"/>
</div>
<div class="contact-info">
    <div class="name one-line"/>
    <div class="calling-status"/>
</div>
<div class="video-wrap">
    <audio autoplay class="webrtc-remote-audio hidden"/>
    <video autoplay muted class="webrtc-local-video collapsed hidden"/>
    <div class="default-screen">
        <div class="circle-avatar"/>
        <div class="name one-line"/>
    </div>
</div>
<div class="buttons-wrap">
    <svg class="btn-collapse mdi-24px" viewBox="0 0 24 24">
        <path d="M19.5,3.09L15,7.59V4H13V11H20V9H16.41L20.91,4.5L19.5,3.09M4,13V15H7.59L3.09,19.5L4.5,20.91L9,16.41V20H11V13H4Z"/>
    </svg>
    <svg class="btn-full-screen mdi-24px" viewBox="0 0 24 24">
        <path d="M11,21H3V13H5V17.59L17.59,5H13V3H21V11H19V6.41L6.41,19H11V21Z" />
    </svg>
    <i class="btn-volume mdi mdi-24px mdi-volume-high"/>
    <i class="btn-microphone mdi mdi-24px mdi-microphone"/>
    <i class="btn-video mdi mdi-24px mdi-video"/>
    <i class="btn-share-screen mdi mdi-24px mdi-monitor"/>
    <i class="btn-accept ground-color-green-900 mdi mdi-24px mdi-phone"/>
    <i class="btn-cancel ground-color-red-900 mdi mdi-24px mdi-phone-hangup"/>
</div>
<div class="contact-info"><div class="jid one-line"/></div>
