<div class="context-menu-container">
    <div class="context-menu-btn btn-reply-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="reply"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("chat_reply"))]}</div>
    </div>
    <div class="context-menu-btn btn-forward-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="forward"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("chat_froward"))]}</div>
    </div>
    <div class="context-menu-btn btn-copy-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="copy"></svg>
        <div class="context-menu-btn-text"></div>
    </div>
    <div class="context-menu-btn btn-pin">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="pin"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("message_pin"))]}</div>
    </div>
    <div class="context-menu-btn btn-edit-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="edit"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("message_edit"))]}</div>
    </div>
    <div class="context-menu-btn btn-select-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="check"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("select"))]}</div>
    </div>
    <div class="context-menu-btn btn-delete-message">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-red-700" data-svgname="trash"></svg>
        <div class="context-menu-btn-text text-color-red-700">{[print(xabber.getString("delete"))]}</div>
    </div>
</div>
