<div class="notification-context-menu">
    <div class="context-menu-btn btn-select-message">
        <svg class="mdi mdi-20px mdi-svg-template fill-color-grey-500" data-svgname="check"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("select"))]}</div>
    </div>
    <div class="context-menu-btn btn-delete-message">
        <svg class="mdi mdi-20px mdi-svg-template fill-color-red-500" data-svgname="trash"></svg>
        <div class="context-menu-btn-text">{[print(xabber.getString("delete"))]}</div>
    </div>
</div>
