<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="circle-avatar border-color-700">
            <div class="avatar border-color-700"></div>
        </div>
        <div class="btn-escape">
            <i class="mdi mdi-24px mdi-close"></i>
            <span class="btn-text">Esc</span>
        </div>
    </div>
    <div class="panel-content">
        <div class="msg-wrap"><p class="msg-text"></p></div>
        <div class="panel-footer noselect">
            <div class="buttons-wrap">
                <button class="btn-cancel btn-dark btn-flat btn-main">Cancel</button>
                <button class="btn-enable btn-flat btn-main">Enable</button>
            </div>
        </div>
    </div>
</div>
