<div class="msg-text ground-color-300">
    <div class="msg-text-content">
        {[print(xabber.getString("omemo_unverified_device_placeholder_text"))]}
    </div>
</div>
<div class="placeholder-buttons-wrap">
    <button class="btn-verify-devices btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("account_verify_devices"))]}</button>
    <button class="btn-show-code btn-active-session btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("verification_session_show_code_button"))]}</button>
    <button class="btn-enter-code btn-active-session btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("verification_session_enter_code_button"))]}</button>
    <button class="btn-accept-session btn-active-session btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("accept"))]}</button>
    <button class="btn-decline-session btn-active-session btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("reject"))]}</button>
    <button class="btn-manage-devices btn-flat hover-ground-color-500 btn-dark btn-main">{[print(xabber.getString("omemo__alert_new_device__button_manage_devices"))]}</button>
</div>