<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="circle-avatar"></div>
    </div>
    <div class="panel-content">
        <div class="omemo-enable-message"></div>
        <div class="panel-footer noselect">
            <div class="buttons-wrap">
                <button class="btn-cancel btn-dark btn-flat btn-main">Cancel</button>
                <button class="btn-enable btn-flat btn-main">Enable</button>
            </div>
        </div>
    </div>
</div>
