<div class="plyr-player-popup-container">
    <div class="plyr-player-popup-draggable">
        <video class="plyr-player-popup"></video>
    </div>
</div>
<div class="plyr-player-control-tab">
    <i class="mdi mdi-24px mdi-close"></i>
    <div class="mdi mdi-24px mdi-plyr-toolbar-item mdi-open-message mdi-svg-template" data-svgname="message-bookmark-outline"></div>
    <div class="mdi mdi-24px mdi-plyr-toolbar-item mdi-plyr-hide plyr-hide-1 mdi-svg-template" data-svgname="player-mini-variant"></div>
    <div class="mdi mdi-24px mdi-plyr-toolbar-item mdi-plyr-hide plyr-hide-2 mdi-svg-template" data-svgname="player-mini"></div>
</div>