<div class="plyr-player-popup-container">
    <div class="plyr-player-popup-draggable">
        <video class="plyr-player-popup"></video>
        <div class="plyr-player-min-controls-tab">
            <div class="plyr-player-min-controls-buttons">
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-minimize-full mdi-svg-template" data-svgname="player-full"></svg>
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-toggle-play mdi-plyr-play mdi-svg-template" data-svgname="play"></svg>
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-toggle-play mdi-plyr-pause mdi-svg-template" data-svgname="pause"></svg>
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-toggle-mute mdi-mute-plyr mdi-svg-template" data-svgname="volume-off"></svg>
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-toggle-mute mdi-unmute-plyr mdi-svg-template" data-svgname="volume-high"></svg>
                <svg class="mdi mdi-24px mdi-plyr-button-minimized mdi-open-message mdi-svg-template" data-svgname="message-bookmark-outline"></svg>
            </div>
        </div>
    </div>
</div>
<div class="plyr-player-control-tab">
    <i class="mdi mdi-24px mdi-close"></i>
    <svg class="mdi mdi-24px mdi-plyr-toolbar-item mdi-plyr-hide mdi-svg-template" data-svgname="player-mini"></svg>
</div>