<div class="background-overlay"></div>
<div class="settings-panel">
    <div class="settings-transition-wrap">
        <div class="left-column main-left-column settings-column noselect">
            <svg class="btn-add-account mdi mdi-24px mdi-svg-template" data-svgname="contact-add"></svg>
            <div class="single-account-info-wrap account-settings-panel">
                <div class="single-account-info"></div>
            </div>
            <div class="accounts-info-wrap">
                <div class="settings-panel-label">{[print(xabber.getString("settings__menu_item__xmpp_account"))]}</div>
                <div class="settings-divider"></div>
                <span class="no-accounts-tip">{[print(xabber.getString("settings__section_xmpp_accounts__text_no_accounts"))]}</span>
            </div>
            <div class="settings-tabs-wrap global-settings-tabs">
                <div class="settings-panel-label">{[print(xabber.getString("preferences"))]}</div>
                <div class="settings-tab" data-block-name="background">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="palette"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("category_interface"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__background_label"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="notifications">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="client"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__notifications"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__notifications_label"))]}</div>
                </div>
                <div class="settings-tab disabled" data-block-name="data_storage">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="database"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__data_storage"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__data_storage_label"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="privacy">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="group-private"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__privacy"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__privacy_label"))]}</div>
                </div>
                <div class="settings-tab disabled" data-block-name="connection">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="index"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__connection"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__connection_label"))]}</div>
                </div>
                <div class="settings-tab disabled" data-block-name="debug">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="bug"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__debug"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings__menu_item__debug_label"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="interface_language">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="translate"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__interface_language"))]}</div>
                    <div class="settings-block-label one-line"></div>
                </div>
                <div class="settings-tab settings-deletion-button delete-all-accounts">
                    <div class="setting-icon-background">
                        <i class="mdi mdi-24px mdi-logout-variant"></i>
                    </div>
                    <div class="settings-block-name">{[print(xabber.getString("settings__button_quit"))]}</div>
                </div>
            </div>
        </div>

        <div class="right-column main-right-column settings-column hidden noselect">
            <div class="settings-panel-head">
                <i class="btn-back mdi mdi-24px mdi-arrow-left"></i>
                <i class="btn-back-subsettings mdi mdi-24px mdi-arrow-left hidden"></i>
                <span class="settings-panel-head-title">{[print(xabber.getString("preference_editor"))]}</span>
                <div class="description"></div>
            </div>

            <div class="panel-content-wrap">
                <div class="panel-content">

                    <div data-header='{[print(xabber.getString("category_interface"))]}' class="settings-block-wrap background">
                        <div class="settings-tabs-wrap global-settings-tabs">
                            <div class="settings-tab" data-subblock-parent-name="background" data-block-name="appearance">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="palette"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__appearance"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__appearance_label"))]}</div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="background" data-block-name="chats">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="chat"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("chat_viewer"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__chats_label"))]}</div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="background" data-block-name="avatars">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="star-face"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("avatars"))]}</div>
                                <div class="settings-block-label one-line"></div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="background" data-block-name="emoji_font">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="star-face"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__menu_item__emoji_font_header"))]}</div>
                                <div class="settings-block-label one-line"></div>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("settings__menu_item__appearance"))]}' class="settings-block-wrap appearance">
                        <div class="settings-subblock-wrap">
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("settings__section_appearance__header_main_color"))]}</span>
                            </div>
                            <div class="toolbar-main-color-setting-wrap">
                                <div class="setting toolbar-main-color-setting field-wrap">
                                    <div class="client-main-color-picker">
                                        <div class="colors-line">
                                            <div class="client-main-color-item ground-color-red-500 outline-color-red-500" data-value="red">
                                            </div>
                                            <div class="client-main-color-item ground-color-pink-500 outline-color-pink-500" data-value="pink">
                                            </div>
                                            <div class="client-main-color-item ground-color-purple-500 outline-color-purple-500" data-value="purple">
                                            </div>
                                            <div class="client-main-color-item ground-color-deep-purple-500 outline-color-deep-purple-500" data-value="deep-purple">
                                            </div>
                                            <div class="client-main-color-item ground-color-indigo-500 outline-color-indigo-500" data-value="indigo">
                                            </div>
                                        </div>
                                        <div class="colors-line">
                                            <div class="client-main-color-item ground-color-deep-orange-500 outline-color-deep-orange-500" data-value="deep-orange">
                                            </div>
                                            <div class="client-main-color-item ground-color-orange-500 outline-color-orange-500" data-value="orange">
                                            </div>
                                            <div class="client-main-color-item ground-color-cyan-500 outline-color-cyan-500" data-value="cyan">
                                            </div>
                                            <div class="client-main-color-item ground-color-light-blue-500 outline-color-light-blue-500" data-value="light-blue">
                                            </div>
                                            <div class="client-main-color-item ground-color-blue-500 outline-color-blue-500" data-value="blue">
                                            </div>
                                        </div>
                                        <div class="colors-line">
                                            <div class="client-main-color-item ground-color-amber-500 outline-color-amber-500" data-value="amber">
                                            </div>
                                            <div class="client-main-color-item ground-color-lime-500 outline-color-lime-500" data-value="lime">
                                            </div>
                                            <div class="client-main-color-item ground-color-teal-500 outline-color-teal-500" data-value="teal">
                                            </div>
                                            <div class="client-main-color-item ground-color-brown-500 outline-color-brown-500" data-value="brown">
                                            </div>
                                            <div class="client-main-color-item ground-color-blue-grey-500 outline-color-blue-grey-500" data-value="blue-grey">
                                            </div>
                                        </div>
                                        <div class="colors-line">
                                            <div class="client-main-color-item ground-color-light-green-500 outline-color-light-green-500" data-value="light-green">
                                            </div>
                                            <div class="client-main-color-item ground-color-green-500 outline-color-green-500" data-value="green">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("settings__section_appearance__header_toolbar_icons_color"))]}</span>
                            </div>
                            <div class="toolbar-color-setting-wrap">
                                <div class="setting settings-color-padding toolbar-color-setting field-wrap">
                                    <div class="selected-color-wrap">
                                        <div class="selected-color-item"></div>
                                        <div class="selected-color-info">
                                            <div class="selected-color-name"></div>
                                            <div class="selected-color-hex"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("settings__section_appearance__header_background"))]}</span>
                            </div>
                            <div class="background-setting-wrap">
                                <div class="setting background radio-button field-wrap">
                                    <div class="field radio-field clickable-field">
                                        <form action="#">
                                            <p>
                                                <input class="with-gap" name="background" value="default" type="radio" id="{{view.cid}}-default-background" />
                                                <label for="{{view.cid}}-default-background">{[print(xabber.getString("settings__section_appearance__background__label_default"))]}</label>
                                            </p>
                                            <p>
                                                <input class="with-gap" name="background" value="repeating-pattern" type="radio" id="{{view.cid}}-repeating-pattern-background" />
                                                <label for="{{view.cid}}-repeating-pattern-background">{[print(xabber.getString("settings__section_appearance__background__label_pattern"))]}</label>
                                            </p>
                                            <p>
                                                <input class="with-gap" name="background" value="image" type="radio" id="{{view.cid}}-image-background" />
                                                <label for="{{view.cid}}-image-background">{[print(xabber.getString("settings__section_appearance__background__label_image"))]}</label>
                                            </p>
                                        </form>
                                    </div>
                                    <div class="current-background-wrap">
                                        <div class="dark-placeholder">{[print(xabber.getString("settings__section_appearance__background__button_update"))]}</div>
                                        <div class="current-background"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("settings__section_appearance__header_background_effects"))]}</span>
                            </div>
                            <div class="background-setting-wrap">
                                <div class="blur-setting-wrap">
                                    <div class="setting blur-setting checkbox-setting field-wrap">
                                        <div class="input-field checkbox-field">
                                            <input type="checkbox" class="filled-in" id="blur_switch"/>
                                            <label for="blur_switch">{[print(xabber.getString("settings__section_appearance__background__checkbox_blur"))]}</label>
                                        </div>
                                        <form class="range-form" action="#">
                                            <div class="disabled hidden"></div>
                                            <p class="range-field range-field-design">
                                                <input type="range" id="blur" min="0" max="100" />
                                                <span class="thumb"><span class="value"></span></span>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <div class="vignetting-setting-wrap">
                                    <div class="setting vignetting-setting checkbox-setting field-wrap">
                                        <div class="input-field checkbox-field">
                                            <input type="checkbox" class="filled-in" id="vignetting_switch"/>
                                            <label for="vignetting_switch">{[print(xabber.getString("settings__section_appearance__background__checkbox_vignette"))]}</label>
                                        </div>
                                        <form class="range-form" action="#">
                                            <div class="disabled hidden"></div>
                                            <p class="range-field range-field-design">
                                                <input type="range" id="vignetting" min="0" max="200" />
                                                <span class="thumb"><span class="value"></span></span>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("chat_viewer"))]}' class="settings-block-wrap chats">
                        <div class="settings-subblock-wrap">
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("category_behavior"))]}</span>
                            </div>
                            <div class="setting hotkeys radio-button field-wrap">
                                <div class="field radio-field clickable-field">
                                    <form action="#">
                                        <p>
                                            <input class="with-gap" name="hotkeys" value="enter" type="radio" id="{{view.cid}}-enter" />
                                            <label for="{{view.cid}}-enter">{[print(xabber.getString("settings__section_keyboard__label_send_on_enter"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="hotkeys" value="ctrlenter" type="radio" id="{{view.cid}}-ctrlenter" />
                                            <label for="{{view.cid}}-ctrlenter">{[print(xabber.getString("settings__section_keyboard__label_send_on_ctrlenter"))]}</label>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="block-subheader">
                                <span class="block-name">{[print(xabber.getString("settings__menu_item__idle_timeout"))]}</span>
                            </div>
                            <div class="setting idling checkbox-setting field-wrap">
                                <div class="input-field  checkbox-field">
                                    <input type="checkbox" class="filled-in" id="idling"/>
                                    <label for="idling">{[print(xabber.getString("settings__section_notifications__toggle_idling"))]}</label>
                                </div>
                            </div>
                            <div class="setting idling-time field-wrap">
                                <div class="idling-time-input">
                                    <p class="range-field range-field-design">
                                        <input class="materialize-timer" placeholder='{[print(constants.IDLING_DEFAULT_TIMEOUT)]}' id="idle_timeout" min="{[print(constants.IDLING_MINIMAL_TIMEOUT)]}" max="{[print(constants.IDLING_MAXIMUM_TIMEOUT)]}" value="{[print(xabber._settings.get('idling_time'))]}" type="range" name="idle_timeout">
                                        <span class="thumb"><span class="value"></span></span>
                                    </p>
                                </div>
                            </div>
                            <div class="setting-clue">{[print(xabber.getString("settings__menu_item__idle_timeout_clue"))]}</div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("avatars"))]}' class="settings-block-wrap avatars">
                        <div class="settings-subblock-wrap contact-list">
                            <div class="circle-avatar noselect"></div>
                            <div class="setting avatar-shape radio-button field-wrap">
                                <div class="field radio-field clickable-field">
                                    <form action="#">
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="circle" type="radio" id="{{view.cid}}-circle" />
                                            <label for="{{view.cid}}-circle">{[print(xabber.getString("settings__section_appearance__avatars_circle"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="squircle" type="radio" id="{{view.cid}}-squircle" />
                                            <label for="{{view.cid}}-squircle">{[print(xabber.getString("settings__section_appearance__avatars_squircle"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="octagon" type="radio" id="{{view.cid}}-octagon" />
                                            <label for="{{view.cid}}-octagon">{[print(xabber.getString("settings__section_appearance__avatars_octagon"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="hexagon" type="radio" id="{{view.cid}}-hexagon" />
                                            <label for="{{view.cid}}-hexagon">{[print(xabber.getString("settings__section_appearance__avatars_hexagon"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="pentagon" type="radio" id="{{view.cid}}-pentagon" />
                                            <label for="{{view.cid}}-pentagon">{[print(xabber.getString("settings__section_appearance__avatars_pentagon"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="rounded" type="radio" id="{{view.cid}}-rounded" />
                                            <label for="{{view.cid}}-rounded">{[print(xabber.getString("settings__section_appearance__avatars_rounded"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="avatar_shape" value="star" type="radio" id="{{view.cid}}-star" />
                                            <label for="{{view.cid}}-star">{[print(xabber.getString("settings__section_appearance__avatars_star"))]}</label>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__menu_item__emoji_font_header"))]}' class="settings-block-wrap emoji_font hidden">
                        <div class="settings-subblock-wrap contact-list">
                            <div class="setting emoji-font radio-button">
                                <div class="emoji-fonts-list field radio-field clickable-field">
                                </div>
                            </div>
                        </div>
                        <div class="emoji-font-information-wrap">
                            <div class="emojis-preview no-select">
                                <div class="emoji-preview">😀</div>
                                <div class="emoji-preview">😁</div>
                                <div class="emoji-preview">😂</div>
                                <div class="emoji-preview">😋</div>
                                <div class="emoji-preview">😎</div>
                                <div class="emoji-preview">😃</div>
                                <div class="emoji-preview">😄</div>

                                <div class="emoji-preview">🐱</div>
                                <div class="emoji-preview">🐭</div>
                                <div class="emoji-preview">🐛</div>
                                <div class="emoji-preview">🕸</div>
                                <div class="emoji-preview">🕷</div>
                                <div class="emoji-preview">🐢</div>
                                <div class="emoji-preview">🐑</div>

                                <div class="emoji-preview">🍏</div>
                                <div class="emoji-preview">🍜</div>
                                <div class="emoji-preview">🍈</div>
                                <div class="emoji-preview">🍕</div>
                                <div class="emoji-preview">🥢</div>
                                <div class="emoji-preview">🍰</div>
                                <div class="emoji-preview">☕️</div>

                                <div class="emoji-preview">🏋️‍♂️</div>
                                <div class="emoji-preview">🏏</div>
                                <div class="emoji-preview">🏉</div>
                                <div class="emoji-preview">🥇</div>
                                <div class="emoji-preview">🎬</div>
                                <div class="emoji-preview">⚽️</div>
                                <div class="emoji-preview">🎸</div>

                                <div class="emoji-preview">🚗</div>
                                <div class="emoji-preview">🏎</div>
                                <div class="emoji-preview">🎡</div>
                                <div class="emoji-preview">⛴</div>
                                <div class="emoji-preview">🏛</div>
                                <div class="emoji-preview">🏝</div>
                                <div class="emoji-preview">🗿</div>

                                <div class="emoji-preview">🖱</div>
                                <div class="emoji-preview">📡</div>
                                <div class="emoji-preview">🎁</div>
                                <div class="emoji-preview">📬</div>
                                <div class="emoji-preview">⏰</div>
                                <div class="emoji-preview">📹</div>
                                <div class="emoji-preview">📱</div>
                            </div>
                            <div class="preloader-wrap hidden">
                                <div class="preloader-wrapper preloader-20px active ">
                                    <div class="spinner-layer">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="emoji-font-attribution-text hidden"></div>
                            <div class="emoji-font-external-url-text hidden">{[print(xabber.getString("settings__menu_item__emoji_font_external_url_text"))]}</div>
                            <div class="emoji-font-button-background emoji-font-external-url-button hidden">
                                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="download"></svg>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("settings__menu_item__notifications"))]}' class="settings-block-wrap notifications">
                        <div class="settings-tabs-wrap global-settings-tabs">
                            <div class="settings-tab" data-subblock-parent-name="notifications" data-block-name="web-notifications">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="client"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__section_notifications__web_notifications"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings__section_notifications__web_notifications_label"))]}</div>
                                <div class="field notifications-lever clickable-field switch normal">
                                    <label class="field-value">
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="notifications" data-block-name="chats-notifications">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="chat"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__section_notifications__private_chats"))]}</div>
                                <div class="settings-block-label capitalized one-line"></div>
                                <div class="field private-notifications clickable-field switch normal">
                                    <label class="field-value">
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings-tab settings-tab-big-icon" data-subblock-parent-name="notifications" data-block-name="groupchats-notifications">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-32px mdi-svg-template" data-svgname="group-public"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__section_notifications__group_chats"))]}</div>
                                <div class="settings-block-label capitalized one-line"></div>
                                <div class="field group-notifications clickable-field switch normal">
                                    <label class="field-value">
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="notifications" data-block-name="calls-notifications">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="call"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__section_notifications__calls"))]}</div>
                                <div class="settings-block-label capitalized one-line">{[print(xabber.getString("settings__section_notifications__calls_label"))]}</div>
                                <div class="field jingle-calls clickable-field switch normal">
                                    <label class="field-value">
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="notifications" data-block-name="attention-calls">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="alarm-bell"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings__section_notifications__attention_calls"))]}</div>
                                <div class="settings-block-label capitalized one-line"></div>
                                <div class="field call-attention clickable-field switch normal">
                                    <label class="field-value">
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__section_notifications__web_notifications"))]}' class="settings-block-wrap web-notifications">
                        <div class="settings-subblock-wrap">
                            <div class="setting notifications checkbox-setting field-wrap">
                                <div class="input-field checkbox-field">
                                    <input type="checkbox" class="filled-in" id="notifications"/>
                                    <label for="notifications">{[print(xabber.getString("settings__section_notifications__toggle_desktop_notifications"))]}</label>
                                </div>
                            </div>
                            <div class="setting-name volume-setting-name">{[print(xabber.getString("settings__section_notifications__volume"))]}</div>
                            <!--<div class="setting volume-enable checkbox-setting field-wrap">-->
                                <!--<div class="input-field checkbox-field">-->
                                    <!--<input type="checkbox" class="filled-in" id="notifications_volume_enable"/>-->
                                    <!--<label for="notifications_volume_enable">{[print(xabber.getString("settings__section_notifications__volume_enable"))]}</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="setting volume-setting">
                                <form class="range-form" action="#">
                                    <div class="disabled hidden"></div>
                                    <p class="range-field range-field-design">
                                        <input type="range" id="notifications_volume" min="0" max="100" />
                                        <span style="display: none" class="thumb"><span class="value"></span></span>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__section_notifications__private_chats"))]}' class="settings-block-wrap chats-notifications">
                        <div class="settings-subblock-wrap">
                            <div class="setting message-preview checkbox-setting private-preview field-wrap">
                                <div class="input-field notifications-dependant checkbox-field">
                                    <input type="checkbox" class="filled-in" id="preview_private"/>
                                    <label for="preview_private">{[print(xabber.getString("settings__section_notifications__toggle_message_preview"))]}</label>
                                    <div class="desktop-notifications-clue-wrap">
                                        {[print(xabber.getString("settings__section_notifications__desktop_notifications_clue"))]}
                                    </div>
                                </div>
                            </div>
                            <div class="setting-name header-setting">{[print(xabber.getString("settings__menu_item__sounds"))]}</div>
                            <div class="setting sound radio-button field-wrap">
                                <div class="field radio-field clickable-field notification-field">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__section_notifications__group_chats"))]}' class="settings-block-wrap groupchats-notifications">
                        <div class="settings-subblock-wrap">
                            <div class="setting message-preview checkbox-setting group-preview field-wrap">
                                <div class="input-field notifications-dependant checkbox-field">
                                    <input type="checkbox" class="filled-in" id="preview_group"/>
                                    <label for="preview_group">{[print(xabber.getString("settings__section_notifications__toggle_message_preview"))]}</label>
                                    <div class="desktop-notifications-clue-wrap">
                                        {[print(xabber.getString("settings__section_notifications__desktop_notifications_clue"))]}
                                    </div>
                                </div>
                            </div>
                            <div class="setting-name header-setting">{[print(xabber.getString("settings__menu_item__sounds"))]}</div>
                            <div class="setting sound radio-button field-wrap">
                                <div class="field radio-field clickable-field notification-field group-notification-field">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__section_notifications__calls"))]}' class="settings-block-wrap calls-notifications">
                        <div class="settings-subblock-wrap">
                            <div class="setting-name header-setting">{[print(xabber.getString("settings__section_notifications__ringtone"))]}</div>
                            <div class="setting sound radio-button field-wrap">
                                <div class="field radio-field clickable-field ringtone-field">
                                </div>
                            </div>
                            <div class="setting-name header-setting">{[print(xabber.getString("settings__section_notifications__dialtone"))]}</div>
                            <div class="setting sound radio-button field-wrap">
                                <div class="field radio-field clickable-field dialtone-field">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings__section_notifications__attention_calls"))]}' class="settings-block-wrap attention-calls">
                        <div class="settings-subblock-wrap ">
                            <div class="setting-name header-setting">{[print(xabber.getString("settings__section_notifications__ringtone"))]}</div>
                            <div class="setting sound radio-button field-wrap">
                                <div class="field radio-field clickable-field attention-field">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("settings__menu_item__privacy"))]}'  class="settings-block-wrap privacy hidden">
                        <div class="setting load-media checkbox-setting field-wrap">
                            <div class="input-field checkbox-field">
                                <input type="checkbox" class="filled-in" id="load-media"/>
                                <label for="load-media">{[print(xabber.getString("settings__section_privacy__load_media"))]}</label>
                            </div>
                        </div>
                        <div class="setting typing-notifications checkbox-setting field-wrap">
                            <div class="input-field checkbox-field">
                                <input type="checkbox" class="filled-in" id="typing-notifications"/>
                                <label for="typing-notifications">{[print(xabber.getString("settings__section_privacy__typing_notifications"))]}</label>
                            </div>
                        </div>
                        <div class="setting mapping-service checkbox-setting field-wrap">
                            <div class="input-field checkbox-field">
                                <input type="checkbox" class="filled-in" id="mapping-service"/>
                                <label for="mapping-service">{[print(xabber.getString("settings__section_privacy__mapping_service"))]}</label>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("settings__menu_item__interface_language"))]}'  class="settings-block-wrap interface_language hidden">
                        <div class="setting radio-button interface-language-setting">
                            <div class="languages-list field radio-field clickable-field">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
