<div class="toolbar-item all-chats active" title="All chats">
    <div class="border"></div>
    <img class="logo" src="images/xabber-logo.png">
    <span class="all-msg-indicator"></span>
</div>

<div class="toolbar-item chats" title="Chats">
    <div class="border"></div>
    <i class="toolbar-icon mdi mdi-24px mdi-message-text"></i>
    <span class="msg-indicator"></span>
</div>

<div class="toolbar-item group-chats" title="Group chats">
    <div class="border"></div>
    <svg class="toolbar-icon mdi mdi-24px mdi-svg-template" data-svgname="message-group"></svg>
    <span class="group-msg-indicator"></span>
</div>

<div class="toolbar-item archive-chats" title="Archive chats">
    <div class="border"></div>
    <i class="toolbar-icon mdi mdi-24px mdi-archive"></i>
    <span class="archive-msg-indicator hidden"></span>
</div>

<div class="toolbar-item contacts" title="Contacts">
    <div class="border"></div>
    <i class="toolbar-icon mdi mdi-24px mdi-account-multiple"></i>
</div>

<div class="toolbar-item search" title="Search">
    <div class="border"></div>
    <svg class="toolbar-icon mdi mdi-24px" viewBox="0 0 24 24">
        <path fill="#9E9E9E" d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M19.35,8.03C21.95,8.22 24,10.36 24,13C24,14.64 23.21,16.1 22,17V16.5A6.5,6.5 0 0,0 15.5,10A6.5,6.5 0 0,0 9,16.5C9,17 9.06,17.5 9.17,18H6A6,6 0 0,1 0,12C0,8.9 2.34,6.36 5.35,6.03C6.6,3.64 9.11,2 12,2C15.64,2 18.67,4.59 19.35,8.03Z" />
    </svg>
</div>

<div class="add-something-wrap">
    <div class="toolbar-item dropdown-button add-something" data-activates="{{view.cid}}-add" title="Add group chat, contact or account">
        <i class="toolbar-icon mdi mdi-24px mdi-plus"></i>
    </div>

    <div id="{{view.cid}}-add" class="add-variants dropdown-content noselect">
        <div class="add-variant groupchat">
            <i class="mdi mdi-20px mdi-account-multiple-plus"></i>
            <span class="text">Create group chat</span>
        </div>
        <div class="add-variant contact">
            <i class="mdi mdi-20px mdi-account-plus"></i>
            <span class="text">Add contact</span>
        </div>
        <div class="add-variant account">
            <i class="mdi mdi-20px mdi-account-circle"></i>
            <span class="text">Add account</span>
        </div>
    </div>
</div>

<div class="divider noselect"></div>

<div class="accounts-wrap">
    <div class="accounts">
    </div>
</div>

<div class="toolbar-bottom">
    <div class="toolbar-item about" title="About">
        <div class="border"></div>
        <i class="toolbar-icon mdi mdi-24px mdi-information"></i>
    </div>
    <div class="toolbar-item settings" title="Settings">
        <div class="border"></div>
        <i class="toolbar-icon mdi mdi-24px mdi-settings"></i>
    </div>
</div>
