<div class="trust-item-device" data-device-id="{{device.device_id}}">
    <div class="trust-item-wrap">
        {[if (icon === 'contact'){]}
        <svg class="mdi trust-item-icon mdi-24px mdi-svg-template" data-svgname="contacts"></svg>
        {[} else {]}
        <svg class="mdi trust-item-icon mdi-24px mdi-svg-template" data-svgname="device-{{icon}}"></svg>
        {[}]}
    </div>
    <div class="trust-item-label">{[if (label) {]}{{label}}{[} else {]}{{device.device_id}}{[}]}</div>
    <div class="trust-item-trust-type">{[if (ip) {]}{{ip}} • {[}]}{[if (last_auth) {]}{{last_auth}}{[}]}</div>
</div>