<div class="trust-item-device" data-device-id="{{device.device_id}}">
    <div class="trust-item-wrap">
        {[if (icon === 'contact'){]}
        <svg class="mdi trust-item-icon mdi-24px mdi-svg-template" data-svgname="contacts"></svg>
        {[} else {]}
        <svg class="mdi trust-item-icon mdi-24px mdi-svg-template" data-svgname="device-{{icon}}"></svg>
        {[}]}
    </div>
    <div class="trust-item-label">{[if (label) {]}{{label}}{[} else {]}{{device.device_id}}{[}]} • {{jid}}</div>
    <div class="trust-item-trust-type">{{trust_type}}</div>
</div>