<div class="background-overlay"></div>
<div class="settings-panel">
    <div class="settings-transition-wrap">
        <div class="left-column settings-column noselect">
            <div class="settings-account-head">
                <i class="btn-back mdi mdi-24px mdi-arrow-left"></i>
                <div class="name one-line"></div>
                <svg class="btn-color-picker dropdown-button mdi mdi-24px mdi-svg-template" data-activates="color-picker-dropdown" data-svgname="palette"></svg>
                <ul id="color-picker-dropdown" class="dropdown-content color-picker-dropdown bootstrap-dropdown noselect">
                    <div class="property-variant color-picker-button" data-color-value="red">
                        <span class="one-line text-color-red-700">{[print(xabber.getString("account_color_name_red"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="pink">
                        <span class="one-line text-color-pink-700">{[print(xabber.getString("account_color_name_pink"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="purple">
                        <span class="one-line text-color-purple-700">{[print(xabber.getString("account_color_name_purple"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="deep-purple">
                        <span class="one-line text-color-deep-purple-700">{[print(xabber.getString("account_color_name_deep_purple").replace(/-/g, " "))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="indigo">
                        <span class="one-line text-color-indigo-700">{[print(xabber.getString("account_color_name_indigo"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="blue">
                        <span class="one-line text-color-blue-700">{[print(xabber.getString("account_color_name_blue"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="light-blue">
                        <span class="one-line text-color-light-blue-700">{[print(xabber.getString("account_color_name_light_blue").replace(/-/g, " "))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="cyan">
                        <span class="one-line text-color-cyan-700">{[print(xabber.getString("account_color_name_cyan"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="teal">
                        <span class="one-line text-color-teal-700">{[print(xabber.getString("account_color_name_teal"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="green">
                        <span class="one-line text-color-green-700">{[print(xabber.getString("account_color_name_green"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="light-green">
                        <span class="one-line text-color-light-green-700">{[print(xabber.getString("account_color_name_light_green").replace(/-/g, " "))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="lime">
                        <span class="one-line text-color-lime-700">{[print(xabber.getString("account_color_name_lime"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="amber">
                        <span class="one-line text-color-amber-700">{[print(xabber.getString("account_color_name_amber"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="orange">
                        <span class="one-line text-color-orange-700">{[print(xabber.getString("account_color_name_orange"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="deep-orange">
                        <span class="one-line text-color-deep-orange-700">{[print(xabber.getString("account_color_name_deep_orange").replace(/-/g, " "))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="brown">
                        <span class="one-line text-color-brown-700">{[print(xabber.getString("account_color_name_brown"))]}</span>
                    </div>
                    <div class="property-variant color-picker-button" data-color-value="blue-grey">
                        <span class="one-line text-color-blue-grey-700">{[print(xabber.getString("account_color_name_blue_grey").replace(/-/g, " "))]}</span>
                    </div>
                </ul>
                <svg class="btn-qr-code mdi mdi-24px mdi-svg-template" data-svgname="qrcode"></svg>
                <div class="field clickable-field enabled-state switch normal">
                    <label class="field-value">
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="main-info-wrap account-main-info-wrap">
                <div class="picture-wrap">
                    <div class="avatar-wrap">
                        <div class="circle-avatar dropdown-button" data-activates="{{view.cid}}-profile-image">
                            <img/>
                            <input type="file"/>
                            <ul id="{{view.cid}}-profile-image" class="profile-image-dropdown dropdown-content noselect">
                                <div class="btn-emoji-panel property-variant">
                                    {[print(xabber.getString("account_emoji_profile_image_button"))]}
                                </div>
                                <div class="btn-selfie property-variant">
                                    {[print(xabber.getString("account_webcam_profile_image_button"))]}
                                </div>
                                <div class="btn-choose-image property-variant">
                                    {[print(xabber.getString("account_profile_image_button"))]}
                                </div>
                            </ul>
                            <svg class="set-groupchat-avatar" viewBox="0 0 24 24">
                                <path d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="name one-line"></div>
                <div class="jid one-line"></div>
            </div>
            <div class="settings-tabs-wrap">
                <div class="settings-tab" data-block-name="profile">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="account"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__section_header_profile"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__profile_label"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="media-gallery">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="cloud"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("account_cloud_storage"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("placeholder_loading"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="encryption">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="key"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__encryption"))]}</div>
                    <div class="settings-block-label hidden label-encryption-enabled one-line">{[print(xabber.getString("settings_account__encryption_enabled_label"))]}</div>
                    <div class="settings-block-label label-encryption-disabled one-line">{[print(xabber.getString("settings_account__encryption_disabled_label"))]}</div>
                </div>
                <div class="settings-tab" data-block-name="trust">
                    <div class="setting-icon-background">
                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="key"></svg>
                    </div>
                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__trust"))]}</div>
                    <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__settings_account__trust_label"))]}</div>
                </div>
            </div>
            <div class="devices-wrap hidden">
                <div class="active-trust-session-wrap">

                </div>
                <div class="tokens-wrap">
                    <div class="settings-panel-label">{[print(xabber.getString("settings_account__label_this_device"))]}</div>
                    <div class="current-token-wrap">
                        <div class="sessions-wrap current-session selectable-text"></div>
                        <div class="btn-revoke-all-tokens settings-button-devices">
                            <svg class="mdi mdi-24px mdi-svg-template" data-svgname="restrictions-outline"></svg>
                            <div class="settings-button-devices-label">{[print(xabber.getString("account_terminate_all_sessions"))]}</div>
                        </div>
                    </div>
                    <div class="settings-panel-label active-sessions-label">{[print(xabber.getString("settings_account__label_active_sessions"))]}</div>
                    <div class="device-encryption-warning hidden" data-not-trusted-count="0">
                        <svg class="device-encryption-icon mdi mdi-40px mdi-svg-template error-icon" data-svgname="alert-circle"></svg>
                        <svg class="device-encryption-icon mdi mdi-40px mdi-svg-template" data-svgname="alert"></svg>
                        <div class="device-encryption-warning-name one-line">{[print(xabber.getString("settings_account__encryption_warning_header"))]}</div>
                        <div class="device-encryption-warning-label"></div>
                        <div class="btn-verify-devices settings-button-devices btn-flat btn-main-filled">
                            <!--<i class="mdi mdi-24px mdi-check-circle-outline"></i>-->
                            <!--<svg class="mdi mdi-24px mdi-svg-template" data-svgname="restrictions-outline"></svg>-->
                            <!--<div class="settings-button-devices-label">{[print(xabber.getString("account_verify_devices"))]}</div>-->
                            {[print(xabber.getString("account_verify_devices"))]}
                        </div>
                    </div>
                    <div class="all-sessions-wrap">
                        <div class="sessions-wrap all-sessions selectable-text"></div>
                    </div>
                    <div class="orphaned-fingerprints hidden">
                        <div class="orphaned-fingerprints-label">{[print(xabber.getString("omemo__dialog_fingerprints__legacy_encryption_label"))]}</div>
                        <div class="orphaned-fingerprints-wrap selectable-text"></div>
                    </div>
                </div>
            </div>
            <div class="settings-tabs-wrap">
                <div class="settings-tab settings-deletion-button delete-account">
                    <div class="setting-icon-background">
                        <i class="mdi mdi-24px mdi-logout-variant"></i>
                    </div>
                    <div class="settings-block-name">{[print(xabber.getString("settings_account__button_quit_account"))]}</div>
                </div>
            </div>
        </div>

        <div class="right-column settings-column noselect">
            <div class="settings-panel-head">
                <i class="btn-back-settings mdi mdi-24px mdi-arrow-left"></i>
                <i class="btn-back-subsettings-account mdi mdi-24px mdi-arrow-left hidden"></i>
                <span class="settings-panel-head-title one-line">{[print(xabber.getString("account_editor"))]}</span>
                <i class="btn-sorting dropdown-button mdi mdi-24px mdi-sort hidden" data-activates="storage-file-sorting"></i>
                <ul id="storage-file-sorting" class="dropdown-content bootstrap-dropdown noselect">
                    <div class="property-variant btn-gallery-sorting" data-value="-id">
                        <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_new"))]}</span>
                    </div>
                    <div class="property-variant btn-gallery-sorting" data-value="-size">
                        <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_size"))]}</span>
                    </div>
                </ul>
                <div class="btn-more media-gallery-button dropdown-button hidden" data-activates="storage-actions">
                    <i class="mdi mdi-24px mdi-dots-vertical"></i>
                </div>
                <ul id="storage-actions" class="dropdown-content noselect">
                    <div class="property-variant btn-select-files hidden">
                        <span class="one-line">{[print(xabber.getString("account_select_files"))]}</span>
                    </div>
                </ul>
            </div>

            <div class="panel-content-wrap">
                <div class="panel-content details-panel">

                    <div data-header='{[print(xabber.getString("settings_account__section_header_profile"))]}' class="settings-block-wrap profile">
                        <div class="settings-tabs-wrap">
                            <div class="settings-tab settings-non-tab" data-subblock-parent-name="profile" data-block-name="status">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="status"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__status_subheader"))]}</div>
                                <div class="settings-block-label one-line"></div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="profile" data-block-name="vcard-tab">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="account"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__edit_profile"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__edit_profile_label"))]}</div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="profile" data-block-name="password">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="key"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__password_subheader"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__password_subheader_label"))]}</div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="profile" data-block-name="blocklist">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="cancel"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("block_list"))]}</div>
                                <div class="settings-block-label one-line"></div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="profile" data-block-name="circles-groups">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="circles-outline"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__section_header_circles"))]}</div>
                                <div class="settings-block-label one-line"></div>
                            </div>
                            <div class="settings-tab" data-subblock-parent-name="profile" data-block-name="capabitilies">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="information"></svg>
                                </div>
                                <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__capabilities_subheader"))]}</div>
                                <div class="settings-block-label one-line">{[print(xabber.getString("settings_account__capabilities_subheader_label"))]}</div>
                            </div>
                            <div class="settings-tab unregister-account settings-deletion-button settings-non-tab" data-subblock-parent-name="profile" data-block-name="delete-account">
                                <div class="setting-icon-background">
                                    <svg class="mdi mdi-24px mdi-svg-template" data-svgname="trash"></svg>
                                </div>
                                <div class="settings-block-name settings-block-name-single one-line">{[print(xabber.getString("settings_account__delete_account_subheader"))]}</div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings_account__status_subheader"))]}' class="settings-block-wrap status">
                        <div class="settings-subblock-wrap">
                            <div class="status-wrap setting"></div>
                            <div class="status"></div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings_account__edit_profile"))]}' class="settings-block-wrap vcard-tab">
                        <div class="settings-subblock-wrap">
                            <div class="vcard">
                            </div>
                        </div>
                    </div>
                    <div class="block-list-view-wrap">
                        <div data-header='{[print(xabber.getString("block_list"))]}' data-parent-block="profile" class="settings-block-wrap blocklist">
                            <div class="settings-subblock-wrap">
                                <div class="blocklist-info">
                                    <div class="blocklist-wrap">
                                        <div class="buttons-wrap">
                                            <svg class="mdi mdi-24px mdi-svg-template btn-block" data-svgname="blocked-add"></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="settings-tabs-wrap">
                                <div class="settings-tab" data-subblock-parent-name="blocklist" data-block-name="blocklist-contacts">
                                    <div class="setting-icon-background">
                                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="account-cancel"></svg>
                                    </div>
                                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__blocked_contacts"))]}</div>
                                    <div class="settings-block-label one-line"></div>
                                </div>
                                <div class="settings-tab" data-subblock-parent-name="blocklist" data-block-name="blocklist-domains">
                                    <div class="setting-icon-background">
                                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="web-cancel"></svg>
                                    </div>
                                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__blocked_domains"))]}</div>
                                    <div class="settings-block-label one-line"></div>
                                </div>
                                <div class="settings-tab hidden" data-subblock-parent-name="blocklist" data-block-name="blocklist-invitations">
                                    <div class="setting-icon-background">
                                        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="invite"></svg>
                                    </div>
                                    <div class="settings-block-name one-line">{[print(xabber.getString("settings_account__blocked_invitations"))]}</div>
                                    <div class="settings-block-label one-line"></div>
                                </div>
                            </div>
                        </div>
                        <div data-header='{[print(xabber.getString("settings_account__blocked_contacts"))]}' data-block-name="blocklist-contacts" class="settings-block-wrap blocklist-contacts">
                            <div class="settings-subblock-wrap">
                                <div class="blocklist-info">
                                    <div class="blocklist-wrap">
                                        <div class="buttons-wrap">
                                            <svg class="mdi mdi-24px mdi-svg-template btn-block" data-svgname="blocked-add"></svg>
                                            <button class="btn-deselect-blocked btn-flat btn-main   hidden">{[print(xabber.getString("cancel"))]}</button>
                                            <button class="btn-unblock-selected btn-flat btn-main text-color-500  hidden">{[print(xabber.getString("unblock_selected"))]}</button>
                                        </div>
                                        <div class="blocked-items">
                                            <div class="blocked-contacts-placeholder placeholder">{[print(xabber.getString("blocked_contacts_empty"))]}</div>
                                            <div class="blocked-items-container blocked-contacts-wrap" data-tab-name="contacts-item">
                                                <div class="blocked-contacts blocked-list"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-header='{[print(xabber.getString("settings_account__blocked_domains"))]}' data-block-name="blocklist-domains" class="settings-block-wrap blocklist-domains">
                            <div class="settings-subblock-wrap">
                                <div class="blocklist-info">
                                    <div class="blocklist-wrap">
                                        <div class="buttons-wrap">
                                            <svg class="mdi mdi-24px mdi-svg-template btn-block" data-svgname="blocked-add"></svg>
                                            <button class="btn-deselect-blocked btn-flat btn-main   hidden">{[print(xabber.getString("cancel"))]}</button>
                                            <button class="btn-unblock-selected btn-flat btn-main text-color-500  hidden">{[print(xabber.getString("unblock_selected"))]}</button>
                                        </div>
                                        <div class="blocked-items">
                                            <div class="blocked-domains-placeholder placeholder">{[print(xabber.getString("blocked_domains_empty"))]}</div></div>
                                        <div class="blocked-items-container blocked-domains-wrap" data-tab-name="domains-item">
                                            <div class="blocked-domains blocked-list"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings_account__blocked_invitations"))]}' data-block-name="blocklist-invitations" class="settings-block-wrap blocklist-invitations">
                        <div class="settings-subblock-wrap">
                            <div class="blocklist-info">
                                <div class="blocklist-wrap">
                                    <div class="buttons-wrap">
                                        <svg class="mdi mdi-24px mdi-svg-template btn-block" data-svgname="blocked-add"></svg>
                                        <button class="btn-deselect-blocked btn-flat btn-main   hidden">{[print(xabber.getString("cancel"))]}</button>
                                        <button class="btn-unblock-selected btn-flat btn-main text-color-500  hidden">{[print(xabber.getString("unblock_selected"))]}</button>
                                    </div>
                                    <div class="blocked-items">
                                        <div class="blocked-invitations-placeholder placeholder">{[print(xabber.getString("blocked_invitations_empty"))]}</div>
                                        <div class="blocked-items-container blocked-invitations-wrap" data-tab-name="invitations-item">
                                            <div class="blocked-invitations blocked-list"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings_account__section_header_circles"))]}' class="settings-block-wrap circles-groups">
                        <div class="settings-subblock-wrap">
                            <div class="groups-info">
                                <div class="groups-wrap">
                                    <div class="groups">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-header='{[print(xabber.getString("settings_account__capabilities_subheader"))]}' class="settings-block-wrap capabitilies">
                        <div class="settings-subblock-wrap">
                            <div class="server-info">
                                <div class="capabilities-wrap">
                                    <div class="capabilities">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("color"))]}' class="settings-block-wrap color-scheme">
                        <div class="color-scheme-wrap">
                            <div class="account-color">
                                <div class="field radio-field clickable-field">
                                    <form action="#">
                                        <p>
                                            <input class="with-gap" name="account_color" value="red" type="radio" id="color-red" />
                                            <label class="text-color-red-700" for="color-red">{[print(xabber.getString("account_color_name_red"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="pink" type="radio" id="color-pink" />
                                            <label class="text-color-pink-700" for="color-pink">{[print(xabber.getString("account_color_name_pink"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="purple" type="radio" id="color-purple" />
                                            <label class="text-color-purple-700" for="color-purple">{[print(xabber.getString("account_color_name_purple"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="deep-purple" type="radio" id="color-deep-purple" />
                                            <label class="text-color-deep-purple-700" for="color-deep-purple">{[print(xabber.getString("account_color_name_deep_purple").replace(/-/g, " "))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="indigo" type="radio" id="color-indigo" />
                                            <label class="text-color-indigo-700" for="color-indigo">{[print(xabber.getString("account_color_name_indigo"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="blue" type="radio" id="color-blue" />
                                            <label class="text-color-blue-700" for="color-blue">{[print(xabber.getString("account_color_name_blue"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="light-blue" type="radio" id="color-light-blue" />
                                            <label class="text-color-light-blue-700" for="color-light-blue">{[print(xabber.getString("account_color_name_light_blue").replace(/-/g, " "))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="cyan" type="radio" id="color-cyan" />
                                            <label class="text-color-cyan-700" for="color-cyan">{[print(xabber.getString("account_color_name_cyan"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="teal" type="radio" id="color-teal" />
                                            <label class="text-color-teal-700" for="color-teal">{[print(xabber.getString("account_color_name_teal"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="green" type="radio" id="color-green" />
                                            <label class="text-color-green-700" for="color-green">{[print(xabber.getString("account_color_name_green"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="light-green" type="radio" id="color-light-green" />
                                            <label class="text-color-light-green-700" for="color-light-green">{[print(xabber.getString("account_color_name_light_green").replace(/-/g, " "))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="lime" type="radio" id="color-lime" />
                                            <label class="text-color-lime-700" for="color-lime">{[print(xabber.getString("account_color_name_lime"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="amber" type="radio" id="color-amber" />
                                            <label class="text-color-amber-700" for="color-amber">{[print(xabber.getString("account_color_name_amber"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="orange" type="radio" id="color-orange" />
                                            <label class="text-color-orange-700" for="color-orange">{[print(xabber.getString("account_color_name_orange"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="deep-orange" type="radio" id="color-deep-orange" />
                                            <label class="text-color-deep-orange-700" for="color-deep-orange">{[print(xabber.getString("account_color_name_deep_orange").replace(/-/g, " "))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="brown" type="radio" id="color-brown" />
                                            <label class="text-color-brown-700" for="color-brown">{[print(xabber.getString("account_color_name_brown"))]}</label>
                                        </p>
                                        <p>
                                            <input class="with-gap" name="account_color" value="blue-grey" type="radio" id="color-blue-grey" />
                                            <label class="text-color-blue-grey-700" for="color-blue-grey">{[print(xabber.getString("account_color_name_blue_grey").replace(/-/g, " "))]}</label>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("settings_account__encryption"))]}' class="settings-block-wrap encryption">
                        <div class="btn-more device-more-button dropdown-button" data-activates="device-omemo-actions">
                            <i class="mdi mdi-24px mdi-dots-vertical"></i>
                        </div>
                        <ul id="device-omemo-actions" class="dropdown-content bootstrap-dropdown noselect">
                            <!--<div class="property-variant btn-manage-devices">-->
                                <!--<span class="one-line">{[print(xabber.getString("omemo__settings__button_manage_devices"))]}</span>-->
                            <!--</div>-->
                            <div class="property-variant btn-purge-keys">
                                <span class="one-line">{[print(xabber.getString("omemo__settings__button_purge_keys"))]}</span>
                            </div>
                        </ul>
                        <div class="omemo-settings-wrap">
                            <div class="settings">
                                <div class="setting-wrap omemo-enable">
                                    <span>{[print(xabber.getString("omemo__settings__toggle_enable_encryption"))]}</span>
                                    <div class="field setting-use-omemo switch normal">
                                        <label class="field-value">
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="setting-wrap send-chat-states">
                                    <span>{[print(xabber.getString("omemo__settings__toggle_send_typing_notifications"))]}</span>
                                    <div class="field setting-send-chat-states switch normal">
                                        <label class="field-value">
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div data-header='{[print(xabber.getString("settings_account__trust"))]}' class="settings-block-wrap trust">
                        <div class="settings-trust-wrap">
                            <div class="settings-trust-items-wrap">
                            </div>
                        </div>
                    </div>

                    <div data-header='{[print(xabber.getString("account_cloud_storage"))]}' class="settings-block-wrap media-gallery">
                    </div>

                    <div data-header='{[print(xabber.getString("settings_account__device_information"))]}' class="settings-block-wrap device-information hidden">
                        <div class="device-information-trust-text-wrap">
                            <div class="device-information-trust-text"></div>
                        </div>
                        <div class="device-information-refresh-bundle-debug hidden">
                            refresh bundle
                        </div>
                        <div class="device-information-wrap">
                            <div class="settings-panel-label device-information-security-label">{[print(xabber.getString("settings_account__device_information_private"))]}</div>
                            <div class="device-information-items-wrap device-information-encryption">
                                <div class="device-information-item device-information-client">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="id"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__client__label"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-ip">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="index"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__ip__label"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-expires">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="expires"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__expire__label"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                            </div>
                            <div class="settings-panel-label">{[print(xabber.getString("settings_account__device_information"))]}</div>
                            <div class="device-information-items-wrap device-information-basic">
                                <div class="device-information-item device-information-status">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="status"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__status__label"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-last-seen">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="history"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__status__label_last_seen"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-description">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="devices"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("device__info__public_label__label"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-device-id">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="information"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("settings_account__device_information_device_id"))]}</div>
                                    <div class="device-information-text"></div>
                                </div>
                                <div class="device-information-item device-information-fingerprint hidden">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="lock"></svg>
                                    <div class="device-information-label">{[print(xabber.getString("omemo__dialog_fingerprints__fingerprint_label"))]}</div>
                                    <div class="device-information-text device-information-fingerprint-text"></div>
                                </div>
                            </div>
                            <div class="settings-tab device-information-trust settings-deletion-button">
                                <div class="setting-icon-background">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template lock-alert" data-svgname="lock-alert"></svg>
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template lock-check" data-svgname="lock-check"></svg>
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template lock-cross" data-svgname="lock-cross"></svg>
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template lock-question" data-svgname="lock-question"></svg>
                                </div>
                                <div class="settings-block-name">{[print(xabber.getString("settings_account__identity_verification"))]}</div>
                            </div>
                            <div class="settings-tab btn-revoke-token settings-deletion-button">
                                <div class="setting-icon-background">
                                    <svg class="mdi device-information-icon mdi-24px mdi-svg-template" data-svgname="trash"></svg>
                                </div>
                                <div class="settings-block-name">{[print(xabber.getString("device__info__terminate_session__button"))]}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>