<div class="modal-content-wrap">
    <div class="modal-header">
        <span>Add new account</span>
    </div>
    <div class="modal-content">
        <div class="row login-form-field">
            <div class="input-field">
                <input id="jid" type="text" name="jid">
                <label for="jid">Username</label>
                <span class="errors fixed"></span>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
                <span class="errors fixed"></span>
            </div>
        </div>
        <div class="sync-option">
            <input type="checkbox" class="filled-in" id="{{view.cid}}_sync_acc"/>
            <label for="{{view.cid}}_sync_acc">Synchronize with Xabber account</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-add">Add</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button>
    </div>
</div>
