<div class="modal-content-wrap">
    <div class="modal-header">
        <span>{[print(xabber.getString("status_editor"))]}</span>
    </div>
    <ul class="status-values noselect">
        <li data-value="chat">
            <span class="status-value one-line">{[print(xabber.getString("chat"))]}</span>
            <span class="status-bulb" data-status="chat"></span>
        </li>
        <li data-value="online">
            <span class="status-value one-line">{[print(xabber.getString("online"))]}</span>
            <span class="status-bulb" data-status="online"></span>
        </li>
        <li data-value="away">
            <span class="status-value one-line">{[print(xabber.getString("away"))]}</span>
            <span class="status-bulb" data-status="away"></span>
        </li>
        <li data-value="xa">
            <span class="status-value one-line">{[print(xabber.getString("xa"))]}</span>
            <span class="status-bulb" data-status="xa"></span>
        </li>
        <li data-value="dnd">
            <span class="status-value one-line">{[print(xabber.getString("dnd"))]}</span>
            <span class="status-bulb" data-status="dnd"></span>
        </li>
        <li data-value="offline">
            <span class="status-value one-line">{[print(xabber.getString("unavailable"))]}</span>
            <span class="status-bulb" data-status="offline"></span>
        </li>
    </ul>
    <div class="modal-content">
        <div class="row">
            <div class="input-field status-message-wrap">
                <span class="static-label">{[print(xabber.getString("dialog_status_editor__label_custom_status"))]}</span>
                <input type="text" class="status-message">
                <i class="clear-input mdi mdi-20px mdi-close"></i>
            </div>
            <div class="input-field checkbox-field no-padding">
                <input type="checkbox" class="filled-in apply-to-all" id="{{view.cid}}_apply_to_all"/>
                <label for="{{view.cid}}_apply_to_all">{[print(xabber.getString("dialog_status_editor__label_apply_to_all"))]}</label>
            </div>
        </div>
    </div>
</div>
