<div class="modal-content-wrap">
    <div class="modal-header">
        <span>{[print(xabber.getString("settings_account__dialog_change_password__header"))]}</span>
    </div>
    <div class="modal-content">
        <div class="row login-form-field">
            <div class="input-field">
                <input id="jid" type="text" name="jid" readonly>
                <label for="jid">{[print(xabber.getString("account_user_name"))]}</label>
                <span class="errors fixed"></span>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password">
                <label for="password">{[print(xabber.getString("account_password"))]}</label>
                <span class="errors fixed"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-change">{[print(xabber.getString("set"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>
