<div class="modal-content-wrap">
    <div class="modal-header">
        <span class="original-state">{[print(xabber.getString("button_change_pass"))]}</span>
        <span class="success-state hidden">{[print(xabber.getString("password_changed_success"))]}</span>
    </div>
    <div class="modal-content original-state">
        <div class="change-password-fields">
            <div class="block-subheader">
                <span class="block-name">{[print(xabber.getString("hint_old_pass"))]}</span>
            </div>
            <div class="change-password-field">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="key"></svg>
                <input class="input-glow account-glow" placeholder='{[print(xabber.getString("hint_old_pass"))]}' id="old_password" type="password" name="old_password">
                <span class="errors fixed"></span>
            </div>
            <div class="block-subheader">
                <span class="block-name">{[print(xabber.getString("hint_new_pass"))]}</span>
            </div>
            <div class="change-password-field">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="key-variant"></svg>
                <input class="input-glow account-glow" placeholder='{[print(xabber.getString("hint_new_pass"))]}' id="password" type="password" name="password">
                <span class="errors fixed"></span>
            </div>
            <div class="change-password-field">
                <input class="input-glow account-glow" placeholder='{[print(xabber.getString("hint_confirm_pass"))]}' id="password_confirm" type="password" name="password_confirm">
                <span class="errors fixed"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-change btn-flat btn-main original-state" disabled>{[print(xabber.getString("button_change_pass"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel btn-finish-change success-state hidden">{[print(xabber.getString("ok"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel original-state">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>
