<div class="modal-content-wrap">
    <div class="modal-header">
        <span>Set password</span>
    </div>
    <div class="modal-content">
        <div class="row login-form-field">
            <div class="input-field">
                <input id="jid" type="text" name="jid" readonly>
                <label for="jid">Username</label>
                <span class="errors fixed"></span>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
                <span class="errors fixed"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-change">Set</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button>
    </div>
</div>
