<div class="modal-content-wrap">
    <div class="modal-header">
        <span>{[print(xabber.getString("button_change_pass"))]}</span>
    </div>
    <div class="modal-content">
        <div class="row login-form-field">
            <div class="input-field">
                <input id="old_password" type="password" name="old_password">
                <label for="old_password">{[print(xabber.getString("hint_old_pass"))]}</label>
                <span class="errors fixed"></span>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password">
                <label for="password">{[print(xabber.getString("hint_pass"))]}</label>
                <span class="errors fixed"></span>
            </div>
            <div class="input-field">
                <input id="password_confirm" type="password" name="password_confirm">
                <label for="password">{[print(xabber.getString("hint_confirm_pass"))]}</label>
                <span class="errors fixed"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-change">{[print(xabber.getString("change"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>
