<div class="move-account-to-this droppable"></div>
<div class="account-info-wrap">
    <i class="drag-item drag-handle mdi mdi-24px mdi-drag-vertical"></i>
    <div class="circle-avatar noselect">
        <img>
    </div>
    <!--<div class="status"></div>-->
    <i class="mdi encryption-warning-icon hidden mdi-24px mdi-alert"></i>
    <div class="text-info-wrap">
        <div class="nickname-wrap">
            <div class="nickname one-line"></div>
        </div>
        <div class="jid-wrap">
            <div class="jid one-line"></div>
        </div>
    </div>
</div>
<div class="field clickable-field enabled-state switch normal">
    <label class="field-value">
        <input type="checkbox">
        <span class="lever"></span>
    </label>
</div>