<div class="move-account-to-this droppable"></div>
<div class="account-info-wrap">
    <i class="drag-item drag-handle mdi mdi-28px mdi-drag-vertical"></i>
    <div class="circle-avatar noselect">
        <img>
    </div>
    <div class="text-info-wrap">
        <div class="jid-wrap">
            <div class="jid text-color-700 one-line"></div>
        </div>
        <div class="conn-status one-line"></div>
    </div>
</div>
<div class="sync-marker-wrap">
    <i class="sync-marker mdi mdi-20px mdi-cloud-check"></i>
</div>
<div class="field clickable-field enabled-state switch normal">
    <label class="field-value">
        <input type="checkbox">
        <span class="lever"></span>
    </label>
</div>
