<div class="gallery-wrap">
    <!--<svg class="details-icon btn-go-back mdi mdi-24px mdi-svg-template" data-svgname="chevron-left-variant"></svg>-->
    <div class="gallery-storage-wrap">
        <div class="storage-label-title">{[print(xabber.getString("account_media_gallery"))]}</div>
        <div class="storage-usage"></div>
        <div class="storage-progress-bar">
            <div class="storage-progress-images"></div>
            <div class="storage-progress-videos"></div>
            <div class="storage-progress-voices"></div>
            <div class="storage-progress-files"></div>
            <div class="storage-progress-avatars"></div>
        </div>
        <div class="storage-labels">
            <div class="storage-label storage-label-images"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("images"))]}</div></div>
            <div class="storage-label storage-label-videos"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("videos"))]}</div></div>
            <div class="storage-label storage-label-voices"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("vcard_type_voice"))]}</div></div>
            <div class="storage-label storage-label-files"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("files"))]}</div></div>
            <div class="storage-label storage-label-avatars"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("avatars"))]}</div></div>
        </div>
    </div>
    <div class="storage-usages">
        <div class="settings-tab settings-non-tab storage-usage-images hidden" data-media-type="image" data-header-text='{[print(xabber.getString("images"))]}'>
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="image"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("images"))]}</div>
            <div class="settings-block-label one-line">{[print(xabber.getString("media_gallery_images_label"))]}</div>
            <span class="storage-usage-amount"></span>
        </div>
        <div class="settings-tab settings-non-tab storage-usage-videos hidden" data-media-type="video" data-header-text='{[print(xabber.getString("videos"))]}'>
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="file-video"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("videos"))]}</div>
            <div class="settings-block-label one-line">{[print(xabber.getString("media_gallery_videos_label"))]}</div>
            <span class="storage-usage-amount"></span>
        </div>
        <div class="settings-tab settings-non-tab storage-usage-voices hidden" data-media-type="voice" data-header-text='{[print(xabber.getString("vcard_type_voice"))]}'>
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="file-audio"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("vcard_type_voice"))]}</div>
            <div class="settings-block-label one-line">{[print(xabber.getString("media_gallery_voice_label"))]}</div>
            <span class="storage-usage-amount"></span>
        </div>
        <div class="settings-tab settings-non-tab storage-usage-files hidden" data-media-type="file" data-header-text='{[print(xabber.getString("files"))]}'>
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="file"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("files"))]}</div>
            <div class="settings-block-label one-line">{[print(xabber.getString("media_gallery_files_label"))]}</div>
            <span class="storage-usage-amount"></span>
        </div>
        <div class="settings-tab settings-non-tab storage-usage-avatars" data-media-type="avatars" data-header-text='{[print(xabber.getString("avatars"))]}'>
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="camera"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("avatars"))]}</div>
            <div class="settings-block-label one-line">{[print(xabber.getString("media_gallery_avatars_label"))]}</div>
            <span class="storage-usage-amount"></span>
        </div>
        <div class="settings-tab settings-non-tab show-deletion settings-deletion-button">
            <div class="setting-icon-background">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="trash"></svg>
            </div>
            <div class="settings-block-name one-line">{[print(xabber.getString("media_gallery_delete_files"))]}</div>
            <div class="settings-block-label one-line"></div>
        </div>
    </div>
</div>
<div class="media-gallery-items-wrap hidden">
    <div class="gallery-sticky-buttons">
        <i class="btn-back-gallery sticky-item mdi mdi-24px mdi-arrow-left"></i>
        <i class="btn-close-selection sticky-item mdi mdi-24px mdi-close"></i>
        <div class="sticky-item gallery-selection-head"></div>
        <i class="btn-delete-selection sticky-item mdi mdi-24px mdi-delete"></i>
    </div>
    <div class="gallery-files zoom-gallery">
    </div>
</div>

