<div class="block-header">
    <span class="block-name">{[print(xabber.getString("account_cloud_storage"))]}</span>
</div>
<div class="gallery-storage-wrap">
    <div class="storage-header">{[print(xabber.getString("account_media_gallery"))]}</div>
    <div class="storage-usage"></div>
    <div class="storage-progress-bar">
        <div class="storage-progress-images"></div>
        <div class="storage-progress-videos"></div>
        <div class="storage-progress-voices"></div>
        <div class="storage-progress-files"></div>
    </div>
    <div class="storage-labels">
        <div class="storage-label storage-label-images"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("images"))]}</div></div>
        <div class="storage-label storage-label-videos"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("videos"))]}</div></div>
        <div class="storage-label storage-label-voices"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("vcard_type_voice"))]}</div></div>
        <div class="storage-label storage-label-files"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("files"))]}</div></div>
    </div>

    <button class="gallery-manage-storage btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">
        {[print(xabber.getString("account_manage_storage"))]}
    </button>
</div>
<div class="gallery-wrap hidden">
    <i class="details-icon btn-go-back mdi mdi-24px mdi-arrow-left"></i>
    <div class="gallery-storage-header">{[print(xabber.getString("account_media_gallery"))]}</div>

    <div class="btn-more dropdown-button" data-activates="storage-actions">
        <i class="mdi mdi-24px mdi-dots-vertical"></i>
    </div>
    <ul id="storage-actions" class="dropdown-content noselect">
        <div class="property-variant btn-delete-files-variants" data-activates="storage-delete-files">
            <span class="one-line">{[print(xabber.getString("account_delete_files"))]}</span>
        </div>
    </ul>
    <ul id="storage-delete-files" class="dropdown-content bootstrap-dropdown noselect">
        <div class="property-variant btn-delete-files" data-date="15">
            <span class="one-line">{[print(xabber.getString("delete_files_older_than_15_days"))]}</span>
        </div>
        <div class="property-variant btn-delete-files" data-date="30">
            <span class="one-line">{[print(xabber.getString("delete_files_older_than_30_days"))]}</span>
        </div>
        <div class="property-variant btn-delete-files" data-date="60">
            <span class="one-line">{[print(xabber.getString("delete_files_older_than_60_days"))]}</span>
        </div>
    </ul>
    <!--<svg class="details-icon btn-go-back mdi mdi-24px mdi-svg-template" data-svgname="chevron-left-variant"></svg>-->
    <div class="gallery-storage-wrap">
        <div class="storage-usage"></div>
        <div class="storage-progress-bar">
            <div class="storage-progress-images"></div>
            <div class="storage-progress-videos"></div>
            <div class="storage-progress-voices"></div>
            <div class="storage-progress-files"></div>
        </div>
        <div class="storage-labels">
            <div class="storage-label storage-label-images"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("images"))]}</div></div>
            <div class="storage-label storage-label-videos"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("videos"))]}</div></div>
            <div class="storage-label storage-label-voices"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("vcard_type_voice"))]}</div></div>
            <div class="storage-label storage-label-files"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("files"))]}</div></div>
        </div>
        <div class="storage-usages">
            <div class="storage-category-usage storage-usage-images">
                {[print(xabber.getString("images"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-videos">
                {[print(xabber.getString("videos"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-voices">
                {[print(xabber.getString("vcard_type_voice"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-files">
                {[print(xabber.getString("files"))]}<span class="storage-usage-amount"></span>
            </div>
        </div>
    </div>
    <ul class="tabs">
        <li data-value="image" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("images"))]}</a></li>
        <li data-value="video" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("videos"))]}</a></li>
        <li data-value="files" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("files"))]}</a></li>
        <li data-value="voice" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("vcard_type_voice"))]}</a></li>
    </ul>
    <button class="btn-sorting dropdown-button btn-flat btn-main text-color-700 hover-ground-color-300" data-activates="storage-file-sorting">
        {[print(xabber.getString("searching__search_panel__label_sort_by"))]}
    </button>
    <ul id="storage-file-sorting" class="dropdown-content bootstrap-dropdown noselect">
        <div class="property-variant btn-gallery-sorting" data-value="-id">
            <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_new"))]}</span>
        </div>
        <div class="property-variant btn-gallery-sorting" data-value="-size">
            <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_size"))]}</span>
        </div>
    </ul>
    <div class="gallery-files zoom-gallery">
    </div>
</div>

