<div class="gallery-wrap">
    <!--<svg class="details-icon btn-go-back mdi mdi-24px mdi-svg-template" data-svgname="chevron-left-variant"></svg>-->
    <div class="gallery-storage-wrap">
        <div class="storage-usage"></div>
        <div class="storage-progress-bar">
            <div class="storage-progress-images"></div>
            <div class="storage-progress-videos"></div>
            <div class="storage-progress-voices"></div>
            <div class="storage-progress-files"></div>
        </div>
        <div class="storage-labels">
            <div class="storage-label storage-label-images"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("images"))]}</div></div>
            <div class="storage-label storage-label-videos"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("videos"))]}</div></div>
            <div class="storage-label storage-label-voices"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("vcard_type_voice"))]}</div></div>
            <div class="storage-label storage-label-files"><div class="storage-label-icon"></div><div class="storage-label-text">{[print(xabber.getString("files"))]}</div></div>
        </div>
        <div class="storage-usages">
            <div class="storage-category-usage storage-usage-images">
                {[print(xabber.getString("images"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-videos">
                {[print(xabber.getString("videos"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-voices">
                {[print(xabber.getString("vcard_type_voice"))]}<span class="storage-usage-amount"></span>
            </div>
            <div class="storage-category-usage storage-usage-files">
                {[print(xabber.getString("files"))]}<span class="storage-usage-amount"></span>
            </div>
        </div>
    </div>
    <ul class="tabs">
        <li data-value="image" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("images"))]}</a></li>
        <li data-value="video" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("videos"))]}</a></li>
        <li data-value="files" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("files"))]}</a></li>
        <li data-value="voice" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("vcard_type_voice"))]}</a></li>
        <li data-value="avatars" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("avatars"))]}</a></li>
    </ul>
    <div class="list-managment-wrap">
        <button class="btn-sorting dropdown-button btn-flat btn-main text-color-700 hover-ground-color-300" data-activates="storage-file-sorting">
            {[print(xabber.getString("searching__search_panel__label_sort_by"))]}
        </button>
    </div>
    <ul id="storage-file-sorting" class="dropdown-content bootstrap-dropdown noselect">
        <div class="property-variant btn-gallery-sorting" data-value="-id">
            <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_new"))]}</span>
        </div>
        <div class="property-variant btn-gallery-sorting" data-value="-size">
            <span class="one-line">{[print(xabber.getString("account_media_gallery_sorting_size"))]}</span>
        </div>
    </ul>
    <div class="gallery-files zoom-gallery">
    </div>
</div>

