    <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="ic-jabber"></svg>
    <div class="info status-info">
        <div class="label">Status:</div>
        <div class="value status-message one-line"></div>
        <div class="status"></div>
    </div>
    <div class="info client-info">
        <div class="label">Client:</div>
        <div class="value client one-line"></div>
    </div>
    <div class="info resource-info">
        <div class="label">Resource:</div>
        <div class="value resource one-line"></div>
    </div>
    <div class="info priority-info">
        <div class="label">Priority:</div>
        <div class="value priority"></div>
    </div>
