<svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="ic-jabber"></svg>
<table>
    <tbody>
    <tr class="info status-info">
        <td class="label">{[print(xabber.getString("settings_account__label_status"))]}:</td>
        <td>
            <div class="value status-message"></div>
            <div class="status"></div>
        </td>
    </tr>
    <tr class="info client-info">
        <td class="label">{[print(xabber.getString("settings_account__label_client"))]}:</td>
        <td class="value client"></td>
    </tr>
    <tr class="info resource-info">
        <td class="label">{[print(xabber.getString("account_resource"))]}:</td>
        <td class="value resource"></td>
    </tr>
    <tr class="info priority-info">
        <td class="label">{[print(xabber.getString("account_priority"))]}:</td>
        <td class="value priority"></td>
    </tr>
    </tbody>
</table>