<div class="info-wrap resource-info-wrap" title='{[print(xabber.getString("group_settings__properties__tooltip_copy_by_click"))]}'>
    <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="ic-jabber"></svg></div>
    <div class="info-hover">
        <div class="info">
            <div class="status-message value one-line"></div>
            <div class="status"></div>
            <div class="client value one-line"></div>
            <div class="resource value one-line"></div>
            <div class="priority value one-line"></div>
            <div class="label">{[print(xabber.getString("account_resource"))]}</div>
        </div>
    </div>
</div>