    <div class="left-column ground-color-900 noselect">
        <div class="main-info-wrap account-main-info-wrap">
            <div class="picture-wrap">
                <div class="avatar-wrap">
                    <div class="circle-avatar">
                        <img/>
                    </div>
                    <div class="status"></div>
                </div>
            </div>
            <div class="name-wrap">
                <div class="name"></div>
            </div>
            <div class="status-wrap"></div>
        </div>
        <div class="settings-tabs-wrap">
            <div class="settings-tab" data-block-name="connection">
                <i class="mdi mdi-24px mdi-settings"></i>
                <div class="settings-block-name one-line">Connection settings</div>
            </div>
            <div class="settings-tab" data-block-name="tokens">
                <i class="mdi mdi-24px mdi-key"></i>
                <div class="settings-block-name one-line">Tokens</div>
            </div>
            <div class="settings-tab" data-block-name="synchronization">
                <i class="mdi mdi-24px mdi-sync"></i>
                <div class="settings-block-name one-line">Synchronization</div>
            </div>
            <div class="settings-tab" data-block-name="color-scheme">
                <i class="mdi mdi-24px mdi-palette"></i>
                <div class="settings-block-name one-line">Color scheme</div>
            </div>
            <div class="settings-tab" data-block-name="xmpp-resources">
                <svg class="mdi mdi-24px mdi-svg-template" data-svgname="ic-jabber"></svg>
                <div class="settings-block-name one-line">XMPP Resources</div>
            </div>
            <div class="settings-tab" data-block-name="vcard">
                <i class="mdi mdi-24px mdi-account-card-details"></i>
                <div class="settings-block-name one-line">vCard</div>
            </div>
            <div class="settings-tab" data-block-name="server-info">
                <i class="mdi mdi-24px mdi-information"></i>
                <div class="settings-block-name one-line">Server information</div>
            </div>
            <div class="settings-tab" data-block-name="blocklist-info">
                <i class="mdi mdi-24px mdi-block-helper"></i>
                <div class="settings-block-name one-line">Blocked contacts</div>
            </div>
            <div class="settings-tab" data-block-name="groups-info">
                <i class="mdi mdi-24px mdi-account-multiple"></i>
                <div class="settings-block-name one-line">Groups</div>
            </div>
            <!--<div class="settings-tab" data-block-name="existing-group-chats-info">
                <i class="mdi mdi-24px mdi-forum"></i>
                <div class="settings-block-name one-line">Existing group chats</div>
            </div>-->
        </div>
        <div class="settings-tabs-bottom-wrap ground-color-900">
            <div class="settings-tab delete-account">
                <i class="mdi mdi-24px mdi-logout-variant"></i>
                <div class="settings-block-name">Delete account</div>
            </div>
        </div>
    </div>
