<div class="right-column noselect">
    <div class="settings-panel-head">
        <span>{[print(xabber.getString("account_editor"))]}</span>
        <div class="field enabled-state switch normal">
            <label class="field-value">
                <input type="checkbox">
                <span class="lever"></span>
            </label>
        </div>
    </div>

    <div class="panel-content-wrap">
        <div class="panel-content details-panel">

            <div class="settings-block-wrap connection">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("account_connection_settings"))]}</span>
                </div>
                <div class="connection-wrap">
                    <div class="readonly-setting">
                        <i class="details-icon mdi mdi-24px mdi-account"></i>
                        <div class="setting-wrap account-name">
                            <div class="value one-line"></div>
                            <div class="label conn-status"></div>
                        </div>
                    </div>
                    <div class="buttons-wrap">
                        <button class="btn-change-password-account btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">{[print(xabber.getString("button_change_pass"))]}</button>
                        <button class="btn-change-password btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">{[print(xabber.getString("button_set_pass"))]}</button>
                        <button class="btn-reconnect btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300">{[print(xabber.getString("settings_account__button_reconnect"))]}</button>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap tokens">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("account_active_sessions"))]}</span>
                </div>
                <div class="tokens-wrap">
                    <div class="current-token-wrap">
                        <div class="sessions-wrap current-session selectable-text"></div>
                        <div class="buttons-wrap">
                            <p class="btn-revoke-all-tokens hover-text-color-500 text-color-700">{[print(xabber.getString("account_terminate_all_sessions"))]}</p>
                        </div>
                    </div>
                    <div class="all-sessions-wrap">
                        <div class="sessions-wrap all-sessions selectable-text"></div>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap synchronization">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("account_sync"))]}</span>
                </div>
                <div class="synchronization-wrap">
                    <div class="readonly-setting">
                        <i class="details-icon sync-status-icon mdi mdi-24px" data-mdiclass=""></i>
                        <div class="setting-wrap account-name">
                            <div class="value one-line"></div>
                            <div class="label sync-status"></div>
                        </div>
                    </div>
                    <div class="xabber-account-features-wrap">
                        <div class="sync-enable-wrap">
                            <input type="checkbox" class="filled-in sync-account" id="{{view.cid}}_sync_account"/>
                            <label for="{{view.cid}}_sync_account">{[print(xabber.getString("account_sync_enable_summary"))]}</label>
                        </div>
                        <div class="buttons-wrap">
                            <button class="btn-delete-settings btn-flat btn-main btn-dark ground-color-grey-100 hover-ground-color-grey-300">{[print(xabber.getString("delete_settings_button"))]}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap color-scheme">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("account_color_scheme"))]}</span>
                </div>
                <div class="color-scheme-wrap">
                    <div class="account-color">
                        <div class="current-color-name text-color-700"></div>
                        <div class="dropdown-button" data-activates="select-color-{{view.cid}}">
                            <i class="mdi mdi-24px mdi-menu-down"></i>
                        </div>
                        <ul id="select-color-{{view.cid}}" class="color-values dropdown-content noselect">
                            <li class="color-value" data-value="red">
                                <div class="color-name text-color-red-700">{[print(xabber.getString("account_color_name_red"))]}</div>
                                <div class="color-pattern ground-color-red-700"></div>
                            </li>
                            <li class="color-value" data-value="pink">
                                <div class="color-name text-color-pink-700">{[print(xabber.getString("account_color_name_pink"))]}</div>
                                <div class="color-pattern ground-color-pink-700"></div>
                            </li>
                            <li class="color-value" data-value="purple">
                                <div class="color-name text-color-purple-700">{[print(xabber.getString("account_color_name_purple"))]}</div>
                                <div class="color-pattern ground-color-purple-700"></div>
                            </li>
                            <li class="color-value" data-value="deep-purple">
                                <div class="color-name text-color-deep-purple-700">{[print(xabber.getString("account_color_name_deep_purple").replace(/-/g, " "))]}</div>
                                <div class="color-pattern ground-color-deep-purple-700"></div>
                            </li>
                            <li class="color-value" data-value="indigo">
                                <div class="color-name text-color-indigo-700">{[print(xabber.getString("account_color_name_indigo"))]}</div>
                                <div class="color-pattern ground-color-indigo-700"></div>
                            </li>
                            <li class="color-value" data-value="blue">
                                <div class="color-name text-color-blue-700">{[print(xabber.getString("account_color_name_blue"))]}</div>
                                <div class="color-pattern ground-color-blue-700"></div>
                            </li>
                            <li class="color-value" data-value="light-blue">
                                <div class="color-name text-color-light-blue-700">{[print(xabber.getString("account_color_name_light_blue").replace(/-/g, " "))]}</div>
                                <div class="color-pattern ground-color-light-blue-700"></div>
                            </li>
                            <li class="color-value" data-value="cyan">
                                <div class="color-name text-color-cyan-700">{[print(xabber.getString("account_color_name_cyan"))]}</div>
                                <div class="color-pattern ground-color-cyan-700"></div>
                            </li>
                            <li class="color-value" data-value="teal">
                                <div class="color-name text-color-teal-700">{[print(xabber.getString("account_color_name_teal"))]}</div>
                                <div class="color-pattern ground-color-teal-700"></div>
                            </li>
                            <li class="color-value" data-value="green">
                                <div class="color-name text-color-green-700">{[print(xabber.getString("account_color_name_green"))]}</div>
                                <div class="color-pattern ground-color-green-700"></div>
                            </li>
                            <li class="color-value" data-value="light-green">
                                <div class="color-name text-color-light-green-700">{[print(xabber.getString("account_color_name_light_green").replace(/-/g, " "))]}</div>
                                <div class="color-pattern ground-color-light-green-700"></div>
                            </li>
                            <li class="color-value" data-value="lime">
                                <div class="color-name text-color-lime-700">{[print(xabber.getString("account_color_name_lime"))]}</div>
                                <div class="color-pattern ground-color-lime-700"></div>
                            </li>
                            <li class="color-value" data-value="amber">
                                <div class="color-name text-color-amber-700">{[print(xabber.getString("account_color_name_amber"))]}</div>
                                <div class="color-pattern ground-color-amber-700"></div>
                            </li>
                            <li class="color-value" data-value="orange">
                                <div class="color-name text-color-orange-700">{[print(xabber.getString("account_color_name_orange"))]}</div>
                                <div class="color-pattern ground-color-orange-700"></div>
                            </li>
                            <li class="color-value" data-value="deep-orange">
                                <div class="color-name text-color-deep-orange-700">{[print(xabber.getString("account_color_name_deep_orange").replace(/-/g, " "))]}</div>
                                <div class="color-pattern ground-color-deep-orange-700"></div>
                            </li>
                            <li class="color-value" data-value="brown">
                                <div class="color-name text-color-brown-700">{[print(xabber.getString("account_color_name_brown"))]}</div>
                                <div class="color-pattern ground-color-brown-700"></div>
                            </li>
                            <li class="color-value" data-value="blue-grey">
                                <div class="color-name text-color-blue-grey-700">{[print(xabber.getString("account_color_name_blue_grey").replace(/-/g, " "))]}</div>
                                <div class="color-pattern ground-color-blue-grey-700"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap media-gallery">
            </div>
            <div class="settings-block-wrap vcard">
            </div>

            <div class="settings-block-wrap omemo-info">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("omemo__settings__section_header"))]}</span>
                </div>
                <div class="omemo-settings-wrap">
                    <div class="settings">
                        <div class="setting-wrap omemo-enable">
                            <span>{[print(xabber.getString("omemo__settings__toggle_enable_encryption"))]}</span>
                            <div class="field setting-use-omemo switch normal">
                                <label class="field-value">
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="setting-wrap send-chat-states">
                            <span>{[print(xabber.getString("omemo__settings__toggle_send_typing_notifications"))]}</span>
                            <div class="field setting-send-chat-states switch normal">
                                <label class="field-value">
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="setting-wrap manage-devices">
                            <button class="btn-manage-devices btn-flat btn-main btn-dark ground-color-grey-100 hover-ground-color-grey-300">{[print(xabber.getString("omemo__settings__button_manage_devices"))]}</button>
                        </div>
                        <div class="setting-wrap purge-keys">
                            <button class="btn-purge-keys btn-flat btn-main btn-dark ground-color-grey-100 hover-ground-color-grey-300">{[print(xabber.getString("omemo__settings__button_purge_keys"))]}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap server-info">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("account_server_info_description"))]}</span>
                </div>
                <div class="capabilities-wrap">
                    <div class="capabilities">
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap blocklist-info">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("blocked_contacts"))]}</span>
                </div>
                <div class="blocklist-wrap">
                    <div class="blocked-items">
                        <div class="placeholder">{[print(xabber.getString("blocked_contacts_empty"))]}</div>
                        <div class="blocked-domains-wrap hidden">
                            <div class="blocked-item domains-item">
                                <i class="toggle-items arrow mdi mdi-20px mdi-chevron-right"></i>
                                <div class="blocked-item-header one-line">{[print(xabber.getString("blocked_domain"))]}</div>
                                <div class="blocked-item-description one-line"/>
                            </div>
                            <div class="blocked-domains blocked-list hidden"/>
                        </div>
                        <div class="blocked-invitations-wrap hidden">
                            <div class="blocked-item invitations-item">
                                <i class="toggle-items arrow mdi mdi-20px mdi-chevron-right"></i>
                                <div class="blocked-item-header one-line">{[print(xabber.getString("blocked_group_invitations"))]}</div>
                                <div class="blocked-item-description">{[print(xabber.getString("blocked_group_invitations_summary_full"))]}</div>
                            </div>
                            <div class="blocked-invitations blocked-list hidden"/>
                        </div>
                        <div class="blocked-contacts-wrap hidden">
                            <div class="blocked-item contacts-item">
                                <i class="toggle-items arrow mdi mdi-20px mdi-chevron-right"></i>
                                <div class="blocked-item-header one-line">{[print(xabber.getString("blocked_contacts"))]}</div>
                                <div class="blocked-item-description one-line"/>
                            </div>
                            <div class="blocked-contacts blocked-list hidden"/>
                        </div>
                        <button class="btn-block btn-flat btn-main btn-dark ground-color-grey-100 hover-ground-color-grey-300">{[print(xabber.getString("settings_account__blocklist__button_block"))]}</button>
                    </div>
                </div>
            </div>

            <div class="settings-block-wrap groups-info">
                <div class="block-header">
                    <span class="block-name">{[print(xabber.getString("settings_account__section_header_circles"))]}</span>
                </div>
                <div class="groups-wrap">
                    <div class="groups">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
