<div class="token-wrap" data-token-uid="{{token_uid}}">
    <div class="token-client-wrap">
        <div class="client one-line">{{client}}</div>
        <div class="device one-line">{{device}}</div>
    </div>
    <div class="last-auth">{[ if (resource_obj) {]}{[print(xabber.getString("account_state_connected"))]}{[} else {]}{{last_auth}}{[}]}</div>
    <div class="ip-address">{{ip}}</div>
    <div class="device-encryption one-line">
        <i class="mdi mdi-lock mdi-14px hidden"></i>
        <span>
            {[print(xabber.getString("settings_account__omemo_not_enabled"))]}
        </span>
    </div>
    <i class="btn-revoke-token mdi mdi-24px mdi-close"></i>
</div>