<div class="token-wrap settings-tab" data-subblock-parent-name="devices" data-block-name="device-information" data-token-uid="{{token_uid}}">
    <div class="token-icon-wrap">
        {[if (device && (device.indexOf('Android') > -1 || device.indexOf('iOS') > -1)){]}
            <svg class="mdi token-icon mdi-24px mdi-svg-template" data-svgname="device-cellphone"></svg>
        {[} else {]}
            <svg class="mdi token-icon mdi-24px mdi-svg-template" data-svgname="device-web"></svg>
        {[}]}
    </div>
    <div class="token-client-wrap">
        <div class="device one-line">{{device}}</div>
        <div class="ip-address">{{ip}} • {[ if (resource_obj) {]}{[print(xabber.getString("account_state_connected"))]}{[} else {]}{{last_auth}}{[}]}</div>
    </div>
    <div class="device-encryption one-line">
        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="security"></svg>
    </div>
</div>