<div class="token-wrap" data-token-uid="{{token_uid}}">
    <div class="token-icon-wrap">
        <svg class="mdi token-icon mdi-24px mdi-svg-template" data-svgname="device-web"></svg>
    </div>
    <div class="token-icon-wrap device-icon-phone hidden">
        <svg class="mdi token-icon mdi-24px mdi-svg-template" data-svgname="device-cellphone"></svg>
    </div>
    <div class="token-client-wrap">
        <div class="device one-line">{{device}}</div>
        <div class="ip-address">{{ip}} • {[ if (resource_obj) {]}{[print(xabber.getString("account_state_connected"))]}{[} else {]}{{last_auth}}{[}]}</div>
    </div>
    <div class="device-encryption one-line">
        <svg class="mdi mdi-24px mdi-svg-template" data-svgname="security"></svg>
    </div>
    <i class="btn-revoke-token mdi mdi-24px mdi-close"></i>
</div>