<div class="border ground-color-500"></div>
<div class="account-item-avatar-wrap">
    <div class="circle-avatar-wrap">
        <div class="dropdown-button circle-avatar border-color noselect"></div>
    </div>
</div>
<div class="status"></div>
<i class="auth-failed mdi mdi-16px mdi-close"></i>
<div class="account-actions-panel">
    <div class="filter-chats">
        <i class="mdi mdi-filter mdi-20px"></i>
        <div class="text">{[print(xabber.getString("account__toolbar_item__button_filter_chats"))]}</div>
    </div>
</div>