<div class="trust-item-device" data-device-id="{{device.device_id}}">
    <div class="trust-item-device-row">
        <div class="trust-item-device-label">{[print(xabber.getString("settings_account__device_information_device_id"))]}</div>
        <div class="trust-item-device-value">{{device.device_id}}</div>
    </div>
    <div class="trust-item-device-row">
        <div class="trust-item-device-label">{[print(xabber.getString("omemo__dialog_fingerprints__fingerprint_label"))]}</div>
        <div class="trust-item-device-value device-information-fingerprint-text">{{fingerprint}}</div>
    </div>
    <div class="trust-item-device-row">
        <div class="trust-item-device-label">{[print(xabber.getString("settings_account__trust__time_label"))]}</div>
        <div class="trust-item-device-value">{{time}}</div>
    </div>
    <div class="trust-item-device-row">
        <div class="trust-item-device-label">{[print(xabber.getString("settings_account__trust__trust_reason_label"))]}</div>
        <div class="trust-item-device-value">{{trust_type}}</div>
    </div>
    {[if (device.from_device_id && device.trust_reason_jid){]}
    <div class="trust-item-device-under-row">
        <div class="trust-item-device-value">{{device.trust_reason_jid}}</div>
        <div class="trust-item-device-value">{{device.from_device_id}}</div>
    </div>
    {[}]}
</div>