<div class="trust-item-device settings-tab" data-header="{[if (label) {]}{{label}}{[} else {]}{{device.device_id}}{[}]}" data-device-id="{{device.device_id}}" data-jid="{{jid}}" data-subblock-parent-name="trust-item" data-block-name="trust-item-info">
    <div class="trust-item-device-icon-wrap">
        <i class="mdi mdi-24px mdi-help"></i>
    </div>
    <div class="trust-item-device-name">
        {[if (label) {]}{{label}}{[} else {]}{{device.device_id}}{[}]}
    </div>
    <div class="trust-item-device-short-info">
        <span class="device-id">{{device.device_id}}</span>{[if (trust_type) {]} • <span class="trusted-type">{{trust_type}}</span>{[}]}
    </div>
</div>