<div class="login-panel">
    <div class="login-panel-container">
        <div class="login-panel-header">
            <div class="logo">
                <img src="/static/xmppserverui/img/logo.png" alt="xabber-logo" class="client-logo"/>
            </div>
        </div>

        <div class="login-panel-body">
            <div class="client-name">Xabber for Web</div>
            <div class="client-subtitle">Online team chat right in your browser</div>

            <input class="login-form-field" id="jid" placeholder="username@example.com" type="text" name="jid">
            <label for="jid"></label>

            <input class="login-form-field" id="password" placeholder="Password" type="password" name="password">
            <label for="password"></label>

            <span class="login-error errors"></span>

            <div class="login-button-row">
                <button class="login-button btn-log-in">Login</button>
            </div>

        </div>

        <div class="login-panel-clients-wrap">
            <div class="row login-panel-clients">
                <div class="col lp-client-item">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.xabber.android">
                        <div class="lp-client-logo">
                            <img src="images/client_android.svg" alt="">
                        </div>
                        <div class="lp-client-title">
                            Xabber for Android
                        </div>
                    </a>
                </div>
                <div class="col lp-client-item">
                    <a target="_blank" href="https://testflight.apple.com/join/8AVdKqCK">
                        <div class="lp-client-logo">
                            <img src="images/client_iphone.svg" alt="">
                        </div>
                        <div class="lp-client-title">
                            Xabber for iOS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="login-panel-footer">
    <div class="col">
        <div class="login-page-footer-link">
            <a href="https://www.xabber.com/">www.xabber.com</a>
        </div>
    </div>
</div>