<div class="one-file-wrap link-file">
    <i class="mdi mdi-play"></i>
    <i class="mdi mdi-pause"></i>
    <div class="file-container voice-message-rendering">
        <div data-url="{{sources[0]}}" class="waveform" id="{{waveform_id}}"></div>
        <div class="audio-control-panel">
            <span class="voice-msg-current-time">0:00</span> /
            <span class="voice-msg-total-time">{[if (duration) print(duration); else print('0:00');]}</span>
            <input value="50" type="range" class="voice-message-volume">
        </div>
    </div>
</div>