<div class="one-file-wrap link-file">
    <i class="mdi mdi-play no-uploaded"></i>
    <i class="mdi mdi-pause"></i>
    <div class="file-container">
        <div class="file-info one-line">
            <span class="file-name">{{name}}</span>{[ if (duration) { ]}, {{duration}}{[ } ]},  <span class="file-size">{{size}}</span>
        </div>
        <a href="{{sources[0]}}" class="file-link-download">{[print(xabber.getString("action_download"))]}</a>
        <a class="voice-message-play">Play</a>
    </div>
</div>