<div class="chat-message main {{classlist}}"  {[if (avatar_id) {]} data-avatar="{{avatar_id}}" {[}]} {[if (avatar_url) {]} data-avatar-url="{{avatar_url}}" {[}]} data-time="{{timestamp}}" data-uniqueid="{{unique_id}}" {[if (from_id) {]} data-from-id="{{from_id}}" {[}]} data-from="{{from_jid}}">
    <div class="left-side noselect">
        <div class="circle-avatar"></div>
    </div>

    <div class="msg-wrap">
        <div class="chat-msg-author-wrap">
            <div class="chat-msg-author text-color-700 one-line">{{username}}</div>
            {[if (badge) {]} <div class="chat-msg-author-badge one-line">{{badge}}</div>
            {[ } if (role && (role.toLowerCase() != 'member')) {]} <div class="chat-msg-author-role ground-color-700 one-line">{{role}}</div> {[}]}
        </div>
        <div class="fwd-msgs-block"></div>
        <div class="chat-msg-content chat-text-content">{{message}}</div>
        <div class="chat-msg-link-reference-content"></div>
        <div class="chat-msg-media-content">
            <div class="chat-file-info">
                <div class="filename text-color-700 one-line">{{files[0].name}}</div>
                <div class="filesize grey-text one-line"></div>
                <div class="status-area">
                    <div class="status one-line text-color-700" style="display: none"></div>
                    <div class="repeat-upload text-color-700" style="display: none;">Resend</div>
                </div>
                <div class="progress-area">
                    <div class="progress ground-color-100">
                        <div class="determinate ground-color-700" style="width: 0%"></div>
                    </div>
                    <div class="cancel-upload text-color-700">Cancel</div>
                </div>
            </div>
        </div>
        <div class="chat-msg-location-content no-title" title="{[print(xabber.getString('location_fragment__address_error__title'))]}"></div>
    </div>

    <div class="right-side noselect">
        <div class="msg-time selectable-text" title="{{time}}">{{short_time}}</div>
        <div class="edited-info one-line hidden"></div>
        {[ if (is_sender) { ]}
        <i class="msg-delivering-state mdi mdi-14px" data-state="{{state}}" title="{{verbose_state}}" data-activates="retry-send-msg-{{msgid}}"></i>
        <div id="retry-send-msg-{{msgid}}" class="dropdown-content retry-send-message noselect"><div class="btn-retry-send-message">{[print(xabber.getString("chat_screen__message__button_retry_send"))]}</div></div>
        {[ } ]}
        <div class="msg-copy-link" title='{[print(xabber.getString("action_copy_link"))]}'><i class="mdi mdi-link-variant" data-image="{{is_image}}"></i></div>
        <div class="msg-copy-location"  title='{[print(xabber.getString("action_copy_location"))]}'><div class="msg-copy-location-content" data-location="false"></div></div>
    </div>
</div>