<div class="chat-message file-upload noselect" {[if (avatar_id) {]} data-avatar="{{avatar_id}}" {[}]} data-time="{{timestamp}}" data-from="{{from_jid}}" data-msgid="{{msgid}}">
    <div class="left-side noselect">
        <div class="circle-avatar"><img></div>
    </div>

    <div class="msg-wrap">
        <div class="chat-msg-author-wrap">
            <div class="chat-msg-author text-color-700 one-line">{{username}}</div>
            {[if (badge) {]} <div class="chat-msg-author-badge one-line">{{badge}}</div>
            {[ } if ((role)&&(role != 'Member')) {]} <div class="chat-msg-author-role ground-color-700 one-line">{{role}}</div> {[}]}
        </div>
        <div class="chat-msg-content chat-file-content">
            <div class="chat-file-info">
                <div class="filename text-color-700 one-line">{{files[0].name}}</div>
                <div class="filesize grey-text one-line"></div>
                <div class="status-area">
                    <div class="status one-line text-color-700" style="display: none"></div>
                    <div class="repeat-upload text-color-700" style="display: none;">Resend</div>
                </div>
                <div class="progress-area">
                    <div class="progress ground-color-100">
                        <div class="determinate ground-color-700" style="width: 0%"></div>
                    </div>
                    <div class="cancel-upload text-color-700">Cancel</div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-side noselect">
        <div class="msg-time selectable-text" title="{{time}}">{{short_time}}</div>
        <i class="msg-delivering-state mdi mdi-14px" data-state="pending" title="{{verbose_state}}"></i>
        <div class="msg-copy-link" title="Copy link"><i class="mdi mdi-link-variant" data-image="{{is_image}}"></i></div>
    </div>
</div>