<div class="fwd-message" data-time="{{timestamp}}" data-msgid="{{msgid}}" {[if (avatar_id) {]} data-avatar="{{avatar_id}}" {[}]} data-from-id="{{from_id}}" data-from="{{from_jid}}">
    <div class="fwd-left-side noselect">
        <div class="circle-avatar"><img></div>
    </div>

    <div class="msg-wrap">
        <div class="fwd-msg-author-wrap">
            <div class="fwd-msg-author text-color-700 one-line">{{username}}</div>
            {[if (badge) {]} <div class="chat-msg-author-badge one-line">{{badge}}</div>
            {[ } if ((role)&&(role != 'Member')) {]} <div class="chat-msg-author-role ground-color-700 one-line">{{role}}</div> {[}]}
            <div class="msg-time selectable-text one-line" title="{{time}}">{{short_time}}</div>
        </div>
        <div class="fwd-msgs-block"></div>
        <div class="chat-msg-content chat-text-content">{{message}}</div>
    </div>
</div>
