<div class="fwd-message" data-time="{{timestamp}}" data-msgid="{{msgid}}" data-from="{{from_jid}}">
    <div class="fwd-left-side noselect">
        <div class="circle-avatar"><img></div>
    </div>

    <div class="msg-wrap">
        <div class="fwd-msg-author-wrap">
            <div class="fwd-msg-author text-color-700 one-line">{{username}}</div>
            <div class="msg-time selectable-text" title="{{time}}">{{short_time}}</div>
        </div>
        <div class="chat-msg-content chat-text-content">{[ if (is_file) { ]}<div class="file-in-circle"><i class="mdi mdi-24px mdi-file"></i></div>{[ } ]}{{message}}</div>
    </div>
</div>
