{[ if (is_video) {]}
        <div class="link-message-reference message-reference-preview-item message-reference-preview-item-big-image">
            <div class="embed-video">
                <div class="plyr-video-container" data-provider="{{provider}}" data-src="{{video_url}}">
                    <div class="plyr-video-play">
                        <svg class="mdi mdi-32px mdi-svg-template" data-svgname="play"></svg>
                    </div>
                    <div class="plyr-video-playing">
                        <svg class="mdi mdi-48px mdi-svg-template" data-svgname="player-float"></svg>
                        <div class="plyr-video-playing-hint">{[print(xabber.getString("chat_message_video_playing_hint"))]}</div>
                    </div>
                    {[ if (image) {]}
                    <img class="plyr-video-poster" src="{{image}}" onerror="this.style.display='none'">
                    {[}]}
                </div>
            </div>
            <a href="{{original_text}}" target=”_blank” class="msg-hyperlink">
                <div class="attached-text-block">
                    <div class="link-title one-line">{{domain}}</div>
                    <div class="link-site-title">{{title}}</div>
                    <div class="link-description">{{description}}</div>
                </div>
            </a>
        </div>
{[} else {]}
    <a href="{{original_text}}" target=”_blank” class="msg-hyperlink">
        <div class="link-message-reference message-reference-preview-item{[if (image_width && image_width >= 590) {]} message-reference-preview-item-big-image{[}]}">
            {[ if (image) {]}
            <img class="attached-image" data-mfp-src="{{image}}" src="{{image}}">
            {[}]}
            <div class="attached-text-block">
                <div class="link-title one-line">{{domain}}</div>
                <div class="link-site-title">{{title}}</div>
                <div class="link-description">{{description}}</div>
            </div>
        </div>
    </a>
{[}]}