<div class="link-message-reference message-reference-preview-attached message-reference-preview-item {[ if (item.image && item.video_url) {]}link-message-reference-video{[}]}" data-original-url="{{item.original_text}}">
    <svg class="details-icon mdi mdi-18px mdi-close mdi-svg-template" data-svgname="close"></svg>
    {[ if (item.image && item.video_url) {]}
    <img class="attached-image" data-mfp-src="{{item.image}}" src="{{item.image}}">
    <div class="attached-site-name one-line">{{item.site}}</div>
    {[} else if (item.image) {]}
    <img class="attached-image" data-mfp-src="{{item.image}}" src="{{item.image}}">
    <div class="attached-text-block">
        <div class="link-site one-line">{{domain}}</div>
        {[if (item.description) {]}
            <div class="link-title{[if (item.description.length <= 25) {]} link-title-short{[}]}">{{item.description}}</div>
        {[} else {]}
            <div class="link-title{[if (item.title.length <= 25) {]} link-title-short{[}]}">{{item.title}}</div>
        {[}]}
    </div>
    {[} else {]}
    <div class="attached-text-block">
        <div class="link-site one-line">{{domain}}</div>
        {[if (item.description) {]}
            <div class="link-title{[if (item.description.length <= 29) {]} link-title-short{[}]}">{{item.description}}</div>
        {[} else {]}
            <div class="link-title{[if (item.title.length <= 29) {]} link-title-short{[}]}">{{item.title}}</div>
        {[}]}
    </div>
    {[}]}
</div>