{[ if (url) {]}
<a href="{{url}}" target=”_blank” class="msg-hyperlink">
    <div class="link-message-reference message-reference-preview-item{[if (image_width && image_width >= 590) {]} message-reference-preview-item-big-image{[}]}">
        {[ if (image) {]}
            <img class="attached-image" src="{{image}}">
        {[}]}
        <div class="attached-text-block">
            <div class="link-title one-line">{{domain}}</div>
            <div class="link-site-title">{{title}}</div>
            <div class="link-description">{{description}}</div>
        </div>
    </div>
</a>
{[} else {]}
<div class="link-message-reference message-reference-preview-item">
    <i class="mdi mdi-18px mdi-close"></i>
    {[ if (item.image && item.video_url) {]}
    <img class="attached-image" src="{{item.image}}">
    {[} else if (item.image) {]}
    <img class="attached-image" src="{{item.image}}">
    <div class="attached-text-block">
        <div class="link-site one-line">{{domain}}</div>
        {[if (item.description) {]}
            <div class="link-title{[if (item.description.length <= 25) {]} link-title-short{[}]}">{{item.description}}</div>
        {[} else {]}
            <div class="link-title{[if (item.title.length <= 25) {]} link-title-short{[}]}">{{item.title}}</div>
        {[}]}
    </div>
    {[} else {]}
    <div class="attached-text-block">
        <div class="link-site one-line">{{domain}}</div>
        {[if (item.description) {]}
            <div class="link-title{[if (item.description.length <= 29) {]} link-title-short{[}]}">{{item.description}}</div>
        {[} else {]}
            <div class="link-title{[if (item.title.length <= 29) {]} link-title-short{[}]}">{{item.title}}</div>
        {[}]}
    </div>
    {[}]}
</div>
{[}]}