<div class="chat-message main {{classlist}}" data-time="{{timestamp}}" data-msgid="{{msgid}}" data-from="{{from_jid}}">
    <div class="left-side noselect">
        <div class="circle-avatar"><img></div>
    </div>

    <div class="msg-wrap">
        <div class="chat-msg-author-wrap">
            <div class="chat-msg-author text-color-700 one-line">{{username}}</div>
        </div>
        <div class="chat-msg-content chat-text-content">{{message}}</div>
    </div>

    <div class="right-side noselect">
        <div class="msg-time selectable-text">{{time}}</div>
        {[ if (is_sender) { ]}
            <i class="msg-delivering-state mdi mdi-14px" data-state="{{state}}" title="{{verbose_state}}"></i>
        {[ } ]}
    </div>
</div>
