<div class="chat-message main {{classlist}}" data-time="{{timestamp}}" data-msgid="{{msgid}}" data-from="{{from_jid}}">
    <div class="left-side noselect">
        <div class="circle-avatar"><img></div>
    </div>

    <div class="msg-wrap">
        <div class="chat-msg-author-wrap">
            <div class="chat-msg-author text-color-700 one-line">{{username}}</div>
        </div>
        <div class="chat-msg-content chat-text-content">{[ if (is_file) {]}<div class="file-in-circle"><i class="mdi mdi-24px mdi-file"></i></div>{[ } ]}{{message}}</div>
    </div>

    <div class="right-side noselect">
        <div class="msg-time selectable-text" title="{{time}}">{{short_time}}</div>
        {[ if (is_sender) { ]}
            <i class="msg-delivering-state mdi mdi-14px" data-state="{{state}}" title="{{verbose_state}}"></i>
        {[ } ]}
        <div class="msg-copy-link" title="Copy link"><i class="mdi mdi-link-variant" data-image="{{is_image}}"></i></div>
    </div>
</div>
