<div class="video-file-wrap">
    <div class="video-metadata">
        {{video.name}}, {{video.pretty_size}}
    </div>
    <div class="video-container">
    </div>
    <div class="video-controls control">
        <div class="progress-bar">
            <span class="time-bar"></span>
        </div>
        <div class="bottom-wrapper no-select">
            <div class="play-button mini" title="Play/Pause Video">
                <i class="mdi mdi-20px mdi-play"></i>
            </div>
            <div class="time">
                <span class="current">00:00</span> / <span class="duration">00:00</span>
            </div>
            <div class="sound-button sound-med" title="Mute/Unmute sound">
                <i class="mdi mdi-20px mdi-volume-high"></i>
            </div>
            <div class="volume" title="Set volume">
                <span class="volume-bar"></span>
            </div>
            <div class="video-fullscreen" title="Switch to full screen">
                <i class="mdi mdi-20px mdi-fullscreen"></i>
            </div>
        </div>
    </div>
</div>
</div>