<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/bank-circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
        <path d="M12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 C22,6.5 17.5,2 12,2 M17,17 L7,17 L7,15 L17,15 L17,17 M8,14 L8,11 L10,11 L10,14 L8,14 M11,14 L11,11 L13,11 L13,14 L11,14 M14,14 L14,11 L16,11 L16,14 L14,14 M17,10 L7,10 L7,8.5 L12,6 L17,8.5 L17,10 Z" id="mdi:bank-circle" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>