<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/call-declined" stroke="none" fill="none" fill-rule="nonzero">
        <rect id="ViewBox" x="0" y="0" width="24" height="24"></rect>
        <polygon id="xabber.call-noanswer" fill="#000000" points="19.59 6.59 12 14.18 6.41 8.59 11 8.59 11 6.59 3 6.59 3 14.59 5 14.59 5 10 12 17 21 8"></polygon>
    </g>
</svg>