<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/chat-outline" stroke="none" fill="none" transform="translate(0, 0)" fill-rule="nonzero">
        <rect id="ViewBox" x="0" y="0" width="24" height="24"></rect>
        <path d="M20,2 C21.1045695,2 22,2.8954305 22,4 L22,16 C22,17.1045695 21.1045695,18 20,18 L6,18 L2,22 L2,4 C2,2.89 2.9,2 4,2 L20,2 L20,2 Z M4,4 L4,17.17 L5.17,16 L20,16 L20,4 L4,4 L4,4 Z M6,7 L18,7 L18,9 L6,9 L6,7 L6,7 Z M6,11 L15,11 L15,13 L6,13 L6,11 Z" id="mdi:message-text-outline" fill="#000000"></path>
    </g>
</svg>