<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon/material/device-cellphone</title>
    <g id="icon/material/device-cellphone" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
        <path d="M17,19 L7,19 L7,5 L17,5 M17,1 L7,1 C5.89,1 5,1.89 5,3 L5,21 C5,22.1045695 5.8954305,23 7,23 L17,23 C18.1045695,23 19,22.1045695 19,21 L19,3 C19,1.8954305 18.1045695,1 17,1 Z" id="mdi:cellphone" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>