<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/file-audio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
        <path d="M12,3 L12,13.55 C11.41,13.21 10.73,13 10,13 C7.79,13 6,14.79 6,17 C6,19.21 7.79,21 10,21 C12.21,21 14,19.21 14,17 L14,7 L18,7 L18,3 L12,3 Z" id="mdi:music-note" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>