<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/messages" stroke="none" fill="none" fill-rule="nonzero">
        <rect id="ViewBox" x="0" y="0" width="24" height="24"></rect>
        <path d="M9,5 L9,9 L21,9 L21,5 M9,19 L21,19 L21,15 L9,15 M9,14 L21,14 L21,10 L9,10 M4,9 L8,9 L8,5 L4,5 M4,19 L8,19 L8,15 L4,15 M4,14 L8,14 L8,10 L4,10 L4,14 Z" id="mdi:view-list" fill="#000000"></path>
    </g>
</svg>