<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/pin" stroke="none" fill="none" fill-rule="nonzero">
        <rect id="ViewBox" x="0" y="0" width="24" height="24"></rect>
        <polygon id="mdi:pin" fill="#000000" points="16 11.998 16 3.998 17 3.998 17 1.998 7 1.998 7 3.998 8 3.998 8 11.998 6 13.998 6 15.998 11.2 15.998 11.2 21.998 12.8 21.998 12.8 15.998 18 15.998 18 13.998"></polygon>
    </g>
</svg>