<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon/material/player-mini-variant</title>
    <g id="icon/material/player-mini-variant" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
        <path d="M19.5,4.5 C19.5,5.32842712 18.8284271,6 18,6 L6,6 C5.17157288,6 4.5,5.32842712 4.5,4.5 C4.5,3.67157288 5.17157288,3 6,3 L18,3 C18.8284271,3 19.5,3.67157288 19.5,4.5 Z" id="xabber:player-mini-variant" fill="#000000"></path>
    </g>
</svg>