<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon/material/play</title>
    <g id="icon/material/play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
        <polygon id="mdi:play" fill="#000000" fill-rule="nonzero" points="8 5 8 19 19 12"></polygon>
    </g>
</svg>