<?xml version="1.0" encoding="UTF-8"?>
<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g id="icon/material/shield-outline" stroke="none" fill="none" fill-rule="nonzero">
        <rect id="ViewBox" x="0" y="0" width="24" height="24"></rect>
        <path d="M21,11 C21,16.55 17.16,21.74 12,23 C6.84,21.74 3,16.55 3,11 L3,5 L12,1 L21,5 L21,11 Z M12,21 C15.75,20 19,15.54 19,11.22 L19,6.3 L12,3.18 L5,6.3 L5,11.22 C5,15.54 8.25,20 12,21" id="mdi:shield-outline" fill="#000000"></path>
    </g>
</svg>