<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Mobile-Portrait" transform="translate(-41.000000, -4.000000)">
        <g id="volume-off-variant" transform="translate(34.000000, 0.000000)">
            <rect id="Bounds" x="0" y="0" width="24" height="24"></rect>
            <polygon id="Path-2" points="7 9 7 15 11 15 16 20 16 16.5 8.5 9"></polygon>
            <polygon id="Path-3" points="7 6 18.5 17.5 19.5 16.5 16 13 16 4 11.5 8.5 8 5"></polygon>
        </g>
    </g>
</g>
