<div class="group-chat-title-wrap hidden">
    <div class="account-indicator"></div>
    <!--<img class="group-chat-icon" src="./images/GroupchatBorderless.svg">-->
    <div class="contact-icon">
        <i class="mdi mdi-20px mdi-desktop-tower hidden"></i>
        <i class="mdi mdi-20px mdi-account-multiple"></i>
    </div>
    <div class="group-chat-name one-line"></div>
</div>
<div class="mention-info-wrap">
<div class="account-indicator ground-color-700"></div>
<div class="circle-avatar"></div>
<div class="mention-info">
    <div class="chat-title-wrap">
        <p class="chat-title one-line"></p>
    </div>
    <p class="last-msg one-line"></p>
    <p class="last-msg-date"></p>
    <span class="msg-counter hidden"></span>
</div>
</div>