<div class="group-chat-title-wrap hidden">
    <div class="account-indicator"></div>
    <div class="contact-icon">
        <img class="server-icon hidden" src="./images/BotIcon20x20@2x.png">
        <img class="group-chat-icon hidden" src="./images/GroupchatIcon20x20@2x.png">
    </div>
    <div class="group-chat-name one-line"></div>
</div>
<div class="mention-info-wrap">
<div class="account-indicator ground-color-700"></div>
<div class="circle-avatar"></div>
<div class="mention-info">
    <div class="chat-title-wrap">
        <p class="chat-title one-line"></p>
    </div>
    <p class="last-msg one-line"></p>
    <p class="last-msg-date"></p>
    <span class="msg-counter hidden"></span>
</div>
</div>