<div class="account-wrap" data-jid="{{jid}}">
    <div class="account-info-wrap">
        <i class="sync-icon mdi mdi-24px" data-mdiclass=""></i>
        <div class="text-info-wrap">
            <div class="name text-color-grey-900 one-line">{{jid}}</div>
            <div class="sync-tip text-color-grey-500 one-line"></div>
        </div>
    </div>
    <div class="input-field checkbox-field sync-one-wrap no-padding">
        <input type="checkbox" class="filled-in sync-one" id="{{view.cid}}_sync_{{jid}}"/>
        <label for="{{view.cid}}_sync_{{jid}}"></label>
    </div>
</div>
