<div class="modal-content-wrap settings-panel">
    <div class="modal-header">
        <span>Synchronization</span>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="setting sync-all-wrap field-wrap">
                <div class="field clickable-field switch normal">
                    <span class="field-name">Synchronize all</span>
                    <label class="field-value">
                       <input type="checkbox" class="sync-all">
                       <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="accounts-wrap">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-sync">Synchronize</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button>
    </div>
</div>
