<div class="modal-content-wrap settings-panel">
    <div class="modal-header">
        <span>{[print(xabber.getString("xabber_account__dialog_sync__header"))]}</span>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="setting sync-all-wrap field-wrap">
                <div class="field clickable-field switch normal">
                    <span class="field-name">{[print(xabber.getString("sync_all"))]}</span>
                    <label class="field-value">
                       <input type="checkbox" class="sync-all">
                       <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="accounts-wrap">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-sync">{[print(xabber.getString("xabber_account__dialog_sync__button_sync"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>
