<div class="login-panel-form xmpp-login-form noselect">
    <div class="login-form-header">Email Login</div>
    <div class="input-field email-name">
        <input id="username" type="text" name="username">
        <label for="username">Email</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="input-field">
        <input id="password" type="password" name="password">
        <label for="password">Password</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="login-panel-footer buttons-wrap"><button class="btn btn-flat btn-main-filled btn-log-in">Log In</button><button class="btn-flat btn-main btn-dark btn-cancel">Cancel</button></div>
</div>