<div class="xabber-account-content-wrap">
    <div class="account-info-wrap">
        <div class="circle-avatar noselect">
            <img>
        </div>
        <div class="text-info-wrap">
            <div class="name-wrap">
                <div class="name text-color-red-700 one-line"></div>
            </div>
        </div>
    </div>
    <div class="sync-wrap">
        <div class="btn-sync">
            <div class="button">
                <i class="mdi mdi-20px mdi-sync"></i>
            </div>
            <div class="preloader-wrapper preloader-20px active">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-sync-info"></div>
    </div>
    <div class="buttons-wrap">
        <button class="btn-flat btn-main btn-login">Log in</button>
        <button class="btn-flat btn-main btn-logout">Log out</button>
    </div>
</div>
<div class="xabber-account-tip">Xabber account lets you easily sync your settings and connected XMPP accounts between various devices.</div>
