<div class="login-panel-form xmpp-login-form noselect">
    <div class="login-form-header">{[print(xabber.getString("title_login_email"))]}</div>
    <div class="input-field email-name">
        <input id="username" type="text" name="username">
        <label for="username">{[print(xabber.getString("email_hint"))]}</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="input-field">
        <input id="password" type="password" name="password">
        <label for="password">{[print(xabber.getString("hint_pass"))]}</label>
        <span class="errors fixed one-line"></span>
    </div>
    <div class="login-panel-footer buttons-wrap"><button class="btn btn-flat btn-main-filled btn-log-in">{[print(xabber.getString("xabber_account__social_links__button_log_in"))]}</button><button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button></div>
</div>