<div class="modal-header"><div class="panel-header black-text">Default restrictions</div></div>
<div class="modal-content">
    <div class="preloader-wrapper preloader-17px active visible">
        <div class="spinner-layer">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div class="default-restrictions-list-wrap"></div>
    <p class="default-restrictions-info">These restrictions will be automatically applied to all new group chat participants</p>
</div>
<div class="modal-footer">
    <div class="buttons-wrap">
        <button class="btn-default-restrictions-save btn-flat btn-main non-active">Save</button>
        <button class="btn-default-restrictions-cancel btn-flat btn-main btn-dark">Cancel</button>
    </div>
</div>