<div class="restrictions-wrap">
    <div class="restrictions-header block-header">
        <i class="details-icon btn-back mdi mdi-24px mdi-arrow-right"></i>
        <span class="block-name">{[print(xabber.getString("groupchat_default_restrictions"))]}</span>
        <span class="block-name second-text fade-out"></span>
        <button class="btn-default-restrictions-save text-color-500 btn-flat btn-main fade-out">{[print(xabber.getString("save"))]}</button>
        <div class="edit-save-preloader preloader-wrap">
            <div class="preloader-wrapper preloader-17px visible">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="restrictions-content edit-default-restrictions">
        <div class="default-restrictions-list-wrap"></div>
        <p class="default-restrictions-info">{[print(xabber.getString("dialog_default_restrictions_right__placeholder"))]}</p>
    </div>
</div>
