<div class="edit-default-restrictions">
    <div class="default-restrictions-list-wrap"></div>
    <div class="buttons-wrap">
        <button class="btn-default-restrictions-cancel btn-flat btn-main btn-dark">Cancel</button>
        <button class="btn-default-restrictions-update btn-flat btn-main">Update</button>
    </div>
    <div class="preloader-wrapper preloader-17px active">
        <div class="spinner-layer">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>