<tr class="participant-wrap" data-id="{{id}}" data-jid="{{jid}}">
    <td class="list-item group-chat-participant">
        <div class="member-item">
            <div class="circle-avatar"></div>
            <div class="participant-info">
            <div class="top-line"><div title="{{nickname}}" class="nickname one-line">{{nickname}}</div>{[if (badge) {]}<div class="badge one-line">{{badge}}</div>{[}]}</div>
            {[if (jid) {]}<p class="jid one-line">{{jid}}</p>{[}]}
            </div>
        </div>
    </td>
    <td class="last-seen">{[if (!present) {]}<span class="online-status text-color-green-700">{[print(xabber.getString("group_settings__members__status_online"))]}</span>{[} else {]}<span title="{{present}}">{{pretty_present}}</span>{[}]}</td>
    <td class="role">{[if (role !== 'member') {]}{{role}}{[}]}</td>
    <td>
        {[if (is_me) {]}
        <span style="font-size:12px" class="text-color-500">{[print(xabber.getString("groupchat_this_is_you"))]}</span>
        {[} else {]}
        <div class="buttons-wrap">
            <div title='{[print(xabber.getString("groupchat_kick"))]}' class="btn-kick">
                <i class="mdi mdi-24px mdi-account-remove"></i>
            </div>
            <div title='{[print(xabber.getString("groupchat_kick_and_block"))]}' class="btn-block">
                <svg class="mdi mdi-24px" viewBox="0 0 24 24">
                    <path fill="#9e9e9e" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.85 4.63,15.55 5.68,16.91L16.91,5.68C15.55,4.63 13.85,4 12,4M12,20A8,8 0 0,0 20,12C20,10.15 19.37,8.45 18.32,7.09L7.09,18.32C8.45,19.37 10.15,20 12,20Z" />
                </svg>
            </div>
        </div>
        {[}]}
    </td>
</tr>