<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="circle-avatar">
            <input title="Change avatar" type="file"/>
            <img>
            <svg class="set-groupchat-avatar" viewBox="0 0 24 24">
                <path d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
            </svg>
            <div class="preloader-wrap"><div class="preloader-wrapper preloader-32px visible">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="group-chat-icon"><img src="./images/GroupchatBorderless2x.svg"></div>
        <div class="text-info">
            <div class="name-wrap"></div>
            <div class="status-message one-line"></div>
        </div>
        <div class="btn-more">
            <i class="mdi mdi-20px mdi-dots-vertical"></i>
        </div>
        <div class="btn-escape">
            <i class="mdi mdi-24px mdi-close"></i>
            <span class="btn-text">Esc</span>
        </div>
    </div>
    <div class="group-chat-nav">
        <div data-section="participants" class="nav-item-wrap">Participants</div>
        <div data-section="invitations" class="nav-item-wrap">Invitations</div>
        <div data-section="blocked" class="nav-item-wrap">Blocked</div>
        <div data-section="settings" class="nav-item-wrap">Settings</div>
        <div data-section="default_restrictions" class="nav-item-wrap">Default restrictions</div>
        <div data-section="groups" class="nav-item-wrap">Groups</div>
    </div>
    <div class="panel-content"></div>
</div>
<!--<div class="panel-footer noselect">
    <div class="buttons-wrap">
        <button class="btn-chat btn-flat btn-main">Chat</button>
        <button class="btn-delete btn-flat btn-dark btn-main hidden">Leave</button>
        <button class="btn-join btn-flat btn-dark btn-main hidden">Join</button>
        <button class="btn-delete-all-messages btn-flat btn-dark btn-main">Delete history</button>
    </div>
</div>-->
