<div class="group-chat-status-wrap" title="{[print(xabber.getString('group_settings__properties__tooltip_click_to_set_status'))]}">
    <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="status-outline"></svg></div>
    <div class="group-chat-status-border">
        <div class="group-chat-status">
            <div class="status-wrap">
                <div class="status-message dotted-underline"></div>
                <div class="status status-bulb"></div>
            </div>
            <div class="label">{[print(xabber.getString("groupchat_status"))]}</div>
        </div>
    </div>
</div>