<div class="modal-header"><div class="panel-header black-text">{[if (privacy) { print(xabber.getString("incognito_group_settings__header"))} else { print(xabber.getString("public_group_settings__header"))}]}</div></div>
<div class="modal-content group-chat-properties-wrap selectable-text">
    <div class="property-wrap jid-info-wrap">
        <div class="property-header">{[print(xabber.getString("hint_xmpp_id"))]}</div>
        <div class="jabber-id">
            <div class="value one-line">{{jid}}</div>
        </div>
        <p id="anonymous-public" class="property-description hidden">{[print(xabber.getString("group_settings_edit__setting_privacy__text_public"))]}</p>
        <p id="anonymous-incognito" class="property-description hidden">{[print(xabber.getString("group_settings_edit__setting_privacy__text_incognito"))]}</p>
    </div>
    {[fields.forEach(function (field) { if (field.type === 'hidden' || field.type === 'jid-multi') return;]}
    <div class="property-wrap {{field.var}}-field">
        {[if (!(field.type == 'fixed' && field.values[0] === "")) {]}
        <div class="property-header">{{field.label}}</div>
        {[}]}
        {[if (field.type === 'text-single') {]}
        <div class="input-field input-group-chat-name">
            <input value="{{field.values[0]}}" id="new_{{field.var}}_value" type="text" name="{{field.var}}" placeholder='{[print(xabber.getString("group_settings_edit__setting_name__hint"))]}' class="text-field">
        </div>
        {[} else if (field.type === 'text-multi') {]}
        <textarea placeholder='{[print(xabber.getString("groupchat_example_description"))]}' id="{{field.var}}" cols="30" rows="10" class="text-field materialize-textarea">{{field.values[0]}}</textarea>
        {[} else if (field.type === 'list-single') { field.options.forEach(function (option) {]}
        <div class="property-radio">
            <input {[if (option.value === field.values[0]){]}checked{[}]} id="{{option.value}}" name="{{field.var}}" type="radio" class="with-gap" required="">
            <label class="{{option.value}}-label" for="{{option.value}}">{{option.label}}</label>
        </div>
        {[});} else  if (field.type === 'fixed' && field.values[0] !== "") {]}
        <div class="fixed-field{[if (field.var === 'description'){]} description{[}]}">
            <div class="value">{{field.values[0]}}</div>
        </div>
        {[}]}
        {[if (field.var === 'index'){]}
        <p class="property-description">{[print(xabber.getString("group_settings_edit__setting_index__text"))]}</p>
        {[} else if (field.var === 'membership') {]}
        <p class="property-description">{[print(xabber.getString("group_settings_edit__setting_membership__text"))]}</p>
        {[}]}
    </div>
    {[})]}
</div>
<div class="modal-footer">
    <div class="buttons-wrap">
        {[if (!all_fixed){]}
        <button class="btn-save btn-flat btn-main non-active">{[print(xabber.getString("save"))]}</button>
        {[}]}
        <button class="btn-cancel btn-flat btn-dark btn-main">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>