<div class="group-chat-properties-wrap"><div class="groupchat-info selectable-text group-info-editor">
    <div class="property-wrap jid-info-wrap">
        <div class="property-header">XMPP ID</div>
        <div class="jabber-id">
            <div class="value one-line"></div>
        </div>
        <p id="anonymous-public" class="property-description hidden">Public group chat. Participants can see real XMPP IDs of other participants</p>
        <p id="anonymous-incognito" class="property-description hidden">Incognito group chat. Participants can not see real XMPP IDs of other participants</p>
    </div>
    <div class="property-wrap name-field">
        <div class="property-header">Chat Name</div>
        <div class="input-field input-group-chat-name">
            <input id="new_name_value" type="text" name="chat_name" placeholder="Input Chat Name">
        </div>
    </div>
    <div class="property-wrap description-field">
        <div class="property-header">Description</div>
        <textarea placeholder="Input description" id="" cols="30" rows="10" class="materialize-textarea"></textarea>
    </div>
    <div class="property-wrap global-field">
        <div class="property-header">Indexation</div>
        <div class="property-radio">
            <input id="indexation-none" name="groupchatIndexation" type="radio" class="with-gap" required="">
            <label class="property-radio-label" for="indexation-none">Not indexed</label>
        </div>
        <div class="property-radio">
            <input id="indexation-local" name="groupchatIndexation" type="radio" class="with-gap" required="">
            <label class="property-radio-label" for="indexation-local">Local index</label>
        </div>
        <div class="property-radio">
            <input id="indexation-global" name="groupchatIndexation" type="radio" class="with-gap" required="">
            <label class="property-radio-label" for="indexation-global">Global index</label>
        </div>
        <p class="property-description">Locally indexed chats can be discovered by searching host server. Globally indexed chats can be discovered by searching global index</p>
    </div>
    <div class="property-wrap membership-field">
        <div class="property-header">Membership</div>
        <div id="membership-header" class="membership-field">
            <div class="property-radio">
                <input id="membership-open" name="groupchatMembership" type="radio" class="with-gap" required="">
                <label class="property-radio-label" for="membership-open">Open</label>
            </div>
            <div class="property-radio">
                <input id="membership-member-only" name="groupchatMembership" type="radio" class="with-gap" required="">
                <label class="property-radio-label" for="membership-member-only">Member only</label>
            </div>
        </div>
        <p class="property-description">Member only chats can be joined by invitation</p>
    </div>
</div>
    <div class="buttons-wrap">
        <!--<button class="btn-group-info-cancel btn-flat btn-main btn-dark">Cancel</button>
        <button class="btn-group-info-update btn-flat btn-main">Update</button>-->
        <button class="btn-submit btn-flat btn-main-filled">Submit</button>
    </div>
</div>