<div class="modal-header"><div class="panel-header black-text">{{anonymous}} Group settings</div></div>
<div class="modal-content group-chat-properties-wrap selectable-text">
    <div class="property-wrap jid-info-wrap">
        <div class="property-header">XMPP ID</div>
        <div class="jabber-id">
            <div class="value one-line">{{jid}}</div>
        </div>
        <p id="anonymous-public" class="property-description hidden">Public group. Participants can see real XMPP IDs of other participants</p>
        <p id="anonymous-incognito" class="property-description hidden">Incognito group. Participants can not see real XMPP IDs of other participants</p>
    </div>
    {[fields.forEach(function (field) { if (field.type === 'hidden' || field.type === 'jid-multi') return;]}
    <div class="property-wrap {{field.var}}-field">
        <div class="property-header">{{field.label}}</div>
        {[if (field.type === 'text-single') {]}
        <div class="input-field input-group-chat-name">
            <input value="{{field.values[0]}}" id="new_{{field.var}}_value" type="text" name="{{field.var}}" placeholder="Input Chat Name" class="text-field">
        </div>
        {[} else if (field.type === 'text-multi') {]}
        <textarea placeholder="Input {{field.var}}" id="{{field.var}}" cols="30" rows="10" class="text-field materialize-textarea">{{field.values[0]}}</textarea>
        {[} else if (field.type === 'list-single') { field.options.forEach(function (option) {]}
        <div class="property-radio">
            <input {[if (option.value === field.values[0]){]}checked{[}]} id="{{option.value}}" name="{{field.var}}" type="radio" class="with-gap" required="">
            <label class="{{option.value}}-label" for="{{option.value}}">{{option.label}}</label>
        </div>
        {[});}]}
        {[if (field.var === 'index'){]}
        <p class="property-description">Locally indexed chats can be discovered by searching host server. Globally indexed chats can be discovered by searching global index</p>
        {[} else if (field.var === 'membership') {]}
        <p class="property-description">Member-only chats can be joined only by invitation</p>
        {[}]}
    </div>
    {[})]}
</div>
<div class="modal-footer">
    <div class="buttons-wrap">
        <button class="btn-save btn-flat btn-main non-active">Save</button>
        <button class="btn-cancel btn-flat btn-dark btn-main">Cancel</button>
    </div>
</div>