<div class="panel-background-clickable"></div>
<div class="panel-content-wrap noselect">
    <div class="header-buttons">
        <div class="btn-escape">
            <i class="mdi mdi-24px mdi-close"></i>
            <span class="btn-text">{[print(xabber.getString("button_esc"))]}</span>
        </div>
        <span class="block-name">{[print(xabber.getString("groupchat_group"))]}</span>
        <span class="block-name second-text"></span>
        <div class="btn-qr-code">
            <svg class="mdi mdi-24px mdi-svg-template" data-svgname="qrcode"></svg>
        </div>
        <div class="btn-edit">
            <svg class="mdi mdi-24px mdi-svg-template" data-svgname="information-outline"></svg>
        </div>
        <div class="group-edit-preloader">
        </div>
    </div>
    <div class="main-info">
        <div class="avatar-wrap">
            <div class="circle-avatar">
                <div class="preloader-wrap"><div class="preloader-wrapper preloader-32px visible">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="text-info">
            <div class="name-wrap"></div>
        </div>
    </div>
    <div class="buttons-wrap sticky-details-wrap">
        <div class="button-wrap btn-chat-wrap">
            <i class="mdi text-color-500 mdi-24px mdi-message-text btn-chat"></i>
            <div class="btn-name">{[print(xabber.getString("chat_viewer"))]}</div>
        </div>
        <div class="button-wrap btn-invite-wrap">
            <i class="mdi mdi-24px mdi-account-multiple-plus btn-invite text-color-500"></i>
            <div class="btn-name">{[print(xabber.getString("groupchat_bar_invite"))]}</div>
        </div>
        <div class="button-wrap btn-search-messages">
            <div class="contact-btn btn-search fill-color-500"><svg class="mdi mdi-24px mdi-svg-template" data-svgname="search"></svg></div>
            <div class="btn-name">{[print(xabber.getString("search"))]}</div>
        </div>
        <div class="button-wrap btn-mute-wrap">
            <i class="mdi mdi-24px btn-mute mdi-dots-vertical dropdown-button text-color-500" data-activates="{{view.cid}}-more"></i>
            <div class="btn-name">{[print(xabber.getString("chat_more_actions"))]}</div>
        </div>
        <ul id="{{view.cid}}-more" class="chat-head-menu dropdown-content noselect">
            <li class="btn-notifications active-hover" data-activates="{{view.cid}}-mute-more">
                <span class="one-line"></span>
            </li>
            <li class="btn-leave">
                <span class="one-line">{[print(xabber.getString("groupchat_bar_leave"))]}</span>
            </li>
        </ul>
        <ul id="{{view.cid}}-mute-more" class="contact-mute-dropdown dropdown-content noselect">
            <li class="btn-mute-dropdown" data-mute="minutes15">
                <span class="one-line">{[print(xabber.getString("mute_15_min"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="hours1">
                <span class="one-line">{[print(xabber.getString("mute_1_hour"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="hours2">
                <span class="one-line">{[print(xabber.getString("mute_2_hours"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="day">
                <span class="one-line">{[print(xabber.getString("mute_1_day"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="forever">
                <span class="one-line">{[print(xabber.getString("mute_forever"))]}</span>
            </li>
        </ul>
    </div>
    <div class="panel-content">
        <div class="block-wrap group-chat-properties-wrap vcard"></div>
        <div class="block-wrap status-block-wrap"></div>
        <div class="block-wrap edit-block-wrap"></div>
        <div class="block-wrap restrictions-block-wrap"></div>
        <div class="block-wrap groups-block-wrap"></div>
        <div class="block-wrap search-messages-block-wrap"></div>
        <div class="block-wrap participant-view-wrap"></div>
    </div>
    <ul class="tabs not-edit bottom-block-tabs">
        <li data-value="participants" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("group_settings__members_list__header"))]}</a></li>
        <li data-value="image" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("images"))]}</a></li>
        <li data-value="video" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("videos"))]}</a></li>
        <li data-value="files" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("files"))]}</a></li>
        <li data-value="voice" class="list-variant tab"><a class="text-color-700">{[print(xabber.getString("vcard_type_voice"))]}</a></li>
    </ul>
    <div class="panel-content">
        <div class="bottom-block">
            <div class="block-wrap participants-wrap"></div>
        </div>
    </div>
</div>
