<div class="input-widget-wrap {{field_name}}-wrap">
    <div class="{{field_name}}-input-wrap">
        <input class="{{field_name}}-input rich-textarea field-input" type="{{field_type}}" placeholder="{{placeholder}}">
        <div class="buttons-wrap">
            <div class="insert-emoticon">
                <i class="mdi mdi-24px mdi-emoticon hover-text-color-500"></i>
            </div>
            <div class="emoticons-panel-wrap">
                <div class="emoticons-panel"></div>
                <div class="emoji-menu"></div>
            </div>
        </div>
    </div>
</div>
