<div class="block-header">
    <span class="block-name">Chat properties</span>
</div>
<div class="group-chat-properties vcard">
    <div class="info-wrap jid-info-wrap">
        <div title="Click to copy" class="details-icon-wrap">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="xmpp"></svg>
        </div>
        <div class="info jabber-id">
            <div class="value one-line"></div>
            <div class="label">Jabber ID</div>
        </div>
    </div>
    <div class="info-wrap status-info-wrap">
        <!--<svg class="details-icon toolbar-icon mdi mdi-24px" viewBox="0 0 24 24">
            <path title="Click to copy" d="M6,6.9L3.87,4.78L5.28,3.37L7.4,5.5L6,6.9M13,1V4H11V1H13M20.13,4.78L18,6.9L16.6,5.5L18.72,3.37L20.13,4.78M4.5,10.5V12.5H1.5V10.5H4.5M19.5,10.5H22.5V12.5H19.5V10.5M6,20H18A2,2 0 0,1 20,22H4A2,2 0 0,1 6,20M12,5A6,6 0 0,1 18,11V19H6V11A6,6 0 0,1 12,5Z" />
        </svg>-->
        <svg class="details-icon toolbar-icon mdi mdi-24px" viewBox="0 0 24 24">
            <g stroke="none" stroke-width="1" fill="none">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M20,4 C21.1045695,4 22,4.8954305 22,6 L22,16 C22,17.1045695 21.1045695,18 20,18 L16,18 L12,22 L8,18 L4,18 C2.8954305,18 2,17.1045695 2,16 L2,6 C2,4.8954305 2.8954305,4 4,4 L20,4 Z M16,12 L6,12 L6,14 L16,14 L16,12 Z M18,8 L6,8 L6,10 L18,10 L18,8 Z" id="tooltip-variant" fill="#757575" fill-rule="nonzero"/>
            </g>
        </svg>
        <div class="info status">
            <div class="value one-line"></div>
            <div class="label">Status</div>
        </div>
    </div>
    <div class="info-wrap name-info-wrap">
        <i title="Click to copy" class="details-icon mdi mdi-24px mdi-account-box-outline"></i>
        <div class="info name">
            <div class="value one-line"></div>
            <div class="label">Name</div>
        </div>
    </div>
    <div class="info-wrap description-info-wrap">
        <i title="Click to copy" class="details-icon mdi mdi-24px mdi-file-document-box"></i>
        <div class="info description">
            <div class="value"></div>
            <div class="label">Description</div>
        </div>
    </div>
    <div class="info-wrap searchable-info-wrap">
        <svg class="details-icon toolbar-icon mdi mdi-24px" viewBox="0 0 24 24">
            <path title="Click to copy" d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M19.35,8.03C21.95,8.22 24,10.36 24,13C24,14.64 23.21,16.1 22,17V16.5A6.5,6.5 0 0,0 15.5,10A6.5,6.5 0 0,0 9,16.5C9,17 9.06,17.5 9.17,18H6A6,6 0 0,1 0,12C0,8.9 2.34,6.36 5.35,6.03C6.6,3.64 9.11,2 12,2C15.64,2 18.67,4.59 19.35,8.03Z"></path>
        </svg>
        <div class="info searchable">
            <div class="value one-line"></div>
            <div class="label">Indexed</div>
        </div>
    </div>
    <div class="info-wrap anonymous-info-wrap">
        <i title="Click to copy" class="details-icon mdi mdi-24px mdi-incognito"></i>
        <div class="info anonymous">
            <div class="value one-line"></div>
            <div class="label">Anonymous</div>
        </div>
    </div>
    <div class="info-wrap model-info-wrap">
        <i title="Click to copy" class="details-icon mdi mdi-24px mdi-lock"></i>
        <div class="info model">
            <div class="value one-line"></div>
            <div class="label">Membership</div>
        </div>
    </div>
</div>