<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="circle-avatar"></div>
        <div class="text-info">
            <div class="name-wrap one-line"></div>
            <div class="jid one-line"></div>
        </div>
    </div>

    <div class="panel-content">
        <div class="msg-wrap"><p class="msg-text"></p></div>
        <div class="panel-footer noselect">
            <div class="buttons-wrap">
                <button class="btn-join btn-flat btn-main">{[print(xabber.getString("groupchat_join"))]}</button>
                <button class="btn-decline btn-flat btn-main">{[print(xabber.getString("groupchat_decline"))]}</button>
                <button class="btn-block btn-flat btn-main">{[print(xabber.getString("groupchat_block"))]}</button>
            </div>
        </div>
    </div>
</div>