<div class="newbie-permissions-wrap">
    <div class="restrictions-header block-header">
        <i class="details-icon btn-back mdi mdi-24px mdi-arrow-right"></i>
        <span class="block-name">{[print(xabber.getString("groupchat_newbie_permissions"))]}</span>
        <span class="block-name second-text fade-out"></span>
        <button class="btn-default-restrictions-save text-color-500 btn-flat btn-main fade-out">{[print(xabber.getString("save"))]}</button>
        <div class="edit-save-preloader preloader-wrap">
            <div class="preloader-wrapper preloader-17px visible">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="restrictions-content edit-default-restrictions">
        <div class="default-restrictions-list-wrap"></div>
        <div class="newbie-permissions-time-wrap">
            <div class="select-timer">
                <div class="dropdown-button" data-activates="select-timer-newbie-permissions">
                    <div class="timer-item-wrap"><div data-value="0" class="default-value property-value">{[print(xabber.getString("dialog_rights__button_set_timer"))]}</div></div>
                </div>
                <div id="select-timer-newbie-permissions" class="dropdown-content unified-dropdown-style noselect">
                    <div data-value="300" class="property-variant">5 minutes</div>
                    <div data-value="600" class="property-variant">10 minutes</div>
                    <div data-value="900" class="property-variant">15 minutes</div>
                    <div data-value="1800" class="property-variant">30 minutes</div>
                    <div data-value="3600" class="property-variant">1 hour</div>
                    <div data-value="604800" class="property-variant">1 week</div>
                    <div data-value="2592000" class="property-variant">1 month</div>
                    <div data-value="0" class="property-variant">Forever</div>
                </div>
            </div>
        </div>
        <p class="default-restrictions-info">{[print(xabber.getString("groupchat_newbie_permissions"))]}</p>
    </div>
</div>
