<div class="restrictions-timers-wrap">
    <div class="restrictions-timers-header">
        {[print(xabber.getString("groupchat_newbie__permissions_timers_header"))]}
    </div>
    <div class="field radio-field">
        <form action="#">
            <p>
                <input class="with-gap" checked name="restriction-timer" value="300" type="radio" id="restriction-timer-5-minutes" />
                <label for="restriction-timer-5-minutes">5 minutes</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="3600" type="radio" id="restriction-timer-1-hour" />
                <label for="restriction-timer-1-hour">1 hour</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="604800" type="radio" id="restriction-timer-1-week" />
                <label for="restriction-timer-1-week">1 week</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="2592000" type="radio" id="restriction-timer-1-month" />
                <label for="restriction-timer-1-month">1 month</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="custom" type="radio" id="restriction-timer-custom" />
                <label for="restriction-timer-custom"></label>
                <input type="text" id="custom-timer-date" name="custom-timer-date">
            </p>
        </form>
    </div>
</div>