<div class="input-widget-wrap {{field_name}}-wrap">
    <div class="rich-textarea field-input badge-text" tabindex="1" placeholder='{[print(xabber.getString("groupchat_member_badge"))]}' contenteditable></div>
    <div class="buttons-wrap">
        <div class="insert-emoticon">
            <i class="mdi mdi-24px mdi-emoticon hover-text-color-500"></i>
        </div>
        <div class="emoticons-panel-wrap">
            <div class="emoticons-panel"></div>
            <div class="emoji-menu"></div>
        </div>
    </div>
</div>