<div class="edit-rights">
    <div class="header">
    </div>
    <div class="content">
        <div class="dialog-restrictions-edit">
            <div class="restrictions-header">Restrictions</div>
        </div>
        <div class="dialog-permissions-edit">
            <div class="permissions-header">Permissions</div>
        </div>
    </div>
    <div class="footer noselect">
        <div class="buttons-wrap">
            <button class="btn-block-user btn-flat btn-main btn-dark">Block</button>
            <button class="btn-request-messages btn-flat btn-main btn-grey">Messages</button>
            <button class="btn-save-user-rights btn-flat btn-main hidden">Save</button>
            <button class="btn-cancel-changes btn-flat btn-main btn-dark hidden">Cancel</button>
        </div>
    </div>
</div>