<div class="participant-details-item" data-id="{{id}}" data-jid="{{jid}}" data-role="{{role}}">
        <div class="circle-avatar">
            <input title="Change avatar" type="file">
            <img>
            <svg class="set-groupchat-avatar" viewBox="0 0 24 24">
                <path d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
            </svg>
            <div class="preloader-wrap"><div class="preloader-wrapper preloader-16px visible">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="participant-info">
            <div id="edit-nickname" class="rich-textarea" tabindex="1" contenteditable></div>
            <div title="{{nickname}}" class="nickname one-line">{{nickname}}</div>
            <div class="badge one-line {[if (!badge) {]}hidden{[}]}">{{badge}}</div>
            {[if (jid) {]}<p title="{{jid}}" class="jid selectable-text one-line">{{jid}}</p>{[} else {]}<p title="{{id}}" class="id selectable-text one-line">{{id}}</p>{[}]}
        </div>
    <div class="buttons-wrap">
        {[if (incognito_chat) {]}
        <div class="button-wrap non-active btn-chat-wrap">
            <i class="mdi mdi-24px mdi-incognito btn-chat"></i>
            <div class="btn-name">Private chat</div>
        </div>
        {[} else {]}
        <div class="button-wrap non-active btn-chat-wrap">
            <i class="mdi mdi-24px mdi-message-text btn-chat"></i>
            <div class="btn-name">Direct chat</div>
        </div>
        {[}]}
        <div class="button-wrap btn-participant-messages-wrap">
            <i class="mdi mdi-24px mdi-view-list btn-participant-messages"></i>
            <div class="btn-name">Messages</div>
        </div>
        <div class="button-wrap btn-set-badge-wrap">
            <svg class="btn-set-badge" viewBox="0 0 24 24">
                <path d="M17,3H14V6H10V3H7A2,2 0 0,0 5,5V21A2,2 0 0,0 7,23H17A2,2 0 0,0 19,21V5A2,2 0 0,0 17,3M12,8A2,2 0 0,1 14,10A2,2 0 0,1 12,12A2,2 0 0,1 10,10A2,2 0 0,1 12,8M16,16H8V15C8,13.67 10.67,13 12,13C13.33,13 16,13.67 16,15V16M13,5H11V1H13V5M16,19H8V18H16V19M12,21H8V20H12V21Z" />
            </svg>
            <div class="btn-name">Set badge</div>
        </div>
        <div class="button-wrap btn-block-participant-wrap">
            <i class="mdi mdi-24px mdi-account-off btn-block-participant"></i>
            <div class="btn-name">Block</div>
        </div>
    </div>
</div>