<svg class="pin" viewBox="0 0 24 24">
    <path fill="#757575" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
</svg>
<div class="msg-wrap">
    <div class="chat-msg-author-wrap">
        <div class="chat-msg-author text-color-700 one-line">{{author}}</div>{[if (fwd_author){]}<svg class="fwd-chevron" viewBox="0 0 24 24"><path fill="#9E9E9E" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg><div class="chat-msg-author text-color-700 one-line">{{fwd_author}}</div>{[}]}
        <div class="msg-time">{{time}}</div>
    </div>
    <div class="chat-msg-content chat-text-content one-line">
        {{message}}
    </div>
</div>
<svg title="Unpin" class="close" viewBox="0 0 24 24">
    <path class="close" fill="#9E9E9E" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
</svg>