<div class="participant-details-item" data-id="{{id}}" data-jid="{{jid}}" data-role="{{role}}">
    <div class="circle-avatar">
        {[ if (is_myself) {]}
        <input title="Change avatar" type="file">
        {[}]}
        <img>
        {[ if (is_myself) {]}
        <svg class="set-groupchat-avatar" viewBox="0 0 24 24">
            <path d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
        </svg>
        <div class="preloader-wrap"><div class="preloader-wrapper preloader-16px visible">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        </div>
        {[}]}
    </div>
    <div class="participant-info">
        {[ if (is_myself) {]}
        <div id="edit-nickname" class="rich-textarea" tabindex="1" contenteditable></div>
        {[}]}
        <div title="{{nickname}}" class="{{is_myself && 'is-myself'}} nickname one-line">{{nickname}}</div>
        <div class="badge one-line {[if (!badge) {]}hidden{[}]}">{{badge}}</div>
    </div>
</div>