<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="circle-avatar"><img></div>
        <div class="text-info">
            <div class="name-wrap"></div>
            <div class="badge one-line"></div>
            <div class="jid one-line"></div>
        </div>
    </div>
    <div class="panel-content">
        <div class="invite-msg"><p class="invite-msg-text"></p></div>
        <div class="panel-footer noselect">
            <div class="buttons-wrap">
                <button class="btn-accept btn-flat btn-main">Accept</button>
                <button class="btn-decline btn-flat btn-main">Decline</button>
            </div>
        </div>
    </div>
</div>
