<div class="right-item tag-item tag-{{tag}} hidden-restrictions">
    <div class="right-name">
        {{pretty_name}}
        <i class="mdi tag-icon-show mdi-16px mdi-chevron-up"></i>
    </div>
    <div class="tag-item-expire-description no-select">

    </div>
    <div class="field tag-field clickable-field tag-{{tag}}-state switch normal">
        <label class="field-value">
            <input type="checkbox" class="filled-in" id="{{tag}}">
            <span class="lever"></span>
        </label>
    </div>
    <div class="tagged-restrictions-container">

    </div>
</div>