<div class="restrictions-timers-wrap">
    <div class="restrictions-timers-header">
        {[print(xabber.getString("participant_edit__restriction_timers_header"))]}
    </div>
    <div class="field radio-field">
        <form action="#">
            <p>
                <input class="with-gap" name="restriction-timer" checked value="0" type="radio" id="restriction-timer-forever" />
                <label for="restriction-timer-forever">Forever</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="3600" type="radio" id="restriction-timer-1-hour" />
                <label for="restriction-timer-1-hour">1 hour</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="14400" type="radio" id="restriction-timer-4-hours" />
                <label for="restriction-timer-1-hour">4 hours</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="86400" type="radio" id="restriction-timer-1-day" />
                <label for="restriction-timer-1-hour">1 day</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="604800" type="radio" id="restriction-timer-1-week" />
                <label for="restriction-timer-1-week">1 week</label>
            </p>
            <p>
                <input class="with-gap" name="restriction-timer" value="custom" type="radio" id="restriction-timer-custom" />
                <label for="restriction-timer-custom"></label>
                <input type="datetime-local" id="custom-timer-date" name="custom-timer-date">
            </p>
        </form>
    </div>
</div>