<div class="right-item restriction restriction-{{name}}" data-role="{{role}}" data-tag="{{tag}}">
    <div class="right-name">{{pretty_name}}</div>
    <div class="field clickable-field restriction-{{name}}-state switch {[if (type === 'default_placeholder') {]}default-permission-placeholder{[}]} normal">
        <label class="field-value">
            <input type="checkbox" {[if (type === 'fixed') {]} onclick="return false;" {[}]} class="filled-in" id="{{name}}">
            <span class="lever"></span>
        </label>
        <!--<input type="checkbox" {[if (type === "fixed") {]} onclick="return false;" {[}]} class="filled-in" id="{{name}}">-->
        <!--<label for="{{name}}"></label>-->
    </div>
</div>