<div class="select-timer">
    <div class="dropdown-button" data-activates="select-timer-{{right_name}}">
        <div class="timer-item-wrap"><div data-value="never" class="default-value property-value">set timer</div></div>
    </div>
    <div id="select-timer-{{right_name}}" class="dropdown-content noselect">
        <div data-value="5 minutes" class="property-variant">5 minutes</div>
        <div data-value="15 minutes" class="property-variant">15 minutes</div>
        <div data-value="30 minutes" class="property-variant">30 minutes</div>
        <div data-value="1 hour" class="property-variant">1 hour</div>
        <div data-value="1 day" class="property-variant">1 day</div>
        <div data-value="1 week" class="property-variant">1 week</div>
        <div data-value="1 month" class="property-variant">1 month</div>
        <div data-value="never" class="property-variant">Forever</div>
    </div>
</div>
