<div class="select-timer">
    <div class="dropdown-button" data-activates="select-timer-{{right_name}}">
        <div class="timer-item-wrap"><div data-value="0" class="default-value property-value">set timer</div></div>
    </div>
    <div id="select-timer-{{right_name}}" class="dropdown-content noselect">
        {[expire_options.forEach(function (option) {]}
        <div data-value="{{option.value}}" class="property-variant">{{option.label}}</div>
        {[}.bind(this));]}
    </div>
</div>
