<div class="select-timer">
    <div class="dropdown-button" data-activates="select-timer-{{right_name}}">
        <div class="timer-item-wrap"><div data-value="0" class="property-value">{[print(xabber.getString("forever"))]}</div></div>
    </div>
    <div id="select-timer-{{right_name}}" class="dropdown-content unified-dropdown-style noselect">
        <div data-value="300" class="property-variant">5 minutes</div>
        <div data-value="600" class="property-variant">10 minutes</div>
        <div data-value="900" class="property-variant">15 minutes</div>
        <div data-value="1800" class="property-variant">30 minutes</div>
        <div data-value="3600" class="property-variant">1 hour</div>
        <div data-value="604800" class="property-variant">1 week</div>
        <div data-value="2592000" class="property-variant">1 month</div>
        <div data-value="0" class="property-variant">Forever</div>
    </div>
</div>
