    <div class="modal-header noselect">
        <div class="panel-header">
            <span class="header">Invite user to group chat</span>
            <span class="btn-in-header close-button right">Close</span>
        </div>
    </div>
    <div class="chats-search-form search-form panel-head">
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" placeholder="Search">
        <i class="close-search-icon mdi mdi-20px mdi-close"></i>
    </div>
    <div class="modal-content noselect">
        <div class="chat-list-wrap left-panel-list-wrap">
            <div class="chat-list item-list"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-add"><span class="counter hidden"></span>Invite</button>
        <span class="errors"></span>
    </div>