  <div class="search-form-header">
    <div class="messages-search-form search-form">
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" tabindex="1" placeholder='{[print(xabber.getString("chat__search_messages_panel__placeholder"))]}' autofocus>
    </div>
    <div class="text-color-700 btn-cancel-searching">{[print(xabber.getString("cancel"))]}</div>
</div>
<div class="pinned-message"></div>
<div class="elements-in-top">
    <div class="subscription-buttons-wrap hidden"/>
    <div class="chat-day-indicator fixed-day-indicator-wrap hidden"><div class="fixed-day-indicator"></div></div>
</div>
<div class="load-history-feedback hidden"></div>
<div class="participant-messages-header hidden"><div class="messages-by-header">{[print(xabber.getString("chat__placeholder_participant_messages__messages_by"))]} <div class="participant-nickname text-color-700"></div></div><div class="btn-cancel-selection">{[print(xabber.getString("cancel"))]}</div><div class="text-color-700 btn-retract-messages">{[print(xabber.getString("chat_settings__button_delete_all"))]}</div></div>
<div class="chat-content">
</div>
<div class="chat-notification hidden one-line"></div>
<i class="mdi mdi-36px back-to-unread hidden mdi-chevron-down"><div class="back-to-unread-counter"></div></i>
<i class="mdi mdi-36px back-to-bottom mdi-chevron-down"></i>
