<div class="search-form-header">
    <div class="messages-search-form search-form">
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" tabindex="1" placeholder="Search messages" autofocus>
    </div>
    <div class="text-color-700 btn-cancel-searching">cancel</div>
</div>
<div class="pinned-message"></div>
<div class="chat-day-indicator fixed-day-indicator-wrap hidden"><div class="fixed-day-indicator"></div></div>
<div class="load-history-feedback hidden"></div>
<div class="participant-messages-header hidden"><div class="messages-by-header">Messages by <div class="participant-nickname text-color-700"></div></div><div class="text-color-700 btn-cancel-selection">cancel</div><div class="btn-retract-messages">delete all</div></div>
<div class="chat-content">
</div>
<i class="mdi mdi-36px back-to-bottom mdi-chevron-down"></i>
<div class="chat-notification one-line"></div>
