<div class="recent-chats-panel noselect">
    <div class="chats-search-form search-form panel-head">
        <div class="account-indicator"></div>
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" tabindex="1" placeholder='{[print(xabber.getString("search"))]}'>
        <i class="close-search-icon mdi mdi-20px mdi-close"></i>
    </div>
    <div class="chat-list-wrap left-panel-list-wrap">
        <div class="pinned-chat-list item-list">
        </div>
        <div class="chat-list item-list">
        </div>
        <div class="searched-lists-wrap">
            <div class="chats-list-wrap hidden">
                <div class="account-indicator"></div>
                <div class="chats-title">{[print(xabber.getString("search__header_chats"))]}</div>
                <div class="chats-list roster-left-container"></div>
            </div>
            <div class="contacts-list-wrap hidden">
                <div class="account-indicator"></div>
                <div class="contacts-title">{[print(xabber.getString("category_title_contacts"))]}</div>
                <div class="contacts-list roster-left-container"></div>
            </div>
            <div class="messages-list-wrap hidden">
                <div class="account-indicator"></div>
                <div class="messages-title">{[print(xabber.getString("search__header_messages"))]}</div>
                <div class="messages-list roster-left-container"></div>
            </div>
        </div>
        <div class="load-chats-feedback hidden">{[print(xabber.getString("placeholder_loading"))]}</div>
    </div>
    <div class="read-all-button hidden">{[print(xabber.getString("mark_all_as_read_button"))]}</div>
</div>
