<div class="account-indicator ground-color-700"></div>
<div class="circle-avatar"></div>
<div class="status hide-offline"></div>
<div class="chat-icon hidden"></div>
<div class="recent-chat-info">
    <div class="chat-title-wrap">
        <i class="mdi encrypted-icon mdi-14px mdi-lock"></i>
        <i class="mdi encrypted-icon mdi-14px mdi-alert"></i>
        <i class="mdi encrypted-icon mdi-14px mdi-alert-circle"></i>
        <p class="chat-title one-line"></p>
        <i class="mdi muted-icon mdi-14px mdi-bell-off"></i>
        <p class="last-msg-date"></p>
    </div>
    <p class="last-msg one-line"></p>
</div>
<div class="chat-states">
    <div class="chat-item-notifications-wrap">
        <span class="msg-chat-error hidden">!</span>
        <span class="msg-incoming-subscription hidden">
            <svg class="mdi mdi-12px mdi-svg-template" data-svgname="plus"></svg>
        </span>
        <span class="msg-counter hidden"></span>
        <i class="msg-delivering-state mdi mdi-16px hidden"></i>
        <i class="pinned-icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="icon/material/pinned-circle-small" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="ViewBox" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                    <path d="M12,3 C16.9705627,3 21,7.02943725 21,12 C21,16.9705627 16.9705627,21 12,21 C7.02943725,21 3,16.9705627 3,12 C3,7.02943725 7.02943725,3 12,3 Z M12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 Z M14,6.5 L17.5,9.5 L16.5,10.5 L16,10 L14.25,13.25 L15.25,14.75 L14,16 L11.5,13.5 L8.75,16.25 L7.75,16.25 L7.75,15.25 L10.5,12.5 L8,10 L9.25,8.75 L10.75,9.75 L13.5,8 L13,7.5 L14,6.5 Z" id="xabber:pinned-small" fill="#000000" fill-rule="nonzero"></path>
                </g>
            </svg>
        </i>
    </div>
</div>
