    <div class="chat-notification one-line"></div>
    <div class="message-input-panel noselect">
        <div class="my-avatar circle-avatar circle-image-fix">
            <img>
        </div>
        <div class="message-form">
            <div class="fwd-messages-preview noselect hidden">
                <div class="msg-border ground-color-700">
                </div>
                <div class="msg-content">
                    <p class="msg-author text-color-700 one-line"></p>
                    <p class="msg-text one-line"></p>
                </div>
                <div class="close-forward">
                    <i class="mdi mdi-20px mdi-close hover-text-color-500"></i>
                </div>
            </div>
            <div class="input-field input-message">
                <div class="rich-textarea-wrap">
                    <div class="rich-textarea" tabindex="2" contenteditable></div>
                    <div class="placeholder">Write a message...</div>
                    <div class="scrollbar-cover"></div>
                </div>
                <div class="insert-emoticon">
                    <i class="mdi mdi-24px mdi-emoticon hover-text-color-500"></i>
                </div>
                <div class="emoticons-panel-wrap">
                    <div class="emoticons-panel"></div>
                </div>
            </div>
            <div class="input-toolbar">
                <div class="attach attach-file">
                    <input type="file" title="Send file" multiple>
                    <i class="mdi mdi-24px mdi-paperclip"></i>
                </div>
                <div class="last-emoticons">
                </div>
                <div class="account-jid text-color-700"></div><div class="hidden account-role ground-color-700"></div><div class="hidden account-badge"></div><div class="hidden account-nickname text-color-700"></div>
            </div>
        </div>
        <div class="send-area">
            <button class="btn-save btn-flat btn-main text-color-700 hidden">Save</button>
            <i class="send-message mdi mdi-28px mdi-send text-color-700 hover-text-color-500 hidden"></i>
            <div class="attach attach-voice-message" title="Send voice message">
                    <i class="mdi mdi-28px mdi-microphone text-color-700 hover-text-color-500"></i>
            </div>
        </div>
    </div>
    <div class="message-actions-panel noselect hidden">
        <button class="forward-message btn btn-main-filled ground-color-700">Forward<span class="counter"></span></button>
        <button class="reply-message btn btn-main-filled ground-color-700">Reply</button>
        <button class="btn-more-actions btn-flat btn-main text-color-700 dropdown-button" data-activates="message-actions-more"><i class="mdi mdi-dots-horizontal mdi-28"></i></button>
        <!--<button class="copy-message btn-flat btn-main text-color-700">Copy</button>
        <button class="delete-message btn-flat btn-main text-color-700">Delete</button>
        <button class="pin-message btn-flat btn-main text-color-700">Pin</button>-->
        <button class="close-message-panel btn-flat btn-main right">Cancel</button>
        <ul id="message-actions-more" class="message-actions-menu dropdown-content noselect">
            <li class="copy-message">
                <span class="one-line">Copy</span>
            </li>
            <li class="delete-message">
                <span class="one-line">Delete</span>
            </li>
            <li class="pin-message">
                <span class="one-line">Pin</span>
            </li>
            <li class="edit-message">
                <span class="one-line">Edit</span>
            </li>
        </ul>
    </div>
