<div class="chat-head-details"></div>
<div class="circle-avatar"></div>
<div class="contact-status hide-offline"></div>
<div class="chat-icon hidden"></div>
<div class="chat-head-info-buttons-container">
    <div class="contact-info">
        <div class="contact-name-wrap">
            <i class="mdi encrypted-icon mdi-14px mdi-lock"></i>
            <i class="mdi encrypted-icon mdi-14px mdi-alert"></i>
            <i class="mdi encrypted-icon mdi-14px mdi-alert-circle"></i>
            <p class="contact-name one-line"></p>
        </div>
        <p class="contact-status-message one-line"></p>
    </div>
    <div class="chat-tools-wrap">
        <div class="chat-tool chat-tool-player">
            <div class="chat-tool-player-containter">
                <div class="chat-tool chat-tool-plyr-controls btn-previous-plyr">
                    <i class="mdi mdi-skip-previous mdi-24px"></i>
                </div>
                <div class="chat-tool chat-tool-plyr-controls btn-play-pause-plyr">
                    <i class="mdi mdi-play mdi-24px"></i>
                    <i class="mdi mdi-pause mdi-24px"></i>
                </div>
                <div class="chat-tool chat-tool-plyr-controls btn-next-plyr">
                    <i class="mdi mdi-skip-next mdi-24px"></i>
                </div>
                <div class="chat-tool chat-tool-plyr-controls btn-popup-plyr">
                    <img class="player-poster hidden">
                    <svg class="mdi mdi-32px mdi-player-type-icon mdi-svg-template" data-svgname="video"></svg>
                    <div class="voice-message-player-avatar circle-avatar hidden"></div>
                </div>
                <div class="chat-tool chat-player-duration chat-tool-plyr-controls">
                    <div class="chat-head-player-title one-line"><div class="chat-head-player-title-text">{[print(xabber.getString("chat_message_video"))]}</div></div>
                    <div class="chat-head-player-title-bottom-container">
                        <span class="chat-head-player-type one-line">{[print(xabber.getString("chat_message_video"))]}</span><span class="chat-head-player-type-dot"> •</span>
                        <span class="chat-head-player-current-time">0:00</span> /
                        <span class="chat-head-player-total-time">0:00</span>
                    </div>
                </div>
                <div class="chat-tool chat-tool-plyr-controls btn-stop-plyr">
                    <i class="mdi mdi-close mdi-16px"></i>
                </div>
            </div>
        </div>
        <div class="chat-tool btn-show-session">
            <i class="mdi mdi-alert mdi-24px"></i>
        </div>
        <div class="chat-tool btn-jingle-message">
            <i class="mdi mdi-phone mdi-24px"></i>
        </div>
        <!--<div class="chat-tool btn-set-status">
            <svg class="mdi mdi-24px" viewBox="0 0 24 24">
                <g stroke="none" stroke-width="1" fill="none">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path d="M20,4 C21.1045695,4 22,4.8954305 22,6 L22,16 C22,17.1045695 21.1045695,18 20,18 L16,18 L12,22 L8,18 L4,18 C2.8954305,18 2,17.1045695 2,16 L2,6 C2,4.8954305 2.8954305,4 4,4 L20,4 Z M16,12 L6,12 L6,14 L16,14 L16,12 Z M18,8 L6,8 L6,10 L18,10 L18,8 Z" id="tooltip-variant" fill="#9E9E9E" fill-rule="nonzero"></path>
                </g>
            </svg>
        </div>-->
        <div class="chat-tool btn-search-messages">
            <i class="search-icon mdi mdi-24px mdi-magnify"></i>
        </div>
        <div class="chat-tool btn-more dropdown-button" data-activates="{{view.cid}}-more">
            <i class="mdi mdi-24px mdi-dots-vertical"></i>
        </div>
        <ul id="{{view.cid}}-more" class="chat-head-menu dropdown-content noselect">
            <li class="btn-chat-pin">
                <span class="one-line"></span>
            </li>
            <li class="btn-archive-chat">
                <span class="one-line"></span>
            </li>
            <li class="btn-notifications active-hover" data-activates="{{view.cid}}-mute-more">
                <span class="one-line"></span>
            </li>
            <li class="ephemeral-timer-dropdown active-hover" data-activates="select-ephemeral-timer-{{view.cid}}">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_menu"))]}</span>
            </li>
            <li class="btn-call-attention">
                <span class="one-line">{[print(xabber.getString("call_attention"))]}</span>
            </li>
            <li class="btn-export-chat">
                <span class="one-line">{[print(xabber.getString("export_chat"))]}</span>
            </li>
            <li class="btn-show-fingerprints">
                <span class="one-line">{[print(xabber.getString("chat_head__encrypted_devices"))]}</span>
            </li>
            <li class="btn-invite-users">
                <span class="one-line">{[print(xabber.getString("groupchat_invite"))]}</span>
            </li>
            <li class="btn-start-encryption">
                <span class="one-line">{[print(xabber.getString("omemo__chat_settings__button_start_encrypted_chat"))]}</span>
            </li>
            <li class="btn-open-encrypted-chat">
                <span class="one-line">{[print(xabber.getString("omemo__chat_settings__button_open_encrypted_chat"))]}</span>
            </li>
            <li class="btn-open-regular-chat">
                <span class="one-line">{[print(xabber.getString("omemo__chat_settings__button_open_regular_chat"))]}</span>
            </li>
            <li class="btn-delete-chat">
                <span class="one-line text-color-500">{[print(xabber.getString("delete_chat"))]}</span>
            </li>
            <li class="btn-clear-history">
                <span class="one-line text-color-500">{[print(xabber.getString("clear_history"))]}</span>
            </li>
        </ul>
        <ul id="{{view.cid}}-mute-more" class="contact-mute-dropdown dropdown-content noselect">
            <li class="btn-mute-dropdown" data-mute="minutes15">
                <span class="one-line">{[print(xabber.getString("mute_15_min"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="hours1">
                <span class="one-line">{[print(xabber.getString("mute_1_hour"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="hours2">
                <span class="one-line">{[print(xabber.getString("mute_2_hours"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="day">
                <span class="one-line">{[print(xabber.getString("mute_1_day"))]}</span>
            </li>
            <li class="btn-mute-dropdown" data-mute="forever">
                <span class="one-line">{[print(xabber.getString("mute_forever"))]}</span>
            </li>
        </ul>
        <ul id="select-ephemeral-timer-{{view.cid}}" class="ephemeral-timer-dropdown-content dropdown-content noselect">
            <li class="btn-set-ephemeral-timer" data-value="">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_none"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="5">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_5"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="10">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_10"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="15">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_15"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="30">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_30"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="60">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_60"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="300">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_300"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="600">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_600"))]}</span>
            </li>
            <li class="btn-set-ephemeral-timer" data-value="900">
                <span class="one-line">{[print(xabber.getString("ephemeral_timer_900"))]}</span>
            </li>
        </ul>
    </div>
</div>
