<div class="account-indicator ground-color-700"></div>
<div class="circle-avatar"></div>
<div class="status hide-offline"></div>
<div class="chat-icon hidden"><svg class="mdi mdi-18px" viewBox="0 0 18 18"/></div>
<div class="recent-chat-info">
    <div class="chat-title-wrap">
        <p class="chat-title one-line"></p>
        <svg class="muted-icon mdi mdi-12px mdi-svg-template" data-svgname="volume-off-variant" viewBox="0 0 13 16"></svg>
    </div>
    <p class="last-msg one-line"></p>
    <p class="last-msg-date"></p>
    <i class="msg-delivering-state mdi mdi-12px hidden"></i>
    <i class="blocked-indicator mdi mdi-14px mdi-block-helper"></i>
    <span class="msg-counter hidden"></span>
</div>
