<div class="recent-chats-panel noselect">
    <div class="chats-search-form search-form panel-head">
        <div class="account-indicator"></div>
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" tabindex="1" placeholder="Search recent chats">
        <i class="close-search-icon mdi mdi-20px mdi-close"></i>
    </div>
    <div class="chat-list-wrap left-panel-list-wrap">
        <div class="chat-list item-list">
        </div>
    </div>
</div>
