<div class="modal-content-wrap">
    <div class="modal-header">
        <span>{[print(xabber.getString("ephemeral_timer_modal__header"))]}</span>
    </div>
    <div class="modal-content">
        <div data-value="" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_none"))]}</div>
        <div data-value="5" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_5"))]}</div>
        <div data-value="10" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_10"))]}</div>
        <div data-value="15" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_15"))]}</div>
        <div data-value="30" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_30"))]}</div>
        <div data-value="60" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_60"))]}</div>
        <div data-value="300" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_300"))]}</div>
        <div data-value="600" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_600"))]}</div>
        <div data-value="900" class="btn-set-ephemeral-timer">{[print(xabber.getString("ephemeral_timer_900"))]}</div>
    </div>
</div>
