<div class="chat-item list-item group-chat-members" data-jid="{{jid}}" data-role="{{role}}">
	<div class="circle-avatar">
    	<img>
	</div>
	<div class="member-info">
    <p class="jid one-line">{{jid}}</p>
    <p class="role one-line">{{role}}</p>
    </div>
    <div class="chat-tool btn-delete-user" title="Delete member"><i class="mdi mdi-20px mdi-account-minus"></i></div>
    <div class="chat-tool btn-make-user-admin" title="Make member admin"><i class="mdi mdi-20px mdi-account-star"></i></div>
    <!--<div class="btn-chat-member-more"><i class="mdi mdi-20px mdi-dots-vertical"></i></div>-->
</div>