<div class="circle-avatar ground-color-700"></div>
<div class="contact-info">
    <p class="contact-name one-line">Saved messages</p>
    <p class="one-liner"></p>
</div>
<div class="chat-tools-wrap">
    <div class="chat-tool btn-search-messages">
        <i class="search-icon mdi mdi-24px mdi-magnify"></i>
    </div>
    <div class="chat-tool btn-more dropdown-button" data-activates="{{view.cid}}-more">
        <i class="mdi mdi-24px mdi-dots-vertical"></i>
    </div>
    <ul id="{{view.cid}}-more" class="chat-head-menu dropdown-content noselect">
        <li class="btn-delete-chat">
            <span class="one-line">Delete all</span>
        </li>
    </ul>
</div>
