<div class="circle-avatar ground-color-700"></div>
<div class="contact-info">
    <p class="contact-name one-line">{[print(xabber.getString("saved_messages__header"))]}</p>
    <p class="one-liner"></p>
</div>
<div class="chat-tools-wrap">
    <div class="chat-tool chat-tool-plyr-controls btn-previous-plyr hidden">
        <i class="mdi mdi-arrow-left mdi-24px"></i>
    </div>
    <div class="chat-tool chat-tool-plyr-controls btn-play-pause-plyr hidden">
        <i class="mdi mdi-play mdi-24px"></i>
        <i class="mdi mdi-pause mdi-24px"></i>
    </div>
    <div class="chat-tool chat-tool-plyr-controls btn-next-plyr hidden">
        <i class="mdi mdi-arrow-right mdi-24px"></i>
    </div>
    <div class="chat-tool chat-tool-plyr-controls btn-stop-plyr hidden">
        <i class="mdi mdi-stop mdi-24px"></i>
    </div>
    <div class="chat-tool chat-tool-plyr-controls btn-popup-plyr hidden">
        <i class="mdi mdi-monitor mdi-24px"></i>
    </div>
    <div class="chat-tool btn-chat-pin">
        <svg class="mdi mdi-24px" viewBox="0 0 24 24">
            <svg class="mdi mdi-24px" viewBox="0 0 24 24">
                <path id="tooltip-variant" fill="#9E9E9E" fill-rule="nonzero" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z"/>
            </svg>
        </svg>
    </div>
    <div class="chat-tool btn-search-messages">
        <i class="search-icon mdi mdi-24px mdi-magnify"></i>
    </div>
    <div class="chat-tool btn-more dropdown-button" data-activates="{{view.cid}}-more">
        <i class="mdi mdi-24px mdi-dots-vertical"></i>
    </div>
    <ul id="{{view.cid}}-more" class="chat-head-menu dropdown-content noselect">
        <li class="btn-delete-chat">
            <span class="one-line">{[print(xabber.getString("chat_settings__button_delete_all"))]}</span>
        </li>
    </ul>
</div>
