<div class="modal-header">
    <span></span>
    <div class="menu-wrap">
        <div data-screen-name="image" class="menu-btn btn-library">{[print(xabber.getString("images"))]}</div>
        <div data-screen-name="video" class="menu-btn btn-library">{[print(xabber.getString("videos"))]}</div>
        <div data-screen-name="upload" class="menu-btn btn-upload">{[print(xabber.getString("settings__dialog_background__menu_item_upload"))]}</div>
        <div data-screen-name="web-address" class="menu-btn btn-web-address">{[print(xabber.getString("settings__dialog_background__menu_item_url"))]}</div>
    </div>
</div>
<div class="modal-content">
    <div data-screen="image" class="screen-wrap hidden library-wrap"></div>
    <div data-screen="video" class="screen-wrap hidden library-wrap"></div>
    <div data-screen="upload" class="screen-wrap">
        <div class="upload-wrap">
            <div class="upload-text">{[print(xabber.getString("chat_bottom__drag_and_drop__text_drop_files_here"))]}</div>
            <div class="upload-button">
                <button type="file">{[print(xabber.getString("send_media__btn_upload"))]}</button>
                <input type="file" multiple>
            </div></div>
    </div>
    <div data-screen="web-address" class="hidden screen-wrap web-address-wrap">
        <div class="web-address">
            <div class="label">{[print(xabber.getString("settings__dialog_background__section_url__label"))]}</div>
            <input class="url"/>
        </div>
        <div class="image-preview">
            <img class="hidden">
            <p>{[print(xabber.getString("settings__dialog_background__section_url__placeholder_preview"))]}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn-flat btn-main text-color-700 non-active btn-add">{[print(xabber.getString("add"))]}</button>
    <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    <div class="modal-preloader-wrap"></div>
</div>