<div class="subscription-buttons">
    <div class="subscription-info"></div>
    <div class="button text-color-500 btn-add">{[print(xabber.getString("contact_add"))]}</div>
    <div class="button btn-block">{[print(xabber.getString("contact_bar_block"))]}</div>
    <div class="button text-color-500 btn-allow">{[print(xabber.getString("chat_allow"))]}</div>
    <div class="button text-color-500 btn-subscribe">{[print(xabber.getString("chat_subscribe"))]}</div>
    <i class="mdi-close btn-decline mdi mdi-24px"></i>
</div>