<div class="calls-content-filters no-select">
    <div class="calls-filter-main-header">{[print(xabber.getString("calls_window__header"))]}</div>
    <div class="left-column-filters-container">
        <div class="client-notifications-wrap">

        </div>
        <div class="search-form">
            <i class="search-icon mdi mdi-24px mdi-magnify"></i>
            <input type="text" class="search-input simple-input-field" tabindex="1" placeholder='{[print(xabber.getString("search"))]}'>
            <i class="close-search-icon mdi mdi-16px mdi-close-circle"></i>
        </div>
        <div class="calls-type-filter">
            <div class="calls-filter-header">{[print(xabber.getString("notifications_window__filters_header"))]}</div>
            <div class="calls-type-filter-content">
                <!--<div class="filter-item-wrap selected-filter" data-filter="all">-->
                    <!--<svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="call"></svg>-->
                    <!--<div class="name one-line">{[print(xabber.getString("calls_window__type_filter_all"))]}</div>-->
                <!--</div>-->
                <div class="filter-item-wrap" data-filter="missed">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="call-missed"></svg>
                    <div class="name one-line">{[print(xabber.getString("calls_window__type_filter_missed"))]}</div>
                </div>
                <div class="filter-item-wrap" data-filter="incoming">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="call-received"></svg>
                    <div class="name one-line">{[print(xabber.getString("calls_window__type_filter_incoming"))]}</div>
                </div>
                <div class="filter-item-wrap" data-filter="outgoing">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="call-made"></svg>
                    <div class="name one-line">{[print(xabber.getString("calls_window__type_filter_outgoing"))]}</div>
                </div>
                <div class="filter-item-wrap" data-filter="declined">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="call-noanswer"></svg>
                    <div class="name one-line">{[print(xabber.getString("calls_window__type_filter_declined"))]}</div>
                </div>
            </div>
        </div>
        <div class="calls-contacts-wrap">
            <div class="calls-filter-header">{[print(xabber.getString("calls_window__calls_contacts"))]}</div>
            <div class="calls-contacts-container">
            </div>
        </div>
    </div>
</div>
<div class="calls-right-wrap">
    <div class="calls-header-container">
        <div class="btn-check-all">
            <svg class="mdi mdi-24px mdi-svg-template" data-svgname="check-all"></svg>
        </div>
    </div>
    <div class="tab-active-filters-wrap">
        <div class="chat-tools-wrap">
            <div class="chat-tool chat-tool-player">
                <div class="chat-tool-player-containter">
                    <div class="chat-tool chat-tool-plyr-controls btn-previous-plyr">
                        <i class="mdi mdi-skip-previous mdi-24px"></i>
                    </div>
                    <div class="chat-tool chat-tool-plyr-controls btn-play-pause-plyr">
                        <i class="mdi mdi-play mdi-24px"></i>
                        <i class="mdi mdi-pause mdi-24px"></i>
                    </div>
                    <div class="chat-tool chat-tool-plyr-controls btn-next-plyr">
                        <i class="mdi mdi-skip-next mdi-24px"></i>
                    </div>
                    <div class="chat-tool chat-tool-plyr-controls btn-popup-plyr">
                        <img class="player-poster hidden">
                        <svg class="mdi mdi-32px mdi-player-type-icon mdi-svg-template" data-svgname="video"></svg>
                        <div class="voice-message-player-avatar circle-avatar hidden"></div>
                    </div>
                    <div class="chat-tool chat-player-duration chat-tool-plyr-controls">
                        <div class="chat-head-player-title one-line"><div class="chat-head-player-title-text">{[print(xabber.getString("chat_message_video"))]}</div></div>
                        <div class="chat-head-player-title-bottom-container">
                            <span class="chat-head-player-type one-line">{[print(xabber.getString("chat_message_video"))]}</span><span class="chat-head-player-type-dot"> •</span>
                            <span class="chat-head-player-current-time">0:00</span> /
                            <span class="chat-head-player-total-time">0:00</span>
                        </div>
                    </div>
                    <div class="chat-tool chat-tool-plyr-controls btn-stop-plyr">
                        <i class="mdi mdi-close mdi-16px"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-additional-filter-item tab-account-filter-item dropdown-button ground-main-color-50 hidden" data-type="accounts" data-value="all" data-activates="{{view.cid}}-accounts-filters">
            <div class="tab-filter-item-text one-line"></div>
            <i class="mdi mdi-8px mdi-triangle"></i>
        </div>
        <ul id="{{view.cid}}-accounts-filters" class="dropdown-content accounts-dropdown bootstrap-dropdown noselect">
        </ul>
    </div>
    <div class="calls-right-container">
        <div class="active-call-container">
            <div class="active-call-item no-select">
                <div class="circle-avatar"></div>
                <div class="call-contact-name text-color-500 one-line"></div>
                <div class="call-duration text-color-500"></div>
                <svg class="active-call-icon outgoing-icon mdi fill-color-blue-700 mdi-svg-template" data-svgname="call-made"></svg>
                <svg class="active-call-icon incoming-icon fill-color-green-700 mdi-svg-template" data-svgname="call-received"></svg>
                <div class="btn-end-call">
                    <svg class="mdi fill-color-red-500 mdi-svg-template" data-svgname="call-hangup"></svg>
                </div>
            </div>
        </div>
        <div class="calls-content">
            <div class="chat-content-wrap">
                <div class="chat-content">
                </div>
                <!--<i class="mdi mdi-36px back-to-bottom mdi-chevron-down"></i>-->
            </div>
        </div>
    </div>
</div>
