<div class="roster-account-info-wrap">
    <div class="roster-account-info">
        <div class="circle-avatar border-color ground-color-700 noselect">
            <img>
        </div>
        <div class="text-info-wrap">
            <p class="name text-color-700 one-line"></p>
            <p class="status-message text-color-700 one-line"></p>
            <div class="roster-info">
                <i class="mdi mdi-account-multiple-outline"></i>
                <span class="counter"></span>
            </div>
        </div>
    </div>
    <div class="status-button">
        <div class="status"></div>
    </div>
    <div class="roster-account-shrank-footer1"></div>
    <div class="roster-account-shrank-footer2"></div>
</div>
