<div class="roster-account-info-wrap">
    <div class="roster-account-info ground-color-100">
        <div class="account-indicator ground-color-700"></div>
        <div class="circle-avatar noselect">
            <img>
        </div>
        <div class="text-info-wrap">
            <p class="name text-color-900 one-line"></p>
            <p class="jid one-line"></p>
        </div>
        <div class="button-divider"></div>
    </div>
    <div class="status-button">
        <div class="status"></div>
    </div>
    <div class="roster-account-shrank-footer1 ground-color-50">
        <div class="account-indicator ground-color-300"></div>
    </div>
    <div class="roster-account-shrank-footer2 ground-color-50">
        <div class="account-indicator ground-color-300"></div>
    </div>
</div>
