<div class="circle-avatar noselect">
    <img>
</div>
<div class="text-info-wrap">
    <div class="name-wrap">
        <p class="name one-line"></p>
        <svg class="muted-icon mdi mdi-12px mdi-svg-template" data-svgname="volume-off-variant" viewBox="0 0 13 16"></svg>
    </div>
    <p class="jid one-line"></p>
</div>
<div class="status hide-offline"></div>
<div class="group-chat-icon hidden"><img src="./images/Groupchat16gr.svg"></div>
<i class="blocked-indicator mdi mdi-14px mdi-block-helper"></i>
