<div class="panel-content-wrap noselect">
    <div class="main-info">
        <div class="avatar-wrap">
            <div class="circle-avatar"><img></div>
            <div class="status hide-offline"></div>
        </div>
        <div class="text-info">
            <div class="name-wrap"></div>
            <div class="status-message one-line"></div>
        </div>
        <div class="btn-escape">
            <i class="mdi mdi-24px mdi-close"></i>
            <span class="btn-text">Esc</span>
        </div>
        <div class="btn-more  dropdown-button" data-activates="{{view.cid}}-buttons-wrap">
            <i class="mdi mdi-24px mdi-dots-vertical"></i>
        </div>
        <ul class="buttons-menu-wrap dropdown-content noselect" id="{{view.cid}}-buttons-wrap">
            <li class="btn-auth-request"><span class="one-line">Request authorization</span></li>
            <li class="btn-add"><span class="one-line">Add contact</span></li>
            <li class="btn-delete"><span class="one-line">Delete contact</span></li>
        </ul>
        <div class="buttons-wrap">
            <div class="button-wrap btn-chat-wrap">
                <i class="mdi mdi-24px mdi-message-text btn-chat"></i>
                <div class="btn-name">Chat</div>
            </div>
            <div class="button-wrap btn-voice-call-wrap">
                <i class="mdi mdi-24px mdi-phone btn-voice-call"></i>
                <div class="btn-name">Voice Call</div>
            </div>
            <div class="button-wrap btn-mute-wrap">
                <i class="mdi mdi-24px mdi-bell btn-mute"></i>
                <div class="btn-name">Notifications</div>
            </div>
            <div class="button-wrap btn-block-wrap">
                <i class="mdi mdi-24px mdi-block-helper btn-block"></i>
                <div class="btn-name">Block</div>
            </div>
        </div>
    </div>
    <div class="panel-content private-chat">
        <div class="left-column">
            <div class="block-wrap subscription-block-wrap">
                <div class="block-header">
                    <span class="block-name">Subscription information</span>
                </div>
                <div class="subscription-info-wrap">
                    <div class="incoming-subscription-wrap">
                        <div class="input-field checkbox-field incoming-subscription-wrap">
                            <input type="checkbox" class="filled-in" id="incoming-subscription"/>
                            <label for="incoming-subscription"></label>
                        </div>
                    </div>
                    <div class="outcoming-subscription-wrap">
                        <div class="input-field checkbox-field incoming-subscription-wrap">
                            <input type="checkbox" class="filled-in" id="outcoming-subscription"/>
                            <label for="outcoming-subscription"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-wrap vcard">
            </div>
        </div>
        <div class="right-column">
            <div class="block-wrap resources-block-wrap hidden">
                <div class="block-header">
                    <span class="block-name">Connected devices</span>
                </div>
                <div class="resources-wrap">
                </div>
            </div>
            <div class="block-wrap groups-block-wrap"></div>
        </div>
    </div>
</div>