    <div class="panel-content-wrap noselect">
        <div class="main-info">
            <div class="circle-avatar"><img></div>
            <div class="status hide-offline"></div>
            <div class="text-info">
                <div class="name-wrap"></div>
                <div class="status-message one-line"></div>
            </div>
            <div class="btn-escape">
                <i class="mdi mdi-24px mdi-close"></i>
                <span class="btn-text">Esc</span>
            </div>
        </div>
        <div class="panel-content private-chat">
            <div class="left-column">
                <div class="block-wrap vcard">
                </div>
            </div>
            <div class="right-column">
                <div class="block-wrap resources-block-wrap hidden">
                    <div class="block-header">
                        <span class="block-name">Resources</span>
                    </div>

                    <div class="resources-wrap">
                    </div>
                </div>
                <div class="block-wrap groups-block-wrap"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer noselect">
        <div class="buttons-wrap">
            <button class="btn-add btn-flat btn-main">Add</button>
            <button class="btn-auth-request btn-flat btn-main">Request authorization</button>
            <button class="btn-chat btn-flat btn-main">Chat</button>
            <button class="btn-block btn-flat btn-main">Block</button>
            <button class="btn-unblock btn-flat btn-main">Unblock</button>
            <button class="btn-delete btn-flat btn-main">Delete</button>
        </div>
    </div>
