<div class="contacts-invitations-item" data-account-jid="{{account}}" data-jid="{{jid}}">
    <div class="avatar-wrap">
        <div class="account-indicator-background-exclude">
            <div class="account-indicator ground-color-700"></div>
            <div class="circle-avatar group-avatar"></div>
        </div>
        <div class="notification-icon group-invite-icon"></div>
    </div>
    <div class="contacts-invitations-name-wrap">
        <div class="contacts-invitations-item-name one-line">{{name}}</div>
        <div class="contacts-invitations-item-type one-line"></div>
    </div>
    <div class="contacts-invitations-details-wrap">
        <div class="contacts-invitations-item-main-text"></div>
        <div class="contacts-invitations-item-inviter-details-wrap no-select">
            <div class="circle-avatar inviter-avatar"></div>
            <div class="contacts-invitations-item-inviter-text"></div>
        </div>
        <div class="contacts-invitations-item-members-avatars"></div>
    </div>
    <div class="subscription-button btn-join-group ground-color-500">{[print(xabber.getString("groupchat_join"))]}</div>
    <i class="btn-decline-invitation mdi mdi-24px mdi-close"></i>
</div>
