
<div class="edit-wrap">
    <div class="edit-header block-header">
        <i class="details-icon btn-back mdi mdi-24px mdi-arrow-left"></i>
        <span class="block-name">{[print(xabber.getString("edit_vcard"))]}</span>
    </div>
    <div class="edit-contact">
        <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="account-outline"></svg></div>
        <div class="name-wrap"></div>
    </div>
    <div class="subscription-statuses">
        <div class="status-out subscription-status-wrap dropdown-button" data-activates="{{view.cid}}-status-out">
            <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="subscription-to"></svg></div>
            <div class="info">
                <div class="value one-line"></div>
            </div>
        </div>
        <div id="{{view.cid}}-status-out" class="status-out-dropdown dropdown-content noselect">
            <div class="btn-request property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_request_subscription"))]}</div>
            </div>
            <div class="btn-cancel-request property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_cancel_request_subscription"))]}</div>
            </div>
            <div class="btn-cancel-subscription-out property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_cancel_subscription"))]}</div>
            </div>
            <div class="btn-cancel-all property-variant">
                <div class="one-line">{[print(xabber.getString("cancel"))]}</div>
            </div>
        </div>
        <div class="status-in subscription-status-wrap dropdown-button" data-activates="{{view.cid}}-status-in">
            <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="subscription-from"></svg></div>
            <div class="info">
                <div class="value one-line"></div>
            </div>
        </div>
        <div id="{{view.cid}}-status-in" class="status-in-dropdown dropdown-content noselect">
            <div class="btn-allow property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_allow_subscription"))]}</div>
            </div>
            <div class="btn-allow-request property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_allow_subscription"))]}</div>
            </div>
            <div class="btn-disallow-request property-variant hidden">
                <div class="one-line">{[print(xabber.getString("decline"))]}</div>
            </div>
            <div class="btn-cancel-subscription-in property-variant hidden">
                <div class="one-line">{[print(xabber.getString("contact_subscription_cancel_subscription"))]}</div>
            </div>
            <div class="btn-cancel-all property-variant">
                <div class="one-line">{[print(xabber.getString("cancel"))]}</div>
            </div>
        </div>
        <div class="status-description subscription-status-wrap">
            <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="information-outline"></svg></div>
            <div class="info">
                <div class="value"></div>
            </div>
        </div>
    </div>
    <div class="edit-buttons">
        <div class="edit-button btn-delete">
            <div class="details-icon-wrap"><i class="details-icon mdi mdi-24px mdi-delete text-color-500"></i></div>
            <div class="edit-button-text">
                <span class="text-color-500 one-line">{[print(xabber.getString("contact_delete_full"))]}</span>
            </div>
        </div>
    </div>
</div>