<div class="modal-content-wrap">
    <div class="modal-content">
        <div class="rich-textarea badge-text" tabindex="1" contenteditable></div>
        <!--<input class="badge-text" type="text">-->
    </div>
    <div class="panel-footer noselect">
        <div class="buttons-wrap">
            <div class="insert-emoticon">
                <i class="mdi mdi-24px mdi-emoticon hover-text-color-500"></i>
            </div>
            <div class="emoticons-panel-wrap">
                <div class="emoticons-panel"></div>
            </div>
            <button class="btn-save btn-flat btn-main">Save</button>
            <button class="btn-cancel btn-flat btn-main btn-dark">Cancel</button>
        </div>
    </div>
</div>