<div class="block-header">
    <span class="block-name">Chat properties</span>
</div>
<div class="vcard-wrap group-info-editor">
    <div class="info-wrap jid-info-wrap">
        <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="xmpp"></svg>
        <div class="info jabber-id">
            <div class="value one-line"></div>
            <div class="label">Jabber ID</div>
        </div>
    </div>
    <div class="info-wrap name-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-account-box-outline"></i>
        <div class="info name">
            <div class="value one-line changeable-value"><input type="text"></div>
            <div class="label">Name</div>
        </div>
    </div>
    <div class="info-wrap description-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-file-document-box"></i>
        <div class="info description">
            <div class="value one-line changeable-value"><input type="text"></div>
            <div class="label">Description</div>
        </div>
    </div>
    <div class="info-wrap searchable-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-magnify"></i>
        <div class="info searchable">
            <div class="label for-clickable-field">Indexed</div>
            <div class="field clickable-field groupchat-searchable-state switch normal">
                <label class="field-value">
                    <input id="new_chat_searchable" type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="info-wrap model-info-wrap">
        <i class="details-icon mdi mdi-24px mdi-lock-open-outline"></i>
        <div class="info model">
            <div class="label for-clickable-field">Membership</div>
            <select class="model-value" size="1" id="new_chat_model" name="chat_model">
                <option value="member-only">Member-only</option>
                <option value="open">Open</option>
            </select>
        </div>
    </div>
</div>
<!--<button class="btn-set-default-rights btn-flat btn-dark btn-main">Set default rights</button>-->
<button class="btn-group-info-save btn-flat btn-main btn-dark ground-color-red-100 hover-ground-color-red-300">Save</button>
