<div class="modal-content-wrap settings-panel">
    <div class="modal-header">
        <span>{[print(xabber.getString("dialog_circle_settings__header"))]}</span>
    </div>

    <div class="modal-content">
            <div class="field-wrap group-name">
                <div class="input-field">
                    <label for="{{view.cid}}-group-name">{[print(xabber.getString("circle_name"))]}</label>
                    <input id="{{view.cid}}-group-name" type="text" name="group_name">
                    <span class="errors fixed"></span>
                </div>
            </div>

            <div class="setting-name">{[print(xabber.getString("category_offline_contacts"))]}</div>
            <div class="setting-wrap">
                <div class="setting offline radio-button field-wrap">
                    <div class="field radio-field clickable-field">
                        <form action="#">
                            <p>
                                <input class="with-gap" name="offline" value="yes" type="radio" id="{{view.cid}}-show" />
                                <label for="{{view.cid}}-show">{[print(xabber.getString("show_offline_always"))]}</label>
                            </p>
                            <p>
                                <input class="with-gap" name="offline" value="no" type="radio" id="{{view.cid}}-hide" />
                                <label for="{{view.cid}}-hide">{[print(xabber.getString("hide_offline_always"))]}</label>
                            </p>
                            <p>
                                <input class="with-gap" name="offline" value="default" type="radio" id="{{view.cid}}-show-offline-default" />
                                <label for="{{view.cid}}-show-offline-default">{[print(xabber.getString("dialog_circle_settings__label_common_settings"))]}</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-main btn-dark btn-delete left">{[print(xabber.getString("circle_remove"))]}</button>
        <button class="btn-flat btn-main btn-apply">{[print(xabber.getString("dialog_circle_settings__button_apply"))]}</button>
        <button class="btn-flat btn-main btn-dark btn-cancel">{[print(xabber.getString("cancel"))]}</button>
    </div>
</div>
