
<div class="groups-wrap">
    <div class="groups-header block-header">
        <i class="details-icon btn-back mdi mdi-24px mdi-arrow-left"></i>
        <span class="block-name">{[print(xabber.getString("contact_circle"))]}</span>
    </div>
    <div class="checkbox-list">
    </div>
</div>
<div class="groups-list-wrap" title='{[print(xabber.getString("contact_tooltip_edit_by_click"))]}'>
    <div class="details-icon-wrap"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="circles"></svg></div>
    <div class="groups">
    </div>
</div>