    <div class="panel-content-wrap noselect">
        <div class="main-info">
            <div class="circle-avatar"><img></div>
            <div class="status hide-offline"></div>
            <div class="text-info">
                <div class="name-wrap"></div>
                <div class="jid one-line"></div>
            </div>
            <div class="btn-escape">
                <i class="mdi mdi-24px mdi-close"></i>
                <span class="btn-text">Esc</span>
            </div>
        </div>

        <div class="panel-content">
            <div class="left-column">
                <div class="block-wrap vcard">
                </div>
            </div>
            <div class="right-column"></div>
            <div class="invite-msg"><p class="invite-msg-text"></p></div>
            <div class="panel-footer noselect">
                <div class="buttons-wrap">
                    <button class="btn-accept btn-flat btn-main">Accept</button>
                    <button class="btn-join btn-flat btn-main hidden">Join</button>
                    <button class="btn-decline btn-flat btn-main">Decline</button>
                    <button class="btn-block btn-flat btn-main">Block</button>
                    <button class="btn-chat btn-flat btn-main hidden">Chat</button>
                </div>
            </div>
        </div>
    </div>
