<div class="contacts-notifications-item invitation-notification-item no-select" data-account-jid="{{account}}" data-jid="{{jid}}">
    <div class="multiple-avatars-wrap">
    </div>
    <div class="contacts-notifications-name-wrap">
        <div class="contacts-notifications-item-name one-line">{[print(xabber.getString("new_invitation_request"))]}</div>
        <div class="contacts-notifications-item-text one-line">
        </div>
        <div class="contacts-notifications-item-counter">
            <svg class="mdi mdi-12px mdi-svg-template" data-svgname="plus"></svg>
        </div>
    </div>
    <i class="btn-close-notification mdi mdi-16px mdi-close"></i>
</div>
