<div class="gallery-file" title="{{file.name}}" data-id="{{file.id}}" data-uniqueid="{{file.uniqueid}}"  data-file="{{file.sources[0]}}" data-name="{{file.name}}" data-size="{{file.size}}" data-width="{{file.width}}" data-height="{{file.height}}" data-media-type="{{file.media_type}}" >
    {[if (file.media_type && (file.media_type.includes('image') || (file.media_type.includes('video') && !file.has_encrypted_files))){]}
    <img class="{[if (file.media_type.includes('video')){]}uploaded-video{[} else {]}uploaded-img popup-img{[}]}"
         data-mfp-src="{{file.sources[0]}}"
         src="{[if (file.thumbnail){]}{{file.thumbnail}}{[} else {]}{{file.sources[0]}}{[}]}"
         onError="this.parentElement.className = this.parentElement.className + ' hidden';"
    >
    {[} else {]}
    {[if (svg_icon == 'file-audio' && file.true_voice){]}
    <div class="gallery-file-placeholder-background gallery-audio-file-not-uploaded">
        <i class="details-icon mdi mdi-play no-uploaded"></i>
    </div>
    <div class="gallery-file-audio-container">
    </div>
    {[} else {]}
    <div class="gallery-file-placeholder-background">
        <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="{{svg_icon}}"></svg>
        <div class="gallery-file-title-grid">{{filesize}}</div>
    </div>
    {[}]}
    <div class="gallery-file-title one-line">
        {{file.name}},  <span class="gallery-file-size">{{filesize}}</span>
    </div>
    {[if (duration && file.true_voice){]}
    <div class="gallery-voice-file-duration">
        0:00 / <span class="gallery-voice-file-total-duration">{{duration}}</span>
    </div>
    {[}]}
    {[}]}
</div>