<div class="modal-content-wrap">
    <div class="modal-header">
        <div class="member-info-item"></div>
        <div class="btn-escape">
            <i class="mdi mdi-24px mdi-close"></i>
        </div>
    </div>
    <div class="modal-content">
        <div class="dialog-restrictions-edit">
            <div class="restrictions-header">Restrictions</div>
        </div>
        <div class="dialog-permissions-edit">
            <div class="permissions-header">Permissions</div>
        </div>
    </div>
    <div class="panel-footer noselect">
        <div class="buttons-wrap">
            <button class="btn-remove-user btn-flat btn-main btn-dark">Kick</button>
            <button class="btn-block-user btn-flat btn-main btn-dark">Block</button>
            <button class="btn-add-badge btn-flat btn-main btn-dark">Edit badge</button>
            <button class="btn-save-user-rights btn-flat btn-main">Save</button>
        </div>
    </div>
</div>