<div class="roster-contact-item-wrap" data-jid="{{jid}}" data-account-jid="{{account_jid}}">
    <div class="circle-avatar"></div>
    <div class="status chat-icon hide-offline" data-status="{{status}}"></div>
    <div class="contact-name one-line">{{name}}</div>
    <div class="contact-jid one-line">{{jid_content}}</div>
    <div class="contact-groups-wrap">

    </div>
    <div class="contact-expanded-groups-wrap hidden">

    </div>
    <div class="btn-edit">
        <svg class="mdi mdi-24px mdi-svg-template fill-color-grey-500" data-svgname="edit-outline"></svg>
    </div>
</div>
