<div class="contacts-panel noselect">
    <div class="collapsed-wrap">
        <i class="collapsed-contacts-icon mdi mdi-24px mdi-account-multiple"></i>
        <div class="all-contacts-counter"></div>
    </div>
    <div class="expanded-wrap">
        <div class="roster-head panel-head">
            <div class="contacts-header">Contacts</div>
            <div class="roster-button btn-pin"></div>
        </div>

        <div class="contact-list-wrap">
            <div class="contact-list">
            </div>
        </div>
    </div>
</div>
