<div class="roster-sorting-wrap">
    <div class="roster-sorting-item sort-name" data-sort="name">
        <div class="roster-sorting-value">{[print(xabber.getString("sorting_name__name"))]}</div>
        <i class="mdi mdi-24px mdi-arrow-down-slim"></i>
    </div>
    <div class="roster-sorting-item sort-jid" data-sort="jid">
        <div class="roster-sorting-value">{[print(xabber.getString("sorting_name__jid"))]}</div>
        <i class="mdi mdi-24px mdi-arrow-down-slim"></i>
    </div>
</div>
