<div class="contacts-panel-wrap">
    <div class="contacts-panel-left-side no-select">
        <div class="contacts-filter-main-header">{[print(xabber.getString("contacts"))]}</div>
        <div class="contacts-account-filter">
            <div class="contacts-filter-header">{[print(xabber.getString("notifications_window__account_filter_header"))]}</div>
            <div class="contacts-account-filter-content">
            </div>
        </div>
        <div class="contacts-type-filter">
            <div class="contacts-filter-header">{[print(xabber.getString("notifications_window__filters_header"))]}</div>
            <div class="contacts-type-filter-content">
                <div class="filter-item-wrap selected-filter" data-filter="all">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="account"></svg>
                    <div class="name one-line">{[print(xabber.getString("contacts"))]}<span></span></div>
                </div>
                <div class="filter-item-wrap" data-filter="groupchat">
                    <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="contacts"></svg>
                    <div class="name one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}<span></span></div>
                </div>
                <!--<div class="filter-item-wrap" data-filter="online">-->
                    <!--<svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="alert-circle"></svg>-->
                    <!--<div class="name one-line">{[print(xabber.getString("contacts_window__type_filter_online"))]}</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="contacts-type-filter contacts-group-filter">
            <div class="contacts-filter-header">{[print(xabber.getString("contact_circle"))]}</div>
            <div class="contacts-group-filter-content">
            </div>
        </div>
    </div>
    <div class="contacts-panel-right-side">
        <div class="contacts-panel">
            <div class="contacts-search-form search-form panel-head">
                <i class="search-icon mdi mdi-24px mdi-magnify"></i>
                <input type="text" class="search-input simple-input-field" tabindex="1" placeholder='{[print(xabber.getString("search"))]}'>
                <i class="close-search-icon mdi mdi-24px mdi-close"></i>
            </div>
            <div class="contacts-active-filters-wrap">
                <div class="roster-additional-filter-item dropdown-button ground-color-50" data-type="contacts" data-activates="{{view.cid}}-contacts-filters">
                    <div class="roster-filter-item-text one-line">{[print(xabber.getString("contacts"))]}</div>
                    <i class="mdi mdi-8px mdi-triangle"></i>
                </div>
                <ul id="{{view.cid}}-contacts-filters" class="dropdown-content bootstrap-dropdown noselect">
                    <div class="property-variant btn-subfilter" data-subfilter="contacts" data-parent-type="contacts">
                        <span class="one-line">{[print(xabber.getString("contacts"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="online" data-parent-type="contacts">
                        <span class="one-line">{[print(xabber.getString("online"))]}</span>
                    </div>
                </ul>
                <div class="roster-additional-filter-item dropdown-button ground-color-50 hidden" data-type="groups" data-activates="{{view.cid}}-groups-filters">
                    <div class="roster-filter-item-text one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}</div>
                    <i class="mdi mdi-8px mdi-triangle"></i>
                </div>
                <ul id="{{view.cid}}-groups-filters" class="dropdown-content bootstrap-dropdown noselect">
                    <div class="property-variant btn-subfilter" data-subfilter="groups" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="public" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("groupchat_privacy_type_public"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="incognito" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("groupchat_privacy_type_incognito"))]}</span>
                    </div>
                </ul>
            </div>

            <div class="contact-list-wrap left-panel-list-wrap">
                <div class="contact-list item-list">
                </div>
                <!--<div class="searched-lists-wrap">-->
                    <!--<div class="contacts-list-wrap hidden">-->
                        <!--<div class="account-indicator"></div>-->
                        <!--<div class="contacts-title">{[print(xabber.getString("category_title_contacts"))]}</div>-->
                        <!--<div class="contacts-list roster-left-container"></div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
