<div class="contacts-panel noselect">
    <div class="contacts-search-form search-form panel-head">
        <div class="account-indicator"></div>
        <i class="search-icon mdi mdi-20px mdi-magnify"></i>
        <input type="text" class="search-input simple-input-field" tabindex="1" placeholder="Search contacts">
        <i class="close-search-icon mdi mdi-20px mdi-close"></i>
    </div>

    <div class="contact-list-wrap left-panel-list-wrap">
        <div class="contact-list item-list">
        </div>
    </div>
</div>
