<div class="contacts-panel-wrap">
    <div class="contacts-panel-left-side no-select">
        <i class="btn-back-to-chats mdi mdi-24px mdi-arrow-left"></i>
        <div class="contacts-filter-main-header">{[print(xabber.getString("contacts"))]}</div>
        <div class="left-column-filters-container">
            <div class="client-notifications-wrap">

            </div>
            <div class="contacts-type-filter">
                <!--<div class="contacts-filter-header"></div>-->
                <div class="contacts-type-filter-content">
                    <div class="filter-item-wrap" data-filter="contacts">
                        <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="account-outline"></svg>
                        <div class="name one-line">{[print(xabber.getString("contacts"))]}<span></span></div>
                    </div>
                    <div class="filter-item-wrap" data-filter="groupchat">
                        <svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="group-public-outline"></svg>
                        <div class="name one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}<span></span></div>
                    </div>
                    <div class="filter-item-wrap subscription-item-wrap" data-filter="subscription">
                        <svg class="filter-icon mdi fill-color-grey-500 mdi mdi-svg-template" data-svgname="vcard-outline"></svg>
                        <div class="name one-line">{[print(xabber.getString("notifications_window__subscriptions_header"))]}<span></span></div>
                    </div>
                    <div class="filter-item-wrap invitation-filter-item-wrap" data-filter="invitations">
                        <svg class="filter-icon mdi fill-color-grey-500 mdi mdi-svg-template" data-svgname="invite-outline"></svg>
                        <div class="name one-line">{[print(xabber.getString("notifications_window__type_filter_invitations"))]}<span></span></div>
                    </div>
                    <!--<div class="filter-item-wrap" data-filter="online">-->
                    <!--<svg class="filter-icon mdi fill-color-grey-500 mdi-svg-template" data-svgname="alert-circle"></svg>-->
                    <!--<div class="name one-line">{[print(xabber.getString("contacts_window__type_filter_online"))]}</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="contacts-type-filter contacts-group-filter">
                <div class="contacts-filter-header">{[print(xabber.getString("contact_circle"))]}</div>
                <div class="contacts-group-filter-content">
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-panel-right-side">
        <div class="contacts-panel">
            <div class="panel-head">
                <svg class="btn-show-search mdi mdi-24px mdi-svg-template" data-svgname="search"></svg>
                <i class="btn-dropdown-groups mdi mdi-24px mdi-dots-vertical" data-activates="{{view.cid}}-more"></i>
                <ul id="{{view.cid}}-more" class="bootstrap-dropdown dropdown-content noselect">
                    <div class="btn-add-contact property-variant">
                        {[print(xabber.getString("add_contact"))]}
                    </div>
                    <div class="btn-create-group property-variant">
                        {[print(xabber.getString("create_group"))]}
                    </div>
                    <div class="btn-create-incognito property-variant">
                        {[print(xabber.getString("create_incognito_group"))]}
                    </div>
                </ul>
            </div>
            <div class="tab-active-filters-wrap">
                <div class="chat-tools-wrap">
                    <div class="chat-tool chat-tool-player">
                        <div class="chat-tool-player-containter">
                            <div class="chat-tool chat-tool-plyr-controls btn-previous-plyr">
                                <i class="mdi mdi-skip-previous mdi-24px"></i>
                            </div>
                            <div class="chat-tool chat-tool-plyr-controls btn-play-pause-plyr">
                                <i class="mdi mdi-play mdi-24px"></i>
                                <i class="mdi mdi-pause mdi-24px"></i>
                            </div>
                            <div class="chat-tool chat-tool-plyr-controls btn-next-plyr">
                                <i class="mdi mdi-skip-next mdi-24px"></i>
                            </div>
                            <div class="chat-tool chat-tool-plyr-controls btn-popup-plyr">
                                <img class="player-poster hidden">
                                <svg class="mdi mdi-32px mdi-player-type-icon mdi-svg-template" data-svgname="video"></svg>
                                <div class="voice-message-player-avatar circle-avatar hidden"></div>
                            </div>
                            <div class="chat-tool chat-player-duration chat-tool-plyr-controls">
                                <div class="chat-head-player-title one-line"><div class="chat-head-player-title-text">{[print(xabber.getString("chat_message_video"))]}</div></div>
                                <div class="chat-head-player-title-bottom-container">
                                    <span class="chat-head-player-type one-line">{[print(xabber.getString("chat_message_video"))]}</span><span class="chat-head-player-type-dot"> •</span>
                                    <span class="chat-head-player-current-time">0:00</span> /
                                    <span class="chat-head-player-total-time">0:00</span>
                                </div>
                            </div>
                            <div class="chat-tool chat-tool-plyr-controls btn-stop-plyr">
                                <i class="mdi mdi-close mdi-16px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-additional-filter-item tab-account-filter-item dropdown-button ground-main-color-50 hidden" data-type="accounts" data-value="all" data-activates="{{view.cid}}-accounts-filters">
                    <div class="tab-filter-item-text one-line"></div>
                    <i class="mdi mdi-8px mdi-triangle"></i>
                </div>
                <ul id="{{view.cid}}-accounts-filters" class="dropdown-content accounts-dropdown bootstrap-dropdown noselect">
                    <div class="property-variant btn-accounts-filter" data-jid="all">
                        <span class="one-line">{[print(xabber.getString("notifications_window__type_filter_all_accounts"))]}</span>
                    </div>
                </ul>
                <div class="tab-additional-filter-item dropdown-button ground-main-color-50" data-type="contacts" data-activates="{{view.cid}}-contacts-filters">
                    <div class="tab-filter-item-text one-line">{[print(xabber.getString("contacts"))]}</div>
                    <i class="mdi mdi-8px mdi-triangle"></i>
                </div>
                <ul id="{{view.cid}}-contacts-filters" class="dropdown-content bootstrap-dropdown noselect">
                    <div class="property-variant btn-subfilter" data-subfilter="contacts" data-parent-type="contacts">
                        <span class="one-line">{[print(xabber.getString("contacts"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="online" data-parent-type="contacts">
                        <span class="one-line">{[print(xabber.getString("online"))]}</span>
                    </div>
                </ul>
                <div class="tab-additional-filter-item dropdown-button ground-main-color-50 hidden" data-type="groups" data-activates="{{view.cid}}-groups-filters">
                    <div class="tab-filter-item-text one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}</div>
                    <i class="mdi mdi-8px mdi-triangle"></i>
                </div>
                <ul id="{{view.cid}}-groups-filters" class="dropdown-content bootstrap-dropdown noselect">
                    <div class="property-variant btn-subfilter" data-subfilter="groups" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="public" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("groupchat_privacy_type_public"))]}</span>
                    </div>
                    <div class="property-variant btn-subfilter" data-subfilter="incognito" data-parent-type="groups">
                        <span class="one-line">{[print(xabber.getString("groupchat_privacy_type_incognito"))]}</span>
                    </div>
                </ul>
                <div class="contacts-search-form search-form">
                    <div type="text" class="search-input simple-input-field" role="textbox" contenteditable data-placeholder='{[print(xabber.getString("search"))]}'></div>
                    <i class="close-search-icon mdi mdi-16px mdi-close-circle"></i>
                </div>
            </div>
            <div class="contacts-content-wrap">
                <div class="notification-subscriptions-wrap notifications-subscriptions">
                    <div class="notification-subscriptions-header">
                        {[print(xabber.getString("notifications_window__subscriptions_header"))]}
                    </div>
                    <div class="notification-subscriptions-content-wrap">
                    </div>
                    <div class="notification-subscriptions-button-wrap">

                        <div class="notification-subscriptions-button filter-item-wrap" data-filter="subscription">
                            {[print(xabber.getString("show_all"))]}
                        </div>
                    </div>
                </div>
                <div class="contacts-invitations-wrap">
                    <div class="contacts-invitations-header">
                        {[print(xabber.getString("notifications_window__type_filter_invitations"))]}
                    </div>
                    <div class="contacts-invitations-content-wrap">
                    </div>
                    <div class="contacts-invitations-button-wrap">
                        <div class="contacts-invitations-button filter-item-wrap" data-filter="invitations">
                            {[print(xabber.getString("show_all"))]}
                        </div>
                    </div>
                </div>
                <div class="roster-sorting-wrap no-select">
                    <div class="roster-sorting-item sort-name" data-sort="name">
                        <div class="roster-sorting-value">{[print(xabber.getString("sorting_name__name"))]}</div>
                        <i class="mdi mdi-24px mdi-arrow-down-slim"></i>
                    </div>
                    <div class="roster-sorting-item sort-jid" data-sort="jid">
                        <div class="roster-sorting-value">{[print(xabber.getString("sorting_name__jid"))]}</div>
                        <i class="mdi mdi-24px mdi-arrow-down-slim"></i>
                    </div>
                </div>
                <div class="contact-list-wrap hidden left-panel-list-wrap">
                    <div class="contact-list item-list">
                    </div>
                </div>
                <div class="contacts-home-wrap left-panel-list-wrap">
                    <div class="contacts-home-items-wrap">
                        <div class="contacts-list-header contacts-home-header filter-item-wrap" data-filter="contacts">{[print(xabber.getString("contacts"))]}<span></span></div>
                        <div class="contact-item-list contacts-preview-list no-select">
                        </div>
                        <div class="btn-add-contact contacts-home-items-button text-main-color-500">
                            <i class="mdi mdi-24px mdi-account-plus"></i>{[print(xabber.getString("add_contact"))]}
                        </div>
                    </div>
                    <div class="contacts-home-items-wrap">
                        <div class="contacts-list-header groupchats-home-header filter-item-wrap" data-filter="groupchat">{[print(xabber.getString("contacts_window__type_filter_groupchat"))]}<span></span></div>
                        <div class="contact-item-list groupchats-preview-list no-select">
                        </div>
                        <div class="btn-create-group contacts-home-items-button text-main-color-500">
                            <i class="mdi mdi-24px mdi-account-multiple-plus"></i>{[print(xabber.getString("create_group"))]}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
