<div class="block-header">
    <span class="block-name">vCard</span>
    <div class="btn-vcard-refresh">
        <div class="button">
            <i class="mdi mdi-20px mdi-refresh"></i>
        </div>
        <div class="preloader-wrapper preloader-20px active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vcard-wrap">
    <div class="info-wrap jid-info-wrap hidden">
        <div class="details-icon-wrap" title="Copy to clipboard"><svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="xmpp"></svg></div>
        <div class="info jabber-id">
            <div class="value one-line"></div>
            <div class="label">Jabber ID</div>
        </div>
    </div>
    <div class="info-wrap personal-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-account-box-outline"></i>
        <div class="info nickname">
            <div class="value one-line"></div>
            <div class="label">Nickname</div>
        </div>
        <div class="info fullname">
            <div class="value one-line"></div>
            <div class="label">Full name</div>
        </div>
        <div class="info first-name">
            <div class="value one-line"></div>
            <div class="label">Name</div>
        </div>
        <div class="info middle-name">
            <div class="value one-line"></div>
            <div class="label">Middle name</div>
        </div>
        <div class="info last-name">
            <div class="value one-line"></div>
            <div class="label">Surname</div>
        </div>
    </div>
    <div class="info-wrap birthday-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-cake-variant"></i>
        <div class="info birthday">
            <div class="value one-line"></div>
            <div class="label">Birthday</div>
        </div>
    </div>
    <div class="info-wrap job-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-briefcase"></i>
        <div class="info job-title">
            <div class="value one-line"></div>
            <div class="label">Job title</div>
        </div>
        <div class="info org-name">
            <div class="value one-line"></div>
            <div class="label">Company</div>
        </div>
        <div class="info org-unit">
            <div class="value one-line"></div>
            <div class="label">Unit</div>
        </div>
    </div>
    <div class="info-wrap site-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-web"></i>
        <div class="info url">
            <div class="value one-line"></div>
            <div class="label">Site</div>
        </div>
    </div>
    <div class="info-wrap description-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-file-document-box"></i>
        <div class="info description">
            <div class="value one-line"></div>
            <div class="label">Some description</div>
        </div>
    </div>
    <div class="info-wrap phone-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-phone"></i>
        <div class="info phone-work">
            <div class="value one-line"></div>
            <div class="label">Work</div>
        </div>
        <div class="info phone-home">
            <div class="value one-line"></div>
            <div class="label">Home</div>
        </div>
        <div class="info phone-mobile">
            <div class="value one-line"></div>
            <div class="label">Mobile</div>
        </div>
        <div class="info phone-default">
            <div class="value one-line"></div>
            <div class="label">Phone</div>
        </div>
    </div>
    <div class="info-wrap email-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-email"></i>
        <div class="info email-work">
            <div class="value one-line"></div>
            <div class="label">Work</div>
        </div>
        <div class="info email-home">
            <div class="value one-line"></div>
            <div class="label">Home</div>
        </div>
        <div class="info email-default">
            <div class="value one-line"></div>
            <div class="label">Email</div>
        </div>
    </div>
    <div class="info-wrap address-info-wrap hidden">
        <i title="Copy to clipboard" class="details-icon mdi mdi-24px mdi-map-marker"></i>
        <div class="info address-work">
            <div class="extadd value one-line"></div>
            <div class="street value one-line"></div>
            <div class="locality value one-line"></div>
            <div class="region value one-line"></div>
            <div class="pcode value one-line"></div>
            <div class="country value one-line"></div>
            <div class="label">Work</div>
        </div>
        <div class="info address-home">
            <div class="extadd value one-line"></div>
            <div class="street value one-line"></div>
            <div class="locality value one-line"></div>
            <div class="region value one-line"></div>
            <div class="pcode value one-line"></div>
            <div class="country value one-line"></div>
            <div class="label">Home</div>
        </div>
        <div class="info address-default">
            <div class="extadd value one-line"></div>
            <div class="street value one-line"></div>
            <div class="locality value one-line"></div>
            <div class="region value one-line"></div>
            <div class="pcode value one-line"></div>
            <div class="country value one-line"></div>
            <div class="label">Address</div>
        </div>
    </div>
    <button class="btn-vcard-edit btn-flat btn-main btn-dark ground-color-100 hover-ground-color-300 hidden">Edit</button>
</div>
