<div class="buttons-wrap">
    <button class="btn-vcard-save btn-flat btn-main text-color-500 ground-color-grey-100 hover-ground-color-grey-300">{[print(xabber.getString("vcard_edit__button_save"))]}</button>
</div>
<div class="vcard-edit-wrap">
    <div class="input-label">{[print(xabber.getString("vcard_type_personal"))]}</div>
    <div class="info-wrap personal-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="fullname"></svg>
        </div>
        <div class="input-field first-name">
            <input class="input-glow account-glow" id="{{view.cid}}-first-name" placeholder="{[print(xabber.getString('vcard_given_name'))]}" type="text" name="first_name">
        </div>
        <div class="input-field middle-name">
            <input class="input-glow account-glow" id="{{view.cid}}-middle-name" placeholder="{[print(xabber.getString('vcard_middle_name'))]}" type="text" name="middle_name">
        </div>
        <div class="input-field last-name">
            <input class="input-glow account-glow" id="{{view.cid}}-last-name" placeholder="{[print(xabber.getString('vcard_family_name'))]}" type="text" name="last_name">
        </div>
        <div class="input-field fullname">
            <input class="input-glow account-glow" id="{{view.cid}}-fullname" placeholder="{[print(xabber.getString('vcard_full_name'))]}" type="text" name="fullname">
        </div>
    </div>

    <div class="input-label">{[print(xabber.getString("vcard_nick_name"))]}</div>
    <div class="info-wrap nickname-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="account"></svg>
        </div>
        <div class="input-field nickname">
            <input class="input-glow account-glow" id="{{view.cid}}-nickname" placeholder="{[print(xabber.getString('vcard_nick_name'))]}" type="text" name="nickname">
        </div>
    </div>

    <div class="input-label">{[print(xabber.getString("vcard_birth_date"))]}</div>
    <div class="info-wrap birthday-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="birthday"></svg>
        </div>
        <div class="input-field birthday">
            <input class="input-glow account-glow" id="{{view.cid}}-birthday" placeholder="{[print(xabber.getString('vcard_birth_date_placeholder'))]}" type="text" class="datepicker">
        </div>
    </div>

    <div class="input-label">{[print(xabber.getString("vcard_job"))]}</div>
    <div class="info-wrap job-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="job"></svg>
        </div>
        <div class="input-field org-name">
            <input class="input-glow account-glow" id="{{view.cid}}-org-name" placeholder="{[print(xabber.getString('vcard_organization'))]}" type="text" name="org_name">
        </div>
        <div class="input-field job-title">
            <input class="input-glow account-glow" id="{{view.cid}}-job-title" placeholder="{[print(xabber.getString('vcard_title'))]}" type="text" name="job_title">
        </div>
        <div class="input-field org-unit">
            <input class="input-glow account-glow" id="{{view.cid}}-org-unit" placeholder="{[print(xabber.getString('vcard_organization_unit'))]}" type="text" name="org_unit">
        </div>
        <div class="input-field role">
            <input class="input-glow account-glow" id="{{view.cid}}-role" placeholder="{[print(xabber.getString('vcard_role'))]}" type="text" name="role">
        </div>
    </div>
    <div class="input-label">{[print(xabber.getString("vcard_url"))]}</div>
    <div class="info-wrap site-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="web"></svg>
        </div>
        <div class="input-field url">
            <input class="input-glow account-glow" id="{{view.cid}}-url" placeholder="{[print(xabber.getString('vcard_url_placeholder'))]}" type="text" name="url">
        </div>
    </div>
    <div class="input-label">{[print(xabber.getString("vcard_decsription"))]}</div>
    <div class="info-wrap description-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="description"></svg>
        </div>
        <div class="input-field description">
            <textarea id="{{view.cid}}-description" placeholder="{[print(xabber.getString('vcard_decsription_placeholder'))]}" type="text" cols="30" rows="10" class="text-field textarea-glow input-glow account-glow" name="description"></textarea>
        </div>
    </div>

    <div class="input-label">{[print(xabber.getString("vcard_telephone"))]}</div>
    <div class="info-wrap phone-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="call"></svg>
        </div>
        <div class="input-field phone-work">
            <input class="input-glow account-glow" id="{{view.cid}}-phone-work" placeholder="{[print(xabber.getString('vcard_type_work'))]}" type="text" name="phone_work">
        </div>
        <div class="input-field phone-home">
            <input class="input-glow account-glow" id="{{view.cid}}-phone-home" placeholder="{[print(xabber.getString('vcard_type_home'))]}" type="text" name="phone_home">
        </div>
        <div class="input-field phone-mobile">
            <input class="input-glow account-glow" id="{{view.cid}}-phone-mobile" placeholder="{[print(xabber.getString('vcard_type_mobile'))]}" type="text" name="phone_mobile">
        </div>
    </div>
    <div class="input-label">{[print(xabber.getString("vcard_email"))]}</div>
    <div class="info-wrap email-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="email"></svg>
        </div>
        <div class="input-field email-work">
            <input class="input-glow account-glow" id="{{view.cid}}-email-work" placeholder="{[print(xabber.getString('vcard_type_work'))]}" type="text" name="email_work">
        </div>
        <div class="input-field email-home">
            <input class="input-glow account-glow" id="{{view.cid}}-email-home" placeholder="{[print(xabber.getString('vcard_type_personal'))]}" type="text" name="email_home">
        </div>
    </div>

    <div class="input-label">{[print(xabber.getString("vcard_home_address"))]}</div>
    <div class="info-wrap address-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="address"></svg>
        </div>
        <div class="input-wrap address-wrap address-home-wrap">
            <div class="input-field pobox">
                <input class="input-glow account-glow" id="{{view.cid}}-po-home-box" placeholder="{[print(xabber.getString('vcard_address_pobox'))]}" type="text" name="po_home_box">
            </div>
            <div class="input-field extadd">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-extadd" placeholder="{[print(xabber.getString('vcard_address_extadr'))]}" type="text" name="addr_home_extadd">
            </div>
            <div class="input-field street">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-street" placeholder="{[print(xabber.getString('vcard_address_street'))]}" type="text" name="addr_home_street">
            </div>
            <div class="input-field locality">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-locality" placeholder="{[print(xabber.getString('vcard_address_locality'))]}" type="text" name="addr_home_locality">
            </div>
            <div class="input-field region">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-region" placeholder="{[print(xabber.getString('vcard_address_region'))]}" type="text" name="addr_home_region">
            </div>
            <div class="input-field pcode">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-pcode" placeholder="{[print(xabber.getString('vcard_address_pcode'))]}" type="text" name="addr_home_pcode">
            </div>
            <div class="input-field country">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-home-country" placeholder="{[print(xabber.getString('vcard_address_ctry'))]}" type="text" name="addr_home_country">
            </div>
        </div>
    </div>
    <div class="input-label">{[print(xabber.getString("vcard_work_address"))]}</div>
    <div class="info-wrap address-info-wrap">
        <div class="setting-icon-background">
            <svg class="details-icon mdi mdi-24px mdi-svg-template" data-svgname="address"></svg>
        </div>
        <div class="input-wrap address-wrap address-work-wrap">
            <div class="input-field pobox">
                <input class="input-glow account-glow" id="{{view.cid}}-po-work-box" placeholder="{[print(xabber.getString('vcard_address_pobox'))]}" type="text" name="po_work_box">
            </div>
            <div class="input-field extadd">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-extadd" placeholder="{[print(xabber.getString('vcard_address_extadr'))]}" type="text" name="addr_work_extadd">
            </div>
            <div class="input-field street">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-street" placeholder="{[print(xabber.getString('vcard_address_street'))]}" type="text" name="addr_work_street">
            </div>
            <div class="input-field locality">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-locality" placeholder="{[print(xabber.getString('vcard_address_locality'))]}" type="text" name="addr_work_locality">
            </div>
            <div class="input-field region">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-region" placeholder="{[print(xabber.getString('vcard_address_region'))]}" type="text" name="addr_work_region">
            </div>
            <div class="input-field pcode">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-pcode" placeholder="{[print(xabber.getString('vcard_address_pcode'))]}" type="text" name="addr_work_pcode">
            </div>
            <div class="input-field country">
                <input class="input-glow account-glow" id="{{view.cid}}-addr-work-country" placeholder="{[print(xabber.getString('vcard_address_ctry'))]}" type="text" name="addr_work_country">
            </div>
        </div>
    </div>
</div>
